unpackaged/main/default/flows/Account_New_POS_Solutions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_POS_Solution_Obj_To_Collection</name>
        <label>Assign POS Solution Obj To Collection</label>
        <locationX>700</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>New_POS_Solutions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POSSolutionTempObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POS_Solution_Number_Greater_Than_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IterateThroughPOSSolutions</name>
        <label>IterateThroughPOSSolutions</label>
        <locationX>699</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>CurrentPOSSolution</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfPOSSolutions</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.X3C_Instance_TID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3C_Instance_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.TMS_TID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TMS_TID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.PCI_PTS_Standard_version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCI_PTS_Standard_Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Planned_Install_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Planned_Install_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POSSolutionProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POSSolutionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Terminal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terminal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Comms_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comms_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Login__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Password__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Password</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Visa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visa_Card_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Amex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amex_Card_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Mastercard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mastercard_Card_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Diners__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Diners_Card_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.JCB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JCB_Card_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Planet_Union_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Planet_Union_Pay_Card_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Terminal_ID_TID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terminal_ID_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Acquiring_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acquiring_Bank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.PSP1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PSP.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Bank_TID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_TID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POSSolutionTempObject.Till_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Till_System.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_POS_Solution_Obj_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_POS_Solution_Iterator</name>
        <label>Reset POS Solution Iterator</label>
        <locationX>195</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>CurrentPOSSolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfPOSSolutions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_POS_Solutions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POS_Solution_Number_Greater_Than_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Value</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Value</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>More_Than_0_POS_Solutions_Entered</name>
        <label>More Than 0 POS Solutions Entered?</label>
        <locationX>50</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>No_POS_Solutions_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No POS Solution Entered</defaultConnectorLabel>
        <rules>
            <name>More_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_POS_Solutions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_POS_Solution_Values</targetReference>
            </connector>
            <label>More than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>POS_Solution_Number_Greater_Than_1</name>
        <label>POS Solution Number Greater Than 0?</label>
        <locationX>370</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Create_POS_Solutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfPOSSolutions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Terminal_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Amex_Card_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Amex__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CommsType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Comms_Type__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Diners_Card_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Diners__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JCB_Card_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>JCB__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Mastercard_Card_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Mastercard__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Planet_Union_Pay_Card_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Planet_Union_Pay__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POS_Solution_Terminal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Terminal__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POSSolutionProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Product__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POSSolutionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Solution</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Solution__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Visa_Card_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Visa__c</picklistField>
        <picklistObject>POS_Solution__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Account - New POS Solutions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - New POS Solutions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_POS_Solutions</name>
        <label>Create POS Solutions</label>
        <locationX>378</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DML_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>New_POS_Solutions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get_Current_Account</label>
        <locationX>58</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POS_Solution_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_POS_Solution_Values</name>
        <label>Add POS Solution Values</label>
        <locationX>195</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_POS_Solution_Iterator</targetReference>
        </connector>
        <fields>
            <name>POS_Solution_Status</name>
            <choiceReferences>POSSolutionStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>POS Solution Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Terminal</name>
                    <choiceReferences>POS_Solution_Terminal</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Terminal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comms_Type</name>
                    <choiceReferences>CommsType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Comms Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PT PAX</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Product</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Payments</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PAOL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Username</name>
                    <dataType>String</dataType>
                    <fieldText>Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Password</name>
                    <fieldText>Password</fieldText>
                    <fieldType>PasswordField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PT PAX</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3C_Instance_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Instance Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TMS_TID</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Terminal ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PCI_PTS_Standard_Version</name>
                    <dataType>String</dataType>
                    <fieldText>PCI PTS Standard Version</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Card_Options_Title</name>
                    <fieldText>&lt;p&gt;For Payments Solutions Please Select Card Options:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Product</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Payments</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Visa</name>
                    <choiceReferences>Visa_Card_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Visa:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mastercard</name>
                    <choiceReferences>Mastercard_Card_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mastercard:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amex</name>
                    <choiceReferences>Amex_Card_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Amex:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Payments</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diners</name>
                    <choiceReferences>Diners_Card_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Diners:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JCB</name>
                    <choiceReferences>JCB_Card_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>JCB:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Planet_Union_Pay</name>
                    <choiceReferences>Planet_Union_Pay_Card_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Planet Union Pay:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Payments</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Acquirer_Required</name>
                    <fieldText>&lt;p&gt;PA, PC and PA 3rd Party Solutions with Payments must have a related Acquirer.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Acquiring_Bank</name>
                    <dataType>String</dataType>
                    <fieldText>Acquiring Bank:</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;PA, PC and PA 3rd Party Solutions with Payments must have a related Acquirer.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Product</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Payments</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PC</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PAOL</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PA 3rd Party</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Required</name>
                    <fieldText>&lt;p&gt;You must have a contact associated to PI, PII, POL and PT solution types.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>POS_Solution__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PI</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PII</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PT</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>POL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_TID</name>
                    <dataType>String</dataType>
                    <fieldText>Bank TID:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_POS_Solution_Values_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PSP</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PSP1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>PSP</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>POS_Solution__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PA 3rd Party</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_POS_Solution_Values_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_POS_Solution_Values_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Till_System_Required</name>
                    <fieldText>&lt;p&gt;For PI Solutions please complete the Till System field.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Till_System</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Till_System__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Till System:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>POS_Solution__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Solution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PII</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DML_Error_Screen</name>
        <label>DML Error Screen</label>
        <locationX>546</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Terminal_ID</name>
        <label>Enter Terminal ID</label>
        <locationX>557</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IterateThroughPOSSolutions</targetReference>
        </connector>
        <fields>
            <name>Terminal_ID_Header</name>
            <fieldText>&lt;p&gt;Enter the Terminal ID for POS Solution &lt;b&gt;{!CurrentPOSSolution} &lt;/b&gt;of &lt;b&gt;{!Number_of_POS_Solutions}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Terminal_ID_1</name>
            <dataType>String</dataType>
            <fieldText>ITID:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_POS_Solutions_Entered</name>
        <label>No POS Solutions Entered</label>
        <locationX>60</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_POS_Solutions_Entered_Message</name>
            <fieldText>&lt;p&gt;Click &#39;Previous&#39; and enter a number of POS Solution that is greater than 0.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>POS_Solution_Number</name>
        <label>POS Solution Number</label>
        <locationX>58</locationX>
        <locationY>307</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>More_Than_0_POS_Solutions_Entered</targetReference>
        </connector>
        <fields>
            <name>POS_Solution_Number_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>POS_Solution_Number_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_POS_Solutions</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of POS Solutions Required:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>POS_Solution_Number_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Planned_Install_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Planned Install Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product</name>
            <choiceReferences>POSSolutionProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>POSSolution</name>
            <choiceReferences>Solution</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>377</locationX>
        <locationY>664</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Succes_Message</name>
            <fieldText>&lt;p&gt;POS Solutions created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>251</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentPOSSolution</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>New_POS_Solutions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>NoOfPOSSolutions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>POSSolutionTempObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
