unpackaged/main/default/flows/Add_Focus_Points.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignMerchantAccountPlan</name>
        <label>AssignMerchantAccountPlan</label>
        <locationX>800</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>varLoopFocusPoints.Merchant_Account_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMerchantAccountPlan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFocusPoints</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Add Focus Points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Focus Points</label>
    <loops>
        <name>LoopFocusPoints</name>
        <label>LoopFocusPoints</label>
        <locationX>799</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>varLoopFocusPoints</assignNextValueToReference>
        <collectionReference>ColVarFocusPoints</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMerchantAccountPlan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Focus_Points</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetFocusPoints</name>
        <label>GetFocusPoints</label>
        <locationX>450</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMerchantAccountPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>This_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Focus_Point__c</object>
        <outputReference>ColVarFocusPoints</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Merchant_Account_Plan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetMerchantAccountPlan</name>
        <label>GetMerchantAccountPlan</label>
        <locationX>616</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopFocusPoints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Year_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Merchant_Account_Plan__c</object>
        <outputReference>varMerchantAccountPlan</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Focus_Points</name>
        <label>Update Focus Points</label>
        <locationX>1056</locationX>
        <locationY>49</locationY>
        <inputReference>varLoopFocusPoints</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>GetFocusPoints</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColVarFocusPoints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Focus_Point__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varLoopFocusPoints</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Focus_Point__c</objectType>
    </variables>
    <variables>
        <name>varMerchantAccountPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>varMerchantAccountPlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
</Flow>
