unpackaged/main/default/flows/ANC1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_to_List</name>
        <label>Add Opportunity to List</label>
        <locationX>396</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>Opportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Annual_Net_Commission</name>
        <label>Assign Annual Net Commission</label>
        <locationX>244</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Opportunities.ANC1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunities.Annual_Net_Commission_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Opportunities.ANC2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunities.Annual_Net_Commission_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Opportunities.ANC3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunities.Annual_Net_Commission_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Opportunities.ANC4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunities.Annual_Net_Commission_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Opportunities.ANC5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunities.Annual_Net_Commission_5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_to_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ANC1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ANC1</label>
    <loops>
        <name>Loop_through_Opportunities</name>
        <label>Loop through Opportunities</label>
        <locationX>242</locationX>
        <locationY>491</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Annual_Net_Commission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>242</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Proposal Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Proposal Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Proposal Stopped</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ANC1__c</queriedFields>
        <queriedFields>ANC2__c</queriedFields>
        <queriedFields>ANC3__c</queriedFields>
        <queriedFields>ANC4__c</queriedFields>
        <queriedFields>Annual_Net_Commission_1__c</queriedFields>
        <queriedFields>Annual_Net_Commission_2__c</queriedFields>
        <queriedFields>Annual_Net_Commission_3__c</queriedFields>
        <queriedFields>Annual_Net_Commission_4__c</queriedFields>
        <queriedFields>ANC5__c</queriedFields>
        <queriedFields>Annual_Net_Commission_5__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>490</locationX>
        <locationY>491</locationY>
        <inputReference>Opportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>119</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Period__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
