unpackaged/main/default/flows/Change_Action_1st_Quarter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Quarter_Choice</name>
        <label>Quarter Choice</label>
        <locationX>279</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quarter_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarter 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quarter_2</targetReference>
            </connector>
            <label>Quarter 2</label>
        </rules>
        <rules>
            <name>Quarter_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarter 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quarter_3</targetReference>
            </connector>
            <label>Quarter 3</label>
        </rules>
        <rules>
            <name>Quarter_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarter 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quarter_4</targetReference>
            </connector>
            <label>Quarter 4</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChangeQuarter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Change_Quarter__c</picklistField>
        <picklistObject>Actions_1st_Quarter__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Change Action 1st Quarter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Action 1st Quarter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quarter_2</name>
        <label>Create Quarter 2</label>
        <locationX>135</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Delete_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Details__c</field>
            <value>
                <elementReference>varAction1.Action_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>varAction1.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varAction1.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Completed__c</field>
            <value>
                <elementReference>varAction1.Date_Completed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>New_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Score__c</field>
            <value>
                <elementReference>varAction1.Health_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_s_Email__c</field>
            <value>
                <elementReference>varAction1.Manager_s_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varAction1.Merchant_Account_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>varAction1.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varAction1.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkStream__c</field>
            <value>
                <elementReference>varAction1.WorkStream__c</elementReference>
            </value>
        </inputAssignments>
        <object>Action_2nd_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quarter_3</name>
        <label>Create Quarter 3</label>
        <locationX>293</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Delete_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Details__c</field>
            <value>
                <elementReference>varAction1.Action_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>varAction1.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varAction1.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Completed__c</field>
            <value>
                <elementReference>varAction1.Date_Completed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>New_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Score__c</field>
            <value>
                <elementReference>varAction1.Health_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_s_Email__c</field>
            <value>
                <elementReference>varAction1.Manager_s_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varAction1.Merchant_Account_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>varAction1.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varAction1.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkStream__c</field>
            <value>
                <elementReference>varAction1.WorkStream__c</elementReference>
            </value>
        </inputAssignments>
        <object>Action_3rd_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quarter_4</name>
        <label>Create Quarter 4</label>
        <locationX>434</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>Delete_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Details__c</field>
            <value>
                <elementReference>varAction1.Action_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>varAction1.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varAction1.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Completed__c</field>
            <value>
                <elementReference>varAction1.Date_Completed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>New_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Score__c</field>
            <value>
                <elementReference>varAction1.Health_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_s_Email__c</field>
            <value>
                <elementReference>varAction1.Manager_s_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varAction1.Merchant_Account_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>varAction1.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varAction1.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkStream__c</field>
            <value>
                <elementReference>varAction1.WorkStream__c</elementReference>
            </value>
        </inputAssignments>
        <object>Action_4th_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Action</name>
        <label>Delete Action</label>
        <locationX>291</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Quarter_Changed</targetReference>
        </connector>
        <inputReference>varAction1</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetAction</name>
        <label>GetAction</label>
        <locationX>164</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Quarter_and_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAction1Id</elementReference>
            </value>
        </filters>
        <object>Actions_1st_Quarter__c</object>
        <outputReference>varAction1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Action_Details__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Date_Completed__c</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Health_Score__c</queriedFields>
        <queriedFields>Manager_s_Email__c</queriedFields>
        <queriedFields>Merchant_Account_Plan__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>WorkStream__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <screens>
        <name>Change_Quarter_and_Date</name>
        <label>Change Quarter and Date</label>
        <locationX>288</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quarter_Choice</targetReference>
        </connector>
        <fields>
            <name>Quarter</name>
            <choiceReferences>ChangeQuarter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quarter</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>New Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quarter_Changed</name>
        <label>Quarter Changed</label>
        <locationX>288</locationX>
        <locationY>627</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quarter_Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(47, 166, 31); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Quarter Successfully Changed!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAction1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Actions_1st_Quarter__c</objectType>
    </variables>
    <variables>
        <name>varAction1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
