unpackaged/main/default/flows/Closure_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Selected_POS</name>
        <label>Add Selected POS</label>
        <locationX>1607</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_POS_Solutions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POS</name>
        <label>Assign POS</label>
        <locationX>1999</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>POS_Solution_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPOSLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POS1</name>
        <label>Assign POS</label>
        <locationX>1681</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>SelectedPOS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_POS_Solutions1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order</name>
        <label>Assign Work Order</label>
        <locationX>2171</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>varPOSLoop.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPOSLoop.Removal_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_POS</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AcceptedFormats</name>
        <dataType>String</dataType>
        <value>
            <stringValue>.pdf, .msg</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUploadLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Closed_or_Deactivated</name>
        <label>Closed_or_Deactivated</label>
        <locationX>388</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_or_Deactivated1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_store_Solutions_Closed</targetReference>
            </connector>
            <label>Closure</label>
        </rules>
        <rules>
            <name>Deactivation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_or_Deactivated1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>De_Activated_In_Store_Solutions</targetReference>
            </connector>
            <label>Deactivation</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSelectPOS</name>
        <label>decSelectPOS</label>
        <locationX>1991</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>LoopPos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPOS</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varPOSLoop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Integrated_Solution</name>
        <label>Integrated Solution</label>
        <locationX>1183</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateIntegratedWorkOrder</targetReference>
            </connector>
            <label>Integrated</label>
        </rules>
        <rules>
            <name>Not_Integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateWorkOrder</targetReference>
            </connector>
            <label>Not Integrated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Integrated_Solution1</name>
        <label>Integrated Solution</label>
        <locationX>1179</locationX>
        <locationY>474</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integrated1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Integrated_Work_Order</targetReference>
            </connector>
            <label>Integrated</label>
        </rules>
        <rules>
            <name>Not_Integrated1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateWorkOrderDe</targetReference>
            </connector>
            <label>Not Integrated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Notified</name>
        <label>Manager Notified</label>
        <locationX>834</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Manager_Notified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Manager_Notified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Information1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Manager_Notified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Workflow1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Notified1</name>
        <label>Manager Notified</label>
        <locationX>713</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Manager_Notifiedman</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Manager_Notifiedman</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Information2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Manager_Notifiedman</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Workflow2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Notified_Closure</name>
        <label>Manager Notified</label>
        <locationX>963</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Manager_Notified_Closure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Manager_Notified_Closure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Manager_Notified_Closure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Workflow</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual</name>
        <label>Manual</label>
        <locationX>667</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Forms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>In_Store_Solution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closure_Details1</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
        <rules>
            <name>NonManual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>In_Store_Solution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquiring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closure_Details</targetReference>
            </connector>
            <label>NonManual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Deactivation</name>
        <label>Manual</label>
        <locationX>520</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Forms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>In_Store_Solution1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closure_Details1</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
        <rules>
            <name>NonManual1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>In_Store_Solution1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>In_Store_Solution1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquiring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivation_Details</targetReference>
            </connector>
            <label>NonManual</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Manager_Notification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Account_Manager_Notified__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Closed_Deactivated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Closure_or_Deactivation__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>In_Store_Solution_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>In_Store_Solution__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POSChoice</name>
        <dataType>String</dataType>
        <displayField>Name_of_POS__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>POS_Solution__c</object>
        <outputAssignments>
            <assignToReference>varSelectedPOS</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason_for_Closing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Closing__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason_for_Deactivating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Deactivating__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DateSettoCloseonTFSystems</name>
        <dataType>Date</dataType>
        <expression>{!Date} + 10</expression>
    </formulas>
    <formulas>
        <name>DateShopClosingTFSystems</name>
        <dataType>Date</dataType>
        <expression>{!Date_Shop_Closing} + 100</expression>
    </formulas>
    <formulas>
        <name>DatetoDeactivateTFSystems</name>
        <dataType>Date</dataType>
        <expression>{!Date_to_Deactivate_Terminals} + 100</expression>
    </formulas>
    <interviewLabel>Closure Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closure Flow</label>
    <loops>
        <name>LoopPos</name>
        <label>LoopPos</label>
        <locationX>1672</locationX>
        <locationY>296</locationY>
        <assignNextValueToReference>varPOSLoop</assignNextValueToReference>
        <collectionReference>varPOS_Solution</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decSelectPOS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_POS_Solutions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Integrated_Work_Order</name>
        <label>Create Integrated Work Order</label>
        <locationX>1303</locationX>
        <locationY>596</locationY>
        <assignRecordIdToReference>varWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Get_POS_Solutions_De</targetReference>
        </connector>
        <inputAssignments>
            <field>AX__c</field>
            <value>
                <elementReference>AX1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Notified__c</field>
            <value>
                <elementReference>Account_Manager_Notified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddStore__c</field>
            <value>
                <elementReference>AddStore1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advised__c</field>
            <value>
                <elementReference>Retailer_Advised_to_Destroy_All_Forms1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Set_to_Close_on_TF_Systems__c</field>
            <value>
                <elementReference>DatetoDeactivateTFSystems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Deactivate_Terminals__c</field>
            <value>
                <elementReference>Date_to_Deactivate_Terminals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBTF__c</field>
            <value>
                <elementReference>GBTF1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAT__c</field>
            <value>
                <elementReference>HAT1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Store_Solution__c</field>
            <value>
                <elementReference>In_Store_Solution1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G24000001UF9m</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Deactivating__c</field>
            <value>
                <elementReference>Reason_for_Deactivating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000BJ5u</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Shop Deactivation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRS__c</field>
            <value>
                <elementReference>TRS1</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>1045</locationX>
        <locationY>687</locationY>
        <assignRecordIdToReference>varWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Attachment</targetReference>
        </connector>
        <inputAssignments>
            <field>AX__c</field>
            <value>
                <elementReference>AX2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Notified__c</field>
            <value>
                <elementReference>Account_Manager_Notifiedman</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddStore__c</field>
            <value>
                <elementReference>AddStore2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advised__c</field>
            <value>
                <elementReference>Retailer_Advised_to_Destroy_All_Forms2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Set_to_Close_on_TF_Systems__c</field>
            <value>
                <elementReference>DateShopClosingTFSystems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Shop_Closing__c</field>
            <value>
                <elementReference>Date_Shop_Closing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBTF__c</field>
            <value>
                <elementReference>GBTF2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAT__c</field>
            <value>
                <elementReference>HAT2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Store_Solution__c</field>
            <value>
                <stringValue>Manual Forms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Merchant_Closure__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G24000001UF9m</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing__c</field>
            <value>
                <elementReference>Reason_for_Closing2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000BJ5t</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Shop Closure Manual Forms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRS__c</field>
            <value>
                <elementReference>TRS2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateIntegratedWorkOrder</name>
        <label>CreateIntegratedWorkOrder</label>
        <locationX>1301</locationX>
        <locationY>405</locationY>
        <assignRecordIdToReference>varWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Get_POS_Solutions</targetReference>
        </connector>
        <inputAssignments>
            <field>AX__c</field>
            <value>
                <elementReference>AX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Notified__c</field>
            <value>
                <elementReference>Account_Manager_Notified_Closure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddStore__c</field>
            <value>
                <elementReference>AddStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advised__c</field>
            <value>
                <elementReference>Retailer_Advised_to_Destroy_All_Forms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Set_to_Close_on_TF_Systems__c</field>
            <value>
                <elementReference>DateSettoCloseonTFSystems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Shop_Closing__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBTF__c</field>
            <value>
                <elementReference>GBTF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAT__c</field>
            <value>
                <elementReference>HAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Store_Solution__c</field>
            <value>
                <elementReference>In_Store_Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Merchant_Closure__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G24000001UF9m</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing__c</field>
            <value>
                <elementReference>Reason_for_Closing1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000BJ5t</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Shop Closure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRS__c</field>
            <value>
                <elementReference>TRS</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>1301</locationX>
        <locationY>296</locationY>
        <assignRecordIdToReference>varWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Get_POS_Solutions</targetReference>
        </connector>
        <inputAssignments>
            <field>AX__c</field>
            <value>
                <elementReference>AX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Notified__c</field>
            <value>
                <elementReference>Account_Manager_Notified_Closure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddStore__c</field>
            <value>
                <elementReference>AddStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advised__c</field>
            <value>
                <elementReference>Retailer_Advised_to_Destroy_All_Forms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Set_to_Close_on_TF_Systems__c</field>
            <value>
                <elementReference>DateSettoCloseonTFSystems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Shop_Closing__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBTF__c</field>
            <value>
                <elementReference>GBTF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAT__c</field>
            <value>
                <elementReference>HAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Store_Solution__c</field>
            <value>
                <elementReference>In_Store_Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Merchant_Closure__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G24000001VPje</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing__c</field>
            <value>
                <elementReference>Reason_for_Closing1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000BJ5t</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Shop Closure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRS__c</field>
            <value>
                <elementReference>TRS</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWorkOrderDe</name>
        <label>CreateWorkOrderDe</label>
        <locationX>1303</locationX>
        <locationY>478</locationY>
        <assignRecordIdToReference>varWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Get_POS_Solutions_De</targetReference>
        </connector>
        <inputAssignments>
            <field>AX__c</field>
            <value>
                <elementReference>AX1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Notified__c</field>
            <value>
                <elementReference>Account_Manager_Notified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddStore__c</field>
            <value>
                <elementReference>AddStore1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advised__c</field>
            <value>
                <elementReference>Retailer_Advised_to_Destroy_All_Forms1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Set_to_Close_on_TF_Systems__c</field>
            <value>
                <elementReference>DatetoDeactivateTFSystems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Deactivate_Terminals__c</field>
            <value>
                <elementReference>Date_to_Deactivate_Terminals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBTF__c</field>
            <value>
                <elementReference>GBTF1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAT__c</field>
            <value>
                <elementReference>HAT1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Store_Solution__c</field>
            <value>
                <elementReference>In_Store_Solution1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G24000001VPje</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Deactivating__c</field>
            <value>
                <elementReference>Reason_for_Deactivating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000BJ5u</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Shop Deactivation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRS__c</field>
            <value>
                <elementReference>TRS1</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_POS_Solutions</name>
        <label>Get POS Solutions</label>
        <locationX>1405</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_POS_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </filters>
        <object>POS_Solution__c</object>
        <outputReference>varPOS_Solution</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_POS_Solutions_De</name>
        <label>Get POS Solutions De</label>
        <locationX>1422</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_POS_Attachments1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </filters>
        <object>POS_Solution__c</object>
        <outputReference>varPOS_Solution</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>2171</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrder</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>varNewWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>160</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closure_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdText</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountIdText</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMIDs</name>
        <label>GetMIDs</label>
        <locationX>2024</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateMIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POS_Solution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOSLoop.Id</elementReference>
            </value>
        </filters>
        <object>MIDJ__c</object>
        <outputReference>varMIDs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_POS_Solutions</name>
        <label>Update POS Solutions</label>
        <locationX>1904</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>GetMIDs</targetReference>
        </connector>
        <inputReference>POS_Solution_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMIDs</name>
        <label>UpdateMIDs</label>
        <locationX>2142</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Flow_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POS_Solution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPOSLoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>varWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <object>MIDJ__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Attachment</name>
        <label>Add Attachment</label>
        <locationX>1202</locationX>
        <locationY>695</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flow_Completed</targetReference>
        </connector>
        <fields>
            <name>ProofofClosure2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Upload proof of closure from store or Account Manager﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>conUploadLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varWorkOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>AcceptedFormats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>varAttachments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>varAttachmentsName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAttachments</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varWorkOrder</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varAttachmentsName</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Information</name>
        <label>Additional Information</label>
        <locationX>1096</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Integrated_Solution</targetReference>
        </connector>
        <fields>
            <name>Retailer_Advised_to_Destroy_All_Forms</name>
            <choiceReferences>Account_Manager_Notification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retailer Advised to Destroy All Forms?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Tax_Free_Systems</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Have you closed in all Tax Free Systems (tick boxes)?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TRS</name>
            <dataType>Boolean</dataType>
            <fieldText>TRS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GBTF</name>
            <dataType>Boolean</dataType>
            <fieldText>GBTF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HAT</name>
            <dataType>Boolean</dataType>
            <fieldText>HAT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AX</name>
            <dataType>Boolean</dataType>
            <fieldText>AX</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddStore</name>
            <dataType>Boolean</dataType>
            <fieldText>AddStore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Information1</name>
        <label>Additional Information</label>
        <locationX>1069</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Integrated_Solution1</targetReference>
        </connector>
        <fields>
            <name>Retailer_Advised_to_Destroy_All_Forms1</name>
            <choiceReferences>Account_Manager_Notification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retailer Advised to Destroy All Forms?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Tax_Free_Systems1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Have you closed in all Tax Free Systems (tick boxes)?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TRS1</name>
            <dataType>Boolean</dataType>
            <fieldText>TRS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GBTF1</name>
            <dataType>Boolean</dataType>
            <fieldText>GBTF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HAT1</name>
            <dataType>Boolean</dataType>
            <fieldText>HAT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AX1</name>
            <dataType>Boolean</dataType>
            <fieldText>AX</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddStore1</name>
            <dataType>Boolean</dataType>
            <fieldText>AddStore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Information2</name>
        <label>Additional Information</label>
        <locationX>900</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Retailer_Advised_to_Destroy_All_Forms2</name>
            <choiceReferences>Account_Manager_Notification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retailer Advised to Destroy All Forms?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Tax_Free_Systems2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Have you closed in all Tax Free Systems (tick boxes)?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TRS2</name>
            <dataType>Boolean</dataType>
            <fieldText>TRS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GBTF2</name>
            <dataType>Boolean</dataType>
            <fieldText>GBTF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HAT2</name>
            <dataType>Boolean</dataType>
            <fieldText>HAT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AX2</name>
            <dataType>Boolean</dataType>
            <fieldText>AX</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddStore2</name>
            <dataType>Boolean</dataType>
            <fieldText>AddStore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closure_Details</name>
        <label>Closure Details</label>
        <locationX>848</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manager_Notified_Closure</targetReference>
        </connector>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date Shop is Closing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Closing1</name>
            <choiceReferences>Reason_for_Closing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Closing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Manager_Notified_Closure</name>
            <choiceReferences>Account_Manager_Notification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Manager Notified</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closure_Details1</name>
        <label>Closure Details</label>
        <locationX>605</locationX>
        <locationY>684</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manager_Notified1</targetReference>
        </connector>
        <fields>
            <name>Date_Shop_Closing</name>
            <dataType>Date</dataType>
            <fieldText>Date Shop Closing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Closing2</name>
            <choiceReferences>Reason_for_Closing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Closing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Manager_Notifiedman</name>
            <choiceReferences>Account_Manager_Notification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Manager Notified</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closure_Type</name>
        <label>Closure Type</label>
        <locationX>270</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Closed_or_Deactivated</targetReference>
        </connector>
        <fields>
            <name>Closure_Selection</name>
            <fieldText>&lt;p&gt;Select whether the shop is closed or deactivated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Closed_or_Deactivated1</name>
            <choiceReferences>Closed_Deactivated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Closed or Deactivated</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>De_Activated_In_Store_Solutions</name>
        <label>De-Activated In-Store Solutions</label>
        <locationX>397</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manual_Deactivation</targetReference>
        </connector>
        <fields>
            <name>Select_Only_One</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the In-Store solution (select only one)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>In_Store_Solution1</name>
            <choiceReferences>In_Store_Solution_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In-Store Solution</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deactivation_Details</name>
        <label>Deactivation Details</label>
        <locationX>700</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manager_Notified</targetReference>
        </connector>
        <fields>
            <name>Date_to_Deactivate_Terminals</name>
            <dataType>Date</dataType>
            <fieldText>Date to Deactivate Terminals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Deactivating1</name>
            <choiceReferences>Reason_for_Deactivating</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Deactivating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Manager_Notified</name>
            <choiceReferences>Account_Manager_Notification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Manager Notified</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Completed</name>
        <label>Flow Completed</label>
        <locationX>1403</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WorkflowCompleted</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(53, 144, 32); font-family: sans-serif; font-size: 16px;&quot;&gt;The shop closure/deactivation process is now complete.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>In_store_Solutions_Closed</name>
        <label>In-store Solutions</label>
        <locationX>564</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manual</targetReference>
        </connector>
        <fields>
            <name>Select_Solution</name>
            <fieldText>&lt;p&gt;Select the In-Store solution (select only one)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>In_Store_Solution</name>
            <choiceReferences>In_Store_Solution_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In-Store Solution</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pause_Workflow</name>
        <label>Pause Workflow</label>
        <locationX>970</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PauseWorkflow</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Please pause the workflow and return to it when the Account Manager has been notified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pause_Workflow1</name>
        <label>Pause Workflow</label>
        <locationX>841</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PauseWorkflow1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Please pause the workflow and return to it when the Account Manager has been notified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pause_Workflow2</name>
        <label>Pause Workflow</label>
        <locationX>718</locationX>
        <locationY>807</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PauseWorkflow2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Please pause the workflow and return to it when the Account Manager has been notified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_POS_Attachments</name>
        <label>Select POS &amp; Attachments</label>
        <locationX>1530</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Selected_POS</targetReference>
        </connector>
        <fields>
            <name>Select_POS_Solutions</name>
            <choiceReferences>POSChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select POS Solutions</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProofofClosure</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Upload proof of closure from store or Account Manager&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>conUploadLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varWorkOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>AcceptedFormats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>varAttachments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>varAttachmentsName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAttachments</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varWorkOrder</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varAttachmentsName</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_POS_Attachments1</name>
        <label>Select POS &amp; Attachments</label>
        <locationX>1519</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_POS1</targetReference>
        </connector>
        <fields>
            <name>Select_POS_Solutions1</name>
            <choiceReferences>POSChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select POS Solutions</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProofofClosure1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Upload proof of closure from store or Account Manager﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>conUploadLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varWorkOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>AcceptedFormats</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>varAttachments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>varAttachmentsName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAttachments</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varWorkOrder</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varAttachmentsName</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>POS_Solution_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>SelectedPOS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountIdText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttachment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttachments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttachmentsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MIDJ__c</objectType>
    </variables>
    <variables>
        <name>varNewWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varPOS_Solution</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>varPOSLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>varSelectedPOS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
