unpackaged/main/default/flows/cm_feedback_on_account_management_pilot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_0ad8306e_e9a1_4b3e_9c46_d44885b8ef83</name>
        <choiceText>a lot of value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a lot of value</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0ba11302_cca4_45c1_802b_5afdb07c8751</name>
        <choiceText>Pipeline Opportunity Analysis and Forecasting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pipeline Opportunity Analysis and Forecasting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_201ffe39_c00f_4f5d_a24a_08cd7f37475a</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3807514b_2d4f_4a0b_ac10_259683e14d83</name>
        <choiceText>Sales Team Activity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Team Activity</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_421442de_3a54_4346_a728_9574a22149b1</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4b703712_edb7_4730_9c46_fa82dc2e1915</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_53b16937_7ebe_4f1a_8991_04eb01767cd0</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_63114847_246a_49c7_b06d_b94b02db8a12</name>
        <choiceText>see very little value/ benefit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>see very little value/ benefit</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_691e93ec_de58_4cb4_85d9_b0c526ce1e66</name>
        <choiceText>Account Management Activity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Management Activity</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_748a20f8_c514_4027_9ae2_8ab4694ca285</name>
        <choiceText>some, limited value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>some, limited value</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7ac20201_8e18_4158_8627_fb5edb3ce121</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a6d29903_998b_4641_bb1b_105c0ffc2150</name>
        <choiceText>game changing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>game changing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cd35621e_b409_401e_9091_1f9d467b5d59</name>
        <choiceText>Didn&#39;t really use SF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Didn&#39;t really use SF </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dc3c9984_86aa_4b85_aa43_5c16dc74ef44</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>CM Feedback on Account Management Pilot</interviewLabel>
    <label>CM Feedback on Account Management Pilot</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_6f069182_5b07_4e8f_81d2_6af270e5ccba</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_cc9ef1be_0575_4719_a5af_8acbdad0a5c2</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9e1f3b37_089c_4f50_980d_023569b41bba</name>
            <choiceReferences>c_0ba11302_cca4_45c1_802b_5afdb07c8751</choiceReferences>
            <choiceReferences>c_691e93ec_de58_4cb4_85d9_b0c526ce1e66</choiceReferences>
            <choiceReferences>c_3807514b_2d4f_4a0b_ac10_259683e14d83</choiceReferences>
            <choiceReferences>c_cd35621e_b409_401e_9091_1f9d467b5d59</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Prior to this pilot, what data would you have primarily used Salesforce to review ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3ca6df38_1390_40de_8782_6dba38d3eb7e</name>
            <choiceReferences>c_63114847_246a_49c7_b06d_b94b02db8a12</choiceReferences>
            <choiceReferences>c_748a20f8_c514_4027_9ae2_8ab4694ca285</choiceReferences>
            <choiceReferences>c_0ad8306e_e9a1_4b3e_9c46_d44885b8ef83</choiceReferences>
            <choiceReferences>c_a6d29903_998b_4641_bb1b_105c0ffc2150</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Following the Pilot, how would you rate the value of the data in Salesforce, from new account management /account plan structure and enhanced BI analytics?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_75b928b3_8688_4a0a_b373_84feb9d38598</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6f069182_5b07_4e8f_81d2_6af270e5ccba</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_be1a8a0f_2798_4058_b967_f778e17effce_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_be1a8a0f_2798_4058_b967_f778e17effce</name>
            <choiceReferences>c_421442de_3a54_4346_a728_9574a22149b1</choiceReferences>
            <choiceReferences>c_dc3c9984_86aa_4b85_aa43_5c16dc74ef44</choiceReferences>
            <choiceReferences>c_201ffe39_c00f_4f5d_a24a_08cd7f37475a</choiceReferences>
            <choiceReferences>c_4b703712_edb7_4730_9c46_fa82dc2e1915</choiceReferences>
            <choiceReferences>c_53b16937_7ebe_4f1a_8991_04eb01767cd0</choiceReferences>
            <choiceReferences>c_7ac20201_8e18_4158_8627_fb5edb3ce121</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How would you rate the overall Pilot process?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a9924473_c018_4c6f_8f0c_7e504879534e</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What worked well ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3c3d67ed_2153_4ad3_bbdb_40836b69e7a1</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What didn&#39;t work well and why?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_cc9ef1be_0575_4719_a5af_8acbdad0a5c2</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5c28385e_cb13_4e91_9124_7d0d9a97ff11</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please share your thoughts on how we move forward and where you see greatest need for additional support for you and your team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_75b928b3_8688_4a0a_b373_84feb9d38598</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>CM feedback on Account Management Pilot</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Dear Country Managers, &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Thank you for your participation in and support of our account management pilot.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;We would be most grateful if you could complete this short survey and submit it back to us&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_be1a8a0f_2798_4058_b967_f778e17effce_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
