unpackaged/main/default/flows/Create_Terminal_Detail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>decRecordType</name>
        <label>decRecordType</label>
        <locationX>506</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuantityVx</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateVxTerminalDetails</targetReference>
            </connector>
            <label>Vx</label>
        </rules>
        <rules>
            <name>PAX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuantityPax</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePaxTerminal</targetReference>
            </connector>
            <label>PAX</label>
        </rules>
        <rules>
            <name>PTF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuantityPTF</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePTFTerminalDetails</targetReference>
            </connector>
            <label>PTF</label>
        </rules>
    </decisions>
    <interviewLabel>Create Terminal Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Terminal Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePaxTerminal</name>
        <label>CreatePaxTerminal</label>
        <locationX>595</locationX>
        <locationY>228</locationY>
        <assignRecordIdToReference>TerminalDetailId.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Avg_Acquiring_Profit_per_Terminal_Year__c</field>
            <value>
                <elementReference>varAvgAcquiringProfitPerTerminal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Net_Comm_Per_Terminal__c</field>
            <value>
                <elementReference>varAvgNetCommPerTerminal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_to_Request__c</field>
            <value>
                <elementReference>varBackgroundtoRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>varConnectionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_Office__c</field>
            <value>
                <elementReference>varParentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_PAX__c</field>
            <value>
                <elementReference>varQuantityPax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>varReasonForRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000gXJpAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Return_Per_Month__c</field>
            <value>
                <elementReference>varRentalReturnPerMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Brand_Location__c</field>
            <value>
                <elementReference>varShopBrandLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>varSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Request__c</field>
            <value>
                <elementReference>varTerminalRequestId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>varUse</elementReference>
            </value>
        </inputAssignments>
        <object>Terminal_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreatePTFTerminalDetails</name>
        <label>CreatePTFTerminalDetails</label>
        <locationX>453</locationX>
        <locationY>229</locationY>
        <assignRecordIdToReference>TerminalDetailId.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Avg_Net_Comm_Per_Terminal__c</field>
            <value>
                <elementReference>varAvgNetCommPerTerminal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_to_Request__c</field>
            <value>
                <elementReference>varBackgroundtoRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>varConnectionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_Office__c</field>
            <value>
                <elementReference>varParentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_PTF__c</field>
            <value>
                <elementReference>varQuantityPTF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>varReasonForRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125J000000gGZ8QAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Return_Per_Month__c</field>
            <value>
                <elementReference>varRentalReturnPerMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Brand_Location__c</field>
            <value>
                <elementReference>varShopBrandLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>varSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Request__c</field>
            <value>
                <elementReference>varTerminalRequestId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>varUse</elementReference>
            </value>
        </inputAssignments>
        <object>Terminal_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateVxTerminalDetails</name>
        <label>CreateVxTerminalDetails</label>
        <locationX>670</locationX>
        <locationY>54</locationY>
        <assignRecordIdToReference>TerminalDetailId.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Avg_Acquiring_Profit_per_Terminal_Year__c</field>
            <value>
                <elementReference>varAvgAcquiringProfitPerTerminal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Net_Comm_Per_Terminal__c</field>
            <value>
                <elementReference>varAvgNetCommPerTerminal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_to_Request__c</field>
            <value>
                <elementReference>varBackgroundtoRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>varConnectionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_Office__c</field>
            <value>
                <elementReference>varParentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Vx__c</field>
            <value>
                <elementReference>varQuantityVx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>varReasonForRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000gXJuAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Return_Per_Month__c</field>
            <value>
                <elementReference>varRentalReturnPerMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Brand_Location__c</field>
            <value>
                <elementReference>varShopBrandLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>varSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Request__c</field>
            <value>
                <elementReference>varTerminalRequestId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>varUse</elementReference>
            </value>
        </inputAssignments>
        <object>Terminal_Detail__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetTerminalRequest</name>
        <label>GetTerminalRequest</label>
        <locationX>391</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTerminalRequestId.Id</elementReference>
            </value>
        </filters>
        <object>Terminal_Request__c</object>
        <outputAssignments>
            <assignToReference>varAvgAcquiringProfitPerTerminal</assignToReference>
            <field>Avg_Acquiring_Profit_per_Terminal_Year__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAvgNetCommPerTerminal</assignToReference>
            <field>Avg_Net_Comm_Per_Terminal_per_Year__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBackgroundtoRequest</assignToReference>
            <field>Background_to_Request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCommsType</assignToReference>
            <field>Comms_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varConnectionType</assignToReference>
            <field>Connection_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTerminalRequestId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId.Id</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentAccount.Id</assignToReference>
            <field>Parent_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuantityPax</assignToReference>
            <field>Quantity_PAX_Terminals__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuantityPTF</assignToReference>
            <field>Quantity_PTF_Terminals__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuantityVx</assignToReference>
            <field>Quantity_Vx_Terminals__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReasonForRequest</assignToReference>
            <field>Reason_for_Request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRentalReturnPerMonth</assignToReference>
            <field>Rental_Return_Per_Month__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShopBrandLocation</assignToReference>
            <field>Shop_Brand_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSolution</assignToReference>
            <field>Solution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTerminalType</assignToReference>
            <field>Terminal_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUse</assignToReference>
            <field>Use__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>51</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>GetTerminalRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TerminalDetailId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Terminal_Detail__c</objectType>
    </variables>
    <variables>
        <name>varAvgAcquiringProfitPerTerminal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAvgNetCommPerTerminal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBackgroundtoRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommsType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varConnectionType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrencyIsoCode</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varQuantityPax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varQuantityPTF</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varQuantityVx</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varReasonForRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRentalReturnPerMonth</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varShopBrandLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSolution</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerminalRequestId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Terminal_Request__c</objectType>
    </variables>
    <variables>
        <name>varTerminalType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUse</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
