unpackaged/main/default/flows/ika_manager_survey_on_account_plan_pilot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_1e129be9_dc00_4b27_be29_991847ff78c6</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2007f4ed_a832_41fe_a1ea_bb338d7a0479</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_271bbc28_472d_4d6c_b59c_fe5320aae2b1</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3047497b_6e3c_4533_b54e_0a5d3dccfd99</name>
        <choiceText>limited value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>limited value</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d8d7355_b256_4215_ba05_2867efe5d01d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_64dd3403_f612_49c2_96e5_294eb456827c</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7b275eb6_e6ae_4005_876d_507b14ebb7d4</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8167efc4_cf13_48df_a53c_b23ac609aa97</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_aee93cce_5cfd_4544_923a_c0b49286ceb7</name>
        <choiceText>game changing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>game changing </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af26bce8_9e6d_4bdb_94c7_674840898514</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cad06f47_f73d_478d_a38e_19e8b1a8c510</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e3311d82_4243_4341_9da8_5ccb5fc1d904</name>
        <choiceText>a lot of value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a lot of value</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e58e6892_8fa0_49f0_9784_05e3524a112d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f6bf1d33_dbef_462c_9e70_f0f7d5946384</name>
        <choiceText>see very little / no value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>see very little / no value</stringValue>
        </value>
    </choices>
    <interviewLabel>IKA Manager Survey on Account Plan  Pilot</interviewLabel>
    <label>IKA Manager Survey on Account Plan  Pilot</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_8e824819_a7cd_4152_8cf8_1bf1ba9c869a</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_b95fd631_f723_4977_8087_597e13010f94</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f99ed311_152a_46c8_9be4_e1e631e2b7fe_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f99ed311_152a_46c8_9be4_e1e631e2b7fe</name>
            <choiceReferences>c_cad06f47_f73d_478d_a38e_19e8b1a8c510</choiceReferences>
            <choiceReferences>c_8167efc4_cf13_48df_a53c_b23ac609aa97</choiceReferences>
            <choiceReferences>c_64dd3403_f612_49c2_96e5_294eb456827c</choiceReferences>
            <choiceReferences>c_2007f4ed_a832_41fe_a1ea_bb338d7a0479</choiceReferences>
            <choiceReferences>c_af26bce8_9e6d_4bdb_94c7_674840898514</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How well did the infill sales managers engage with you during the child account plan process?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_c91f914c_120a_40f3_99a6_920f0bc3c68c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_c91f914c_120a_40f3_99a6_920f0bc3c68c</name>
            <choiceReferences>c_1e129be9_dc00_4b27_be29_991847ff78c6</choiceReferences>
            <choiceReferences>c_7b275eb6_e6ae_4005_876d_507b14ebb7d4</choiceReferences>
            <choiceReferences>c_4d8d7355_b256_4215_ba05_2867efe5d01d</choiceReferences>
            <choiceReferences>c_e58e6892_8fa0_49f0_9784_05e3524a112d</choiceReferences>
            <choiceReferences>c_271bbc28_472d_4d6c_b59c_fe5320aae2b1</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How would you rate the quality of the child account plans submitted to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_29ad9900_b9be_4b94_8424_a5c925b1c850</name>
            <choiceReferences>c_f6bf1d33_dbef_462c_9e70_f0f7d5946384</choiceReferences>
            <choiceReferences>c_3047497b_6e3c_4533_b54e_0a5d3dccfd99</choiceReferences>
            <choiceReferences>c_e3311d82_4243_4341_9da8_5ccb5fc1d904</choiceReferences>
            <choiceReferences>c_aee93cce_5cfd_4544_923a_c0b49286ceb7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;In your role as IKA Manager, how would you rate the value of having the new Salesforce account plan and child account plan structure ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_76b3d9a3_418c_4db5_9196_2a275e50c182</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What are the biggest challenges for you in your role as IKA Manager ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ebf2a573_a5be_4884_8397_fe11fc74a5f6</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Has the Salesforce account plan and child account plan structure addressed any of those challenges ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_97ddefb1_9115_49fd_b94a_da601ad22296</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8e824819_a7cd_4152_8cf8_1bf1ba9c869a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e13806a9_be21_4867_9614_7bb2ae07aa45</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What was your overall experience of the pilot?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_582f115e_92af_4005_b8a1_84ae5eeeb433</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What worked well?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cc5f0064_c363_4712_945f_462a02ea2b2c</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What did not work well and why?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9601e00f_0c9a_4759_9f5e_93c453329c1e</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What was the stand out learning for you? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b95fd631_f723_4977_8087_597e13010f94</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8b6d4dee_e8f2_4f76_8a52_fd1135b9e404</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;Please share your thoughts on how we move forward, where we can improve , what support / structure you feel may be missing for the IKA Manager in their role.&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_97ddefb1_9115_49fd_b94a_da601ad22296</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you for your feedback!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account Management Pilot Feedback 
As part of our review, we wanted to get your feedback on the pilot overall and in particular the IKA child account plan reviews.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Dear IKA Managers, &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Thank you for your participation in and support of our account management pilot. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;We would be most grateful if you could complete this short survey and submit it back to us&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_c91f914c_120a_40f3_99a6_920f0bc3c68c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f99ed311_152a_46c8_9be4_e1e631e2b7fe_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
