unpackaged/main/default/flows/Lead_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Lead Currency</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Set Lead Source</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( [Lead].Country , 
&quot;United Arab Emirates&quot;,&quot;AED&quot;,  
&quot;Brazil&quot;,&quot;BRL&quot;,  
&quot;Canada&quot;,&quot;CAD&quot;,  
&quot;Switzerland&quot;,&quot;CHF&quot;,  
&quot;Liechtenstein&quot;,&quot;CHF&quot;,  
&quot;Czech Republic&quot;,&quot;CZK&quot;,  
&quot;Denmark&quot;,&quot;DKK&quot;,  
&quot;Faroe Islands&quot;,&quot;DKK&quot;,  
&quot;Greenland&quot;,&quot;DKK&quot;,  
&quot;United Kingdom&quot;,&quot;GBP&quot;,
&quot;Gibraltar&quot;,&quot;GBP&quot;,
&quot;Guernsey&quot;,&quot;GBP&quot;,
&quot;Isle of Man&quot;,&quot;GBP&quot;,
&quot;Jersey&quot;,&quot;GB&quot;,
&quot;Hungary&quot;,&quot;HUF&quot;,
&quot;Iceland&quot;,&quot;ISK&quot;,
&quot;Korea, Republic of&quot;,&quot;KRW&quot;,
&quot;Mexico&quot;,&quot;MXN&quot;,
&quot;Norway&quot;,&quot;NOK&quot;,
&quot;Svalbard and Jan Mayen&quot;,&quot;NOK&quot;,
&quot;Poland&quot;,&quot;PLN&quot;,
&quot;Russian Federation&quot;,&quot;RUB&quot;,
&quot;Sweden&quot;,&quot;SEK&quot;,
&quot;Singapore&quot;,&quot;SGD&quot;,
&quot;Turkey&quot;,&quot;TRY&quot;,
&quot;United States&quot;,&quot;USD&quot;,
&quot;EUR&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5184205441</name>
        <dataType>String</dataType>
        <expression>CASE( {!myVariable_current.Country} , 
&quot;United Arab Emirates&quot;,&quot;AED&quot;,  
&quot;Brazil&quot;,&quot;BRL&quot;,  
&quot;Canada&quot;,&quot;CAD&quot;,  
&quot;Switzerland&quot;,&quot;CHF&quot;,  
&quot;Liechtenstein&quot;,&quot;CHF&quot;,  
&quot;Czech Republic&quot;,&quot;CZK&quot;,  
&quot;Denmark&quot;,&quot;DKK&quot;,  
&quot;Faroe Islands&quot;,&quot;DKK&quot;,  
&quot;Greenland&quot;,&quot;DKK&quot;,  
&quot;United Kingdom&quot;,&quot;GBP&quot;,
&quot;Gibraltar&quot;,&quot;GBP&quot;,
&quot;Guernsey&quot;,&quot;GBP&quot;,
&quot;Isle of Man&quot;,&quot;GBP&quot;,
&quot;Jersey&quot;,&quot;GB&quot;,
&quot;Hungary&quot;,&quot;HUF&quot;,
&quot;Iceland&quot;,&quot;ISK&quot;,
&quot;Korea, Republic of&quot;,&quot;KRW&quot;,
&quot;Mexico&quot;,&quot;MXN&quot;,
&quot;Norway&quot;,&quot;NOK&quot;,
&quot;Svalbard and Jan Mayen&quot;,&quot;NOK&quot;,
&quot;Poland&quot;,&quot;PLN&quot;,
&quot;Russian Federation&quot;,&quot;RUB&quot;,
&quot;Sweden&quot;,&quot;SEK&quot;,
&quot;Singapore&quot;,&quot;SGD&quot;,
&quot;Turkey&quot;,&quot;TRY&quot;,
&quot;United States&quot;,&quot;USD&quot;,
&quot;EUR&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Lead_On_Create-5_InterviewLabel</interviewLabel>
    <label>Lead - On Create</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Currency</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5184205441</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update Lead Source</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Source</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>LeadSource</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
