unpackaged/main/default/flows/Mass_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignWorkOrder</name>
        <label>AssignWorkOrder</label>
        <locationX>798</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>varLoop2.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePOS</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Account_Manager_Notified1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Account_Manager_Notified__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>In_Store_Solution_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>In_Store_Solution__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason_for_Closing1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Closing__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DateSettoCloseonTFSystems</name>
        <dataType>Date</dataType>
        <expression>{!Close_Date} + 10</expression>
    </formulas>
    <interviewLabel>Mass Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Closure</label>
    <loops>
        <name>LoopAccounts</name>
        <label>LoopAccounts</label>
        <locationX>409</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>varLoop</assignNextValueToReference>
        <collectionReference>varCollAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateWorkOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPOS</name>
        <label>LoopPOS</label>
        <locationX>666</locationX>
        <locationY>215</locationY>
        <assignNextValueToReference>varLoop2</assignNextValueToReference>
        <collectionReference>varAllPOSSolutions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetWorkOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>409</locationX>
        <locationY>216</locationY>
        <assignRecordIdToReference>varWorkOrder.Id</assignRecordIdToReference>
        <connector>
            <targetReference>GetPOS</targetReference>
        </connector>
        <inputAssignments>
            <field>AX__c</field>
            <value>
                <elementReference>AX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Notified__c</field>
            <value>
                <elementReference>Account_Manager_Notified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddStore__c</field>
            <value>
                <elementReference>Addstore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advised__c</field>
            <value>
                <elementReference>Retailer_Advised_to_Destroy_All_Forms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Set_to_Close_on_TF_Systems__c</field>
            <value>
                <elementReference>DateSettoCloseonTFSystems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Shop_Closing__c</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBTF__c</field>
            <value>
                <elementReference>GBTF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HAT__c</field>
            <value>
                <elementReference>HAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Store_Solution__c</field>
            <value>
                <elementReference>In_Store_Solution_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Merchant_Closure__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G24000001VPje</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Closing__c</field>
            <value>
                <elementReference>Reason_for_Closing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o000000BJ5t</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Shop Closure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRS__c</field>
            <value>
                <elementReference>TRS</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>GetPOS</name>
        <label>GetPOS</label>
        <locationX>538</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPOS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>POS_Solution__c</object>
        <outputReference>varAllPOSSolutions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>668</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>varWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePOS</name>
        <label>UpdatePOS</label>
        <locationX>798</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>LoopPOS</targetReference>
        </connector>
        <inputReference>varLoop2</inputReference>
    </recordUpdates>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>654</locationX>
        <locationY>45</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(15, 163, 62); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Mass Closure Flow Completed!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Details</name>
        <label>Enter Details</label>
        <locationX>276</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopAccounts</targetReference>
        </connector>
        <fields>
            <name>Select_Solution</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the In-Store solution&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>In_Store_Solution</name>
            <choiceReferences>In_Store_Solution_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In-Store Solution</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Date Shops are Closing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Closing</name>
            <choiceReferences>Reason_for_Closing1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Closing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Manager_Notified</name>
            <choiceReferences>Account_Manager_Notified1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Manager Notified</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Retailer_Advised_to_Destroy_All_Forms</name>
            <choiceReferences>Account_Manager_Notified1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retailer Advised to Destroy All Forms?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Tax_Free_Systems</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Have you closed in all Tax Free Systems (tick boxes)?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TRS</name>
            <dataType>Boolean</dataType>
            <fieldText>TRS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GBTF</name>
            <dataType>Boolean</dataType>
            <fieldText>GBTF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HAT</name>
            <dataType>Boolean</dataType>
            <fieldText>HAT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AX</name>
            <dataType>Boolean</dataType>
            <fieldText>AX</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Addstore</name>
            <dataType>Boolean</dataType>
            <fieldText>Addstore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Enter_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAllPOSSolutions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>varCollAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varLoop2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>varWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
