unpackaged/main/default/flows/Mass_Approval_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>329</locationX>
        <locationY>50</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>LoopMerchantAccountPlan</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Merchant_Account_Plan_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varSingleMerchantAccountPlan.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Mass Approval Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Approval Request</label>
    <loops>
        <name>LoopMerchantAccountPlan</name>
        <label>LoopMerchantAccountPlan</label>
        <locationX>155</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>varSingleMerchantAccountPlan</assignNextValueToReference>
        <collectionReference>varMerchantAccountPlan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LoopMerchantAccountPlan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varMerchantAccountPlan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>varSingleMerchantAccountPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
</Flow>
