unpackaged/main/default/flows/Move_Actions_2nd_Quarter_to_New_Account_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignedUnchecked</name>
        <label>AssignedUnchecked</label>
        <locationX>714</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>LoopActions.Add_to_New_Account_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unchecked</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quarter</name>
        <label>Quarter</label>
        <locationX>705</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectQuarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAction1</targetReference>
            </connector>
            <label>1st Quarter</label>
        </rules>
        <rules>
            <name>X2nd_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectQuarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAction2</targetReference>
            </connector>
            <label>2nd Quarter</label>
        </rules>
        <rules>
            <name>X3rd_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectQuarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAction3</targetReference>
            </connector>
            <label>3rd Quarter</label>
        </rules>
        <rules>
            <name>X4th_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectQuarter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4th Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAction4</targetReference>
            </connector>
            <label>4th Quarter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SelectQuarter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Select_Quarter__c</picklistField>
        <picklistObject>Actions_1st_Quarter__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Move Actions 2nd Quarter to New Account Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move Actions 2nd Quarter to New Account Plan</label>
    <loops>
        <name>LoopActions</name>
        <label>LoopActions</label>
        <locationX>548</locationX>
        <locationY>190</locationY>
        <collectionReference>GetActions2ndQuarter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Due_Date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAction1</name>
        <label>CreateAction1</label>
        <locationX>373</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>AssignedUnchecked</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>LoopActions.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Details__c</field>
            <value>
                <elementReference>LoopActions.Action_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>LoopActions.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopActions.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>LoopActions.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Parent_Account_Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125J0000004eNZQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream1__c</field>
            <value>
                <elementReference>LoopActions.Workstream1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream_Type__c</field>
            <value>
                <elementReference>LoopActions.Workstream_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Actions_1st_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAction2</name>
        <label>CreateAction2</label>
        <locationX>618</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>AssignedUnchecked</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>LoopActions.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Details__c</field>
            <value>
                <elementReference>LoopActions.Action_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>LoopActions.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopActions.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>LoopActions.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Parent_Account_Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125J0000004eOHQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream1__c</field>
            <value>
                <elementReference>LoopActions.Workstream1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream_Type__c</field>
            <value>
                <elementReference>LoopActions.Workstream_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Action_2nd_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAction3</name>
        <label>CreateAction3</label>
        <locationX>808</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>AssignedUnchecked</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>LoopActions.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Details__c</field>
            <value>
                <elementReference>LoopActions.Action_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>LoopActions.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopActions.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>LoopActions.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Parent_Account_Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125J0000004eORQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream1__c</field>
            <value>
                <elementReference>LoopActions.Workstream1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream_Type__c</field>
            <value>
                <elementReference>LoopActions.Workstream_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Action_3rd_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAction4</name>
        <label>CreateAction4</label>
        <locationX>1063</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>AssignedUnchecked</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>LoopActions.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Details__c</field>
            <value>
                <elementReference>LoopActions.Action_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>LoopActions.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopActions.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>LoopActions.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varSelectedAccountPlan.Parent_Account_Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125J0000004eObQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream1__c</field>
            <value>
                <elementReference>LoopActions.Workstream1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream_Type__c</field>
            <value>
                <elementReference>LoopActions.Workstream_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Action_4th_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountPlan</name>
        <label>GetAccountPlan</label>
        <locationX>176</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActions2ndQuarter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountPlan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Merchant_Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActions2ndQuarter</name>
        <label>GetActions2ndQuarter</label>
        <locationX>304</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopActions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant_Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountPlan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Add_to_New_Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Action_2nd_Quarter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Unchecked</name>
        <label>Unchecked</label>
        <locationX>1169</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>LoopActions</targetReference>
        </connector>
        <inputReference>LoopActions</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Due_Date</name>
        <label>Select Due Date</label>
        <locationX>713</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quarter</targetReference>
        </connector>
        <fields>
            <name>Action_Name</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Action:&lt;/b&gt; {!LoopActions.Action__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Workstream: &lt;/b&gt;{!LoopActions.Workstream1__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Workstream Type:&lt;/b&gt; {!LoopActions.Workstream_Type__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Original Due Date: &lt;/b&gt;{!LoopActions.Due_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Quarter</name>
            <choiceReferences>SelectQuarter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Quarter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccountPlan</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>varSelectedAccountPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
</Flow>
