unpackaged/main/default/flows/Move_Objectives_to_New_Account_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignChecked</name>
        <label>AssignChecked</label>
        <locationX>544</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>LoopObjectives.Add_to_New_Account_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Uncheck</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Move Objectives to New Account Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move Objectives to New Account Plan</label>
    <loops>
        <name>LoopObjectives</name>
        <label>LoopObjectives</label>
        <locationX>456</locationX>
        <locationY>566</locationY>
        <collectionReference>GetObjectives</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Due_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateObjective</name>
        <label>CreateObjective</label>
        <locationX>544</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>AssignChecked</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>LoopObjectives.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>varNewAccountPlan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>LoopObjectives.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>LoopObjectives.Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_s_Email__c</field>
            <value>
                <elementReference>LoopObjectives.Manager_s_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Contact__c</field>
            <value>
                <elementReference>LoopObjectives.Merchant_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective_Type__c</field>
            <value>
                <elementReference>LoopObjectives.Objective_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>LoopObjectives.Objective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>LoopObjectives.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Merchant_Account_Plan__c</field>
            <value>
                <elementReference>varNewAccountPlan.Parent_Account_Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planet_Function_Contact__c</field>
            <value>
                <elementReference>LoopObjectives.Planet_Function_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RAG_Status__c</field>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125J0000004eNxQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkStream__c</field>
            <value>
                <elementReference>LoopObjectives.WorkStream__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream1__c</field>
            <value>
                <elementReference>LoopObjectives.Workstream1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workstream_Type__c</field>
            <value>
                <elementReference>LoopObjectives.Workstream_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountPlan</name>
        <label>GetAccountPlan</label>
        <locationX>456</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetObjectives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountPlan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Merchant_Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetObjectives</name>
        <label>GetObjectives</label>
        <locationX>456</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_New_Account_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountPlan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Add_to_New_Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck</name>
        <label>Uncheck</label>
        <locationX>544</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>LoopObjectives</targetReference>
        </connector>
        <inputReference>LoopObjectives</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>456</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActionCompleted</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(14, 150, 30);&quot;&gt;All Objectives Successfully Copied to New Account Plan.&lt;/b&gt;&lt;span style=&quot;color: rgb(10, 163, 64);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Due_Date</name>
        <label>Select Due Date</label>
        <locationX>544</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateObjective</targetReference>
        </connector>
        <fields>
            <name>Objective_Name</name>
            <fieldText>&lt;p&gt;{!LoopObjectives.Objective__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_New_Account_Plan</name>
        <label>Select New Account Plan</label>
        <locationX>456</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopObjectives</targetReference>
        </connector>
        <fields>
            <name>Merchant_Account_Plan</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Merchant_Account_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Merchant_Account_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewAccountPlan.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetAccountPlan</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>varNewAccountPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Account_Plan__c</objectType>
    </variables>
</Flow>
