unpackaged/main/default/flows/New_Work_Order_GB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Dependent_Picklist_Values</name>
        <label>Assign Dependent Picklist Values</label>
        <locationX>505</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>varTerminalType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TerminalTypeandComms.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommsType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TerminalTypeandComms.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restricted_Terminals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dependent_Picklist_Values1</name>
        <label>Assign Dependent Picklist Values</label>
        <locationX>453</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>varTerminalType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TerminalTypeandComms1.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommsType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TerminalTypeandComms1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restricted_Terminals1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Default_VAT_Product</name>
        <choiceText>VAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultCountry1</name>
        <choiceText>United Kingdom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>United Kingdom</stringValue>
        </value>
    </choices>
    <constants>
        <name>AcquiringWorkOrder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121o000000gXM5</stringValue>
        </value>
    </constants>
    <constants>
        <name>conRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01224000000kGEc</stringValue>
        </value>
    </constants>
    <constants>
        <name>DefaultCountry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>United Kingdom</stringValue>
        </value>
    </constants>
    <constants>
        <name>DefaultOwner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G1o000002nsaE</stringValue>
        </value>
    </constants>
    <constants>
        <name>IntegratedWorkOrder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121o000000gXMA</stringValue>
        </value>
    </constants>
    <constants>
        <name>VATOnlyWorkOrder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121o000000gXMF</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Another_MID_Dec</name>
        <label>Add Another MID Dec</label>
        <locationX>1740</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another_MID1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Merchant_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another_MID1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Material_Order</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Contact</name>
        <label>Add Contact?</label>
        <locationX>1205</locationX>
        <locationY>962</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Material_Order2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Merchant_ID</name>
        <label>Add Merchant ID</label>
        <locationX>1058</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Merchant_IDs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Merchant_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Merchant_IDs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Material_Order</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Material_Order_Dec</name>
        <label>Create New Material Order Dec</label>
        <locationX>1079</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Material_Order1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupAccountMaterialOrder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Material_Order1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Material_Order_Dec1</name>
        <label>Create New Material Order Dec</label>
        <locationX>1768</locationX>
        <locationY>481</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Stationery_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupAccountMaterialOrder1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Stationery_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Material_Order_Dec2</name>
        <label>Create New Material Order Dec</label>
        <locationX>762</locationX>
        <locationY>1155</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Stationery_Order2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupAccountMaterialOrder2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Stationery_Order2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Integrated_Payments_Terminal</name>
        <label>Integrated Payments Terminal</label>
        <locationX>478</locationX>
        <locationY>958</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Integrated_Payments_Terminal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product3</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Card_Options_Integrated</targetReference>
            </connector>
            <label>Yes Integrated Payments Terminal</label>
        </rules>
        <rules>
            <name>No_Integrated_Payments_Terminal</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Product3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT &amp; Token</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Integrated_Work_Order</targetReference>
            </connector>
            <label>No Integrated Payments Terminal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payments_Terminal</name>
        <label>Payments Terminal</label>
        <locationX>703</locationX>
        <locationY>534</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Card_Options</targetReference>
            </connector>
            <label>Yes Payments</label>
        </rules>
        <rules>
            <name>No_Payments</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Product2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT &amp; Token</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Acquiring_Work_Order</targetReference>
            </connector>
            <label>No Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payments_Terminal1</name>
        <label>Payments Terminal</label>
        <locationX>787</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Payments1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Card_Options1</targetReference>
            </connector>
            <label>Yes Payments</label>
        </rules>
        <rules>
            <name>No_Payments1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Product2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT &amp; Token</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Acquiring_Work_Order1</targetReference>
            </connector>
            <label>No Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Planet_App</name>
        <label>Planet App</label>
        <locationX>639</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>Additional_Options3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planet_App1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solution_Type1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planet App</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planet_App2</targetReference>
            </connector>
            <label>Planet App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restricted_Terminals</name>
        <label>Restricted Terminals</label>
        <locationX>579</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>Additional_Options2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx520</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx520/820</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx680 3G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx680 BT/Wi-fi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx690</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A920</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsung A10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsung Tab Active2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Options</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restricted_Terminals1</name>
        <label>Restricted Terminals</label>
        <locationX>470</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Planet_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx520</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx520/820</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx680 3G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx680 BT/Wi-fi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vx690</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A920</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsung Tab Active2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTerminalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsung A10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Options1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Type</name>
        <label>Work Order Type</label>
        <locationX>373</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VAT_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VAT_Only_Work_Order</targetReference>
            </connector>
            <label>VAT Only</label>
        </rules>
        <rules>
            <name>Acquiring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquiring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acquiring_Work_Order</targetReference>
            </connector>
            <label>Acquiring</label>
        </rules>
        <rules>
            <name>Integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integrated_Work_Order</targetReference>
            </connector>
            <label>Integrated</label>
        </rules>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Work_Order</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
    </decisions>
    <description>update for company sector when creating a shop account</description>
    <dynamicChoiceSets>
        <name>AddContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Web_Services__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CommsType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Comms_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConnectionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Connection_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Integrated_Solution_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Integrated_Solution_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaterialOrderPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwningCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Owning_Country__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Position</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Position__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrinterType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Printer_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Product__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Request__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolutionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Solution_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TerminalRentalPerMonth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Terminal_Rental_Per_Month__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TerminalType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Terminal_Type_GB__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_MIDs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type__c</picklistField>
        <picklistObject>MID__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Use__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VAT_Solution_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VAT_Solution_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WebServices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Web_Services__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrderType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Work_Order_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>End_Date_Int_Acq</name>
        <dataType>Date</dataType>
        <expression>CASE(
  WEEKDAY(TODAY()),
  1, TODAY() + 12,
  7, TODAY() + 13, TODAY() + 14)</expression>
    </formulas>
    <formulas>
        <name>End_Date_VAT</name>
        <dataType>Date</dataType>
        <expression>CASE(
  WEEKDAY(TODAY()),
  1, TODAY() + 5,
  7, TODAY() + 6, TODAY() + 7)</expression>
    </formulas>
    <formulas>
        <name>Start_Date</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TerminalRentalNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Terminal_Rental_Per_Month})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varBillingLocation</name>
        <dataType>String</dataType>
        <expression>{!varIKA_NKA} &amp; &quot; &quot; &amp; {!varBillingStreet} &amp; &quot; &quot; &amp; {!varBillingCity}</expression>
    </formulas>
    <interviewLabel>New Work Order GB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Work Order GB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Acquiring_Work_Order</name>
        <label>Create Acquiring Work Order</label>
        <locationX>910</locationX>
        <locationY>534</locationY>
        <assignRecordIdToReference>varAcquiringWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Merchant_IDs</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alipay__c</field>
            <value>
                <elementReference>Alipay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amex__c</field>
            <value>
                <elementReference>Amex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Batch__c</field>
            <value>
                <elementReference>Auto_Batch1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Acquiring_Profit_per_Terminal_Year__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Net_Comm_Per_Terminal_per_Year__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_to_Request__c</field>
            <value>
                <stringValue>Terminal for New Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Nationality__c</field>
            <value>
                <elementReference>Capture_Nationality1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>Connection_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diners__c</field>
            <value>
                <elementReference>Diners</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Vat_Option__c</field>
            <value>
                <elementReference>Display_Vat_Option1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Installation_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_Int_Acq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JCB__c</field>
            <value>
                <elementReference>JCB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mastercard__c</field>
            <value>
                <elementReference>Mastercard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_POS_Solution_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Cash_Refund__c</field>
            <value>
                <elementReference>No_Cash_Refund1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DefaultOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planet_Union_Pay__c</field>
            <value>
                <elementReference>Planet_Union_Pay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Auths__c</field>
            <value>
                <elementReference>Pre_Auths1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Large_Font__c</field>
            <value>
                <elementReference>Print_Large_Font1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>Reason_for_Request1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AcquiringWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Return_Per_Month__c</field>
            <value>
                <elementReference>TerminalRentalNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Brand_Location__c</field>
            <value>
                <elementReference>Shop_Brand_Location1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Type__c</field>
            <value>
                <elementReference>Solution_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Acquiring Terminal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Rental_Per_Month__c</field>
            <value>
                <elementReference>Terminal_Rental_Per_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Rental_Start_Date__c</field>
            <value>
                <elementReference>Terminal_Rental_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Union_Pay__c</field>
            <value>
                <elementReference>Third_Party_Union_Pay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Till_Link_New_Business_Only__c</field>
            <value>
                <elementReference>Till_Link_New_Business_Only1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipping__c</field>
            <value>
                <elementReference>Tipping1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>Use2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visa__c</field>
            <value>
                <elementReference>Visa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WeChat_Pay__c</field>
            <value>
                <elementReference>WeChat_Pay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Services__c</field>
            <value>
                <elementReference>Web_Services</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Acquiring_Work_Order1</name>
        <label>Create Acquiring Work Order</label>
        <locationX>1123</locationX>
        <locationY>762</locationY>
        <assignRecordIdToReference>varAcquiringWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Merchant_IDs</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alipay__c</field>
            <value>
                <elementReference>Alipay1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amex__c</field>
            <value>
                <elementReference>Amex2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Batch__c</field>
            <value>
                <elementReference>Auto_Batch3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Nationality__c</field>
            <value>
                <elementReference>Capture_Nationality3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>Connection_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diners__c</field>
            <value>
                <elementReference>Diners2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Vat_Option__c</field>
            <value>
                <elementReference>Display_Vat_Option3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Installation_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_Int_Acq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JCB__c</field>
            <value>
                <elementReference>JCB2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mastercard__c</field>
            <value>
                <elementReference>Mastercard2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DefaultOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planet_Union_Pay__c</field>
            <value>
                <elementReference>Planet_Union_Pay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Auths__c</field>
            <value>
                <elementReference>Pre_Auths3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Large_Font__c</field>
            <value>
                <elementReference>Print_Large_Font3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AcquiringWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Return_Per_Month__c</field>
            <value>
                <elementReference>TerminalRentalNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Type__c</field>
            <value>
                <elementReference>Solution_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Acquiring Terminal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Rental_Per_Month__c</field>
            <value>
                <elementReference>Terminal_Rental_Per_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Rental_Start_Date__c</field>
            <value>
                <elementReference>Terminal_Rental_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Union_Pay__c</field>
            <value>
                <elementReference>Third_Party_Union_Pay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Till_Link_New_Business_Only__c</field>
            <value>
                <elementReference>Till_Link_New_Business_Only3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipping__c</field>
            <value>
                <elementReference>Tipping3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visa__c</field>
            <value>
                <elementReference>Visa2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WeChat_Pay__c</field>
            <value>
                <elementReference>WeChat_Pay1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Services__c</field>
            <value>
                <elementReference>Web_Services</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Integrated_Work_Order</name>
        <label>Create Integrated Work Order</label>
        <locationX>735</locationX>
        <locationY>959</locationY>
        <assignRecordIdToReference>varIntegratedWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Add_a_New_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alipay__c</field>
            <value>
                <elementReference>Alipay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amex__c</field>
            <value>
                <elementReference>Amex1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diners__c</field>
            <value>
                <elementReference>Diners1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Installation_Date2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_Int_Acq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JCB__c</field>
            <value>
                <elementReference>JCB1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mastercard__c</field>
            <value>
                <elementReference>Mastercard1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_POS_Solution_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DefaultOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planet_Union_Pay__c</field>
            <value>
                <elementReference>Planet_Union_Pay1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Printer_Type__c</field>
            <value>
                <elementReference>Printer_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IntegratedWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Type__c</field>
            <value>
                <elementReference>Solution_Type2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_ID__c</field>
            <value>
                <elementReference>Store_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Integrated Terminal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Union_Pay__c</field>
            <value>
                <elementReference>Third_Party_Union_Pay1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visa__c</field>
            <value>
                <elementReference>Visa1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WeChat_Pay__c</field>
            <value>
                <elementReference>WeChat_Pay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Services__c</field>
            <value>
                <elementReference>Web_Services2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_MID</name>
        <label>Create MID</label>
        <locationX>1373</locationX>
        <locationY>363</locationY>
        <assignRecordIdToReference>varMID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Another_MID</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MID__c</field>
            <value>
                <elementReference>MID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop__c</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type_MID</elementReference>
            </value>
        </inputAssignments>
        <object>MID__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact1</name>
        <label>Create New Contact</label>
        <locationX>1374</locationX>
        <locationY>478</locationY>
        <assignRecordIdToReference>varShopContact</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Contact_to_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Other_Please_Specify__c</field>
            <value>
                <elementReference>If_Other_Please_Specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>Position1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation1</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Materal_Order</name>
        <label>Create New Materal Order</label>
        <locationX>1554</locationX>
        <locationY>249</locationY>
        <assignRecordIdToReference>varOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Price_Book</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s24000004waPq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Materal_Order1</name>
        <label>Create New Materal Order</label>
        <locationX>1765</locationX>
        <locationY>614</locationY>
        <assignRecordIdToReference>varOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Price_Book1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Due_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s24000004waPq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Materal_Order2</name>
        <label>Create New Materal Order</label>
        <locationX>1141</locationX>
        <locationY>1158</locationY>
        <assignRecordIdToReference>varOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Price_Book2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Due_Date2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s24000004waPq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Planet_App_Work_Order</name>
        <label>Create Planet App Work Order</label>
        <locationX>1114</locationX>
        <locationY>898</locationY>
        <assignRecordIdToReference>varAcquiringWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Merchant_IDs</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>Connection_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Installation_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_Int_Acq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_POS_Solution_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DefaultOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planet_App_Activation_Code__c</field>
            <value>
                <elementReference>Planet_App_Activation_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AcquiringWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Return_Per_Month__c</field>
            <value>
                <elementReference>TerminalRentalNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Type__c</field>
            <value>
                <elementReference>Solution_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Planet App</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Rental_Per_Month__c</field>
            <value>
                <elementReference>Terminal_Rental_Per_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Rental_Start_Date__c</field>
            <value>
                <elementReference>Terminal_Rental_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Services__c</field>
            <value>
                <elementReference>Web_Services</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book</name>
        <label>Create Price Book</label>
        <locationX>1861</locationX>
        <locationY>246</locationY>
        <assignRecordIdToReference>varPriceBook</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Material_Order_to_Active</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u2400000H2wA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t24000005ghEP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book1</name>
        <label>Create Price Book</label>
        <locationX>1455</locationX>
        <locationY>618</locationY>
        <assignRecordIdToReference>varPriceBook</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Material_Order_to_Active1</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u2400000H2wBe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t24000005ghFN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book2</name>
        <label>Create Price Book</label>
        <locationX>1383</locationX>
        <locationY>1158</locationY>
        <assignRecordIdToReference>varPriceBook</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Material_Order_to_Active2</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u2400000H2wBe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t24000005ghFN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordCreates>
        <name>CreateManualWorkOrder</name>
        <label>CreateManualWorkOrder</label>
        <locationX>517</locationX>
        <locationY>1147</locationY>
        <connector>
            <targetReference>Create_New_Stationery_Order1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Installation_Date3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_VAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DefaultOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VATOnlyWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Manual Shop</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateShop</name>
        <label>CreateShop</label>
        <locationX>706</locationX>
        <locationY>122</locationY>
        <assignRecordIdToReference>varShopAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>LookupShop</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Segment__c</field>
            <value>
                <elementReference>varAccountSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Back_End_System__c</field>
            <value>
                <elementReference>varBackEndSystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Sector__c</field>
            <value>
                <elementReference>varCompanySector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IKA__c</field>
            <value>
                <elementReference>varIKA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>varIndustry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKA__c</field>
            <value>
                <elementReference>varNKA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owning_Country__c</field>
            <value>
                <elementReference>varOwningCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>conRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TF_Current_Provider__c</field>
            <value>
                <elementReference>varTFCurrentProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreateVATOnlyWorkOrder</name>
        <label>CreateVATOnlyWorkOrder</label>
        <locationX>821</locationX>
        <locationY>276</locationY>
        <assignRecordIdToReference>varVATOnlyWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Material_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Batch__c</field>
            <value>
                <elementReference>Auto_Batch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Acquiring_Profit_per_Terminal_Year__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Net_Comm_Per_Terminal_per_Year__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_to_Request__c</field>
            <value>
                <elementReference>Reason_for_Request1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Nationality__c</field>
            <value>
                <elementReference>Capture_Nationality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>ConnectionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Vat_Option__c</field>
            <value>
                <elementReference>Display_Vat_Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Installation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_VAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_POS_Solution_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Cash_Refund__c</field>
            <value>
                <elementReference>No_Cash_Refund</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DefaultOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Auths__c</field>
            <value>
                <elementReference>Pre_Auths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Large_Font__c</field>
            <value>
                <elementReference>Print_Large_Font</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>Reason_for_Request1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VATOnlyWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Return_Per_Month__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Brand_Location__c</field>
            <value>
                <elementReference>Shop_Brand_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Type__c</field>
            <value>
                <elementReference>Solution_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New VAT Only Terminal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Till_Link_New_Business_Only__c</field>
            <value>
                <elementReference>Till_Link_New_Business_Only</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipping__c</field>
            <value>
                <elementReference>Tipping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>Use1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Services__c</field>
            <value>
                <elementReference>Web_Services1</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateVATOnlyWorkOrder1</name>
        <label>CreateVATOnlyWorkOrder</label>
        <locationX>898</locationX>
        <locationY>417</locationY>
        <assignRecordIdToReference>varVATOnlyWorkOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Material_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Batch__c</field>
            <value>
                <elementReference>Auto_Batch2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Nationality__c</field>
            <value>
                <elementReference>Capture_Nationality2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comms_Type__c</field>
            <value>
                <elementReference>varCommsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Connection_Type__c</field>
            <value>
                <elementReference>Connection_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Vat_Option__c</field>
            <value>
                <elementReference>Display_Vat_Option2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Installation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_VAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_POS_Solution_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Cash_Refund__c</field>
            <value>
                <elementReference>No_Cash_Refund2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DefaultOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Auths__c</field>
            <value>
                <elementReference>Pre_Auths2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Large_Font__c</field>
            <value>
                <elementReference>Print_Large_Font2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VATOnlyWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Type__c</field>
            <value>
                <elementReference>Solution_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Shop with VAT Only Terminal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Type__c</field>
            <value>
                <elementReference>varTerminalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Till_Link_New_Business_Only__c</field>
            <value>
                <elementReference>Till_Link_New_Business_Only2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipping__c</field>
            <value>
                <elementReference>Tipping2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Services__c</field>
            <value>
                <elementReference>Web_Services1</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Add_Price_Book</name>
        <label>Add Price Book</label>
        <locationX>1704</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>varOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Add_Price_Book1</name>
        <label>Add Price Book</label>
        <locationX>1611</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_Book1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>varOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Add_Price_Book2</name>
        <label>Add Price Book</label>
        <locationX>1263</locationX>
        <locationY>1158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_Book2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>varOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupAccount</name>
        <label>LookupAccount</label>
        <locationX>390</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Shop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountSegment</assignToReference>
            <field>Account_Segment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBackEndSystem</assignToReference>
            <field>Back_End_System__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanySector</assignToReference>
            <field>Company_Sector__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIKA</assignToReference>
            <field>IKA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIndustry</assignToReference>
            <field>Industry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNKA</assignToReference>
            <field>NKA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwningCountry</assignToReference>
            <field>Owning_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTFCurrentProvider</assignToReference>
            <field>TF_Current_Provider__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupAccountMaterialOrder</name>
        <label>LookupAccountMaterialOrder</label>
        <locationX>1229</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Material_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varShopAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupAccountMaterialOrder1</name>
        <label>LookupAccountMaterialOrder</label>
        <locationX>1922</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Stationery_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupAccountMaterialOrder2</name>
        <label>LookupAccountMaterialOrder</label>
        <locationX>899</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Stationery_Order1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varShopAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupShop</name>
        <label>LookupShop</label>
        <locationX>857</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Work_Order_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShopAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrencyISOCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIKA_NKA</assignToReference>
            <field>IKA_NKA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShopAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Contact_to_Work_Order</name>
        <label>Add Contact to Work Order</label>
        <locationX>1500</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Create_New_Material_Order2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIntegratedWorkOrder</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varShopContact</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Material_Order_to_Active</name>
        <label>Set Material Order to Active</label>
        <locationX>1975</locationX>
        <locationY>342</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Material_Order_to_Active1</name>
        <label>Set Material Order to Active</label>
        <locationX>1276</locationX>
        <locationY>617</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Material_Order_to_Active2</name>
        <label>Set Material Order to Active</label>
        <locationX>1502</locationX>
        <locationY>1158</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Acquiring_Work_Order</name>
        <label>Acquiring Work Order</label>
        <locationX>447</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Dependent_Picklist_Values1</targetReference>
        </connector>
        <fields>
            <name>Installation_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Installation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product2</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solution_Type1</name>
            <choiceReferences>VAT_Solution_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solution Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TerminalTypeandComms1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Terminal_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Comms_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Terminal Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varTerminalType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Comms Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varCommsType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quantity1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>You may not order more than 8 terminals.</errorMessage>
                <formulaExpression>{!Quantity1} &lt; 9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Terminal_Rental_Per_Month</name>
            <choiceReferences>TerminalRentalPerMonth</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Terminal Rental Per Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Terminal_Rental_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Terminal Rental Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Web_Services</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Web Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority7</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description3</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_a_New_Contact</name>
        <label>Add a New Contact?</label>
        <locationX>858</locationX>
        <locationY>959</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Contact</targetReference>
        </connector>
        <fields>
            <name>New_Contact</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Contact?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Another_MID</name>
        <label>Add Another MID?</label>
        <locationX>1521</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Another_MID_Dec</targetReference>
        </connector>
        <fields>
            <name>Add_Another_MID1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Another MID?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Merchant_IDs</name>
        <label>Add Merchant IDs</label>
        <locationX>1006</locationX>
        <locationY>534</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Merchant_ID</targetReference>
        </connector>
        <fields>
            <name>Add_Merchant_IDs1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Merchant IDs?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_New_Merchant_ID</name>
        <label>Add New Merchant ID</label>
        <locationX>1241</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_MID</targetReference>
        </connector>
        <fields>
            <name>Type_MID</name>
            <choiceReferences>Type_MIDs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MID</name>
            <dataType>String</dataType>
            <fieldText>MID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Options</name>
        <label>Additional Options</label>
        <locationX>697</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateVATOnlyWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Display_Vat_Option</name>
            <dataType>Boolean</dataType>
            <fieldText>Display Vat Option</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipping</name>
            <dataType>Boolean</dataType>
            <fieldText>Tipping</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Auths</name>
            <dataType>Boolean</dataType>
            <fieldText>Pre Auths</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Cash_Refund</name>
            <dataType>Boolean</dataType>
            <fieldText>No Cash Refund</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Large_Font</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Large Font</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Capture_Nationality</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Capture Nationality</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Till_Link_New_Business_Only</name>
            <dataType>Boolean</dataType>
            <fieldText>Till Link (New Business Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Auto_Batch</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Auto Batch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TerminalRequest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Complete the below if Work Order requires new Vx520, Vx520/820, Vx680 3G, Vx680 BT/Wi-Fi, Vx60 or A920 terminals&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_Request1</name>
            <choiceReferences>ReasonforRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shop_Brand_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varBillingLocation</elementReference>
            </defaultValue>
            <fieldText>Shop Brand &amp; Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Connection_Type</name>
            <choiceReferences>ConnectionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Connection Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Use1</name>
            <choiceReferences>Use</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Options1</name>
        <label>Additional Options</label>
        <locationX>603</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payments_Terminal</targetReference>
        </connector>
        <fields>
            <name>Display_Vat_Option1</name>
            <dataType>Boolean</dataType>
            <fieldText>Display Vat Option</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipping1</name>
            <dataType>Boolean</dataType>
            <fieldText>Tipping</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Auths1</name>
            <dataType>Boolean</dataType>
            <fieldText>Pre Auths</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Cash_Refund1</name>
            <dataType>Boolean</dataType>
            <fieldText>No Cash Refund</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Large_Font1</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Large Font</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Capture_Nationality1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Capture Nationality</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Till_Link_New_Business_Only1</name>
            <dataType>Boolean</dataType>
            <fieldText>Till Link (New Business Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Auto_Batch1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Auto Batch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TerminalRequest1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Complete the below if Work Order requires new Vx520, Vx520/820, Vx680 3G, Vx680 BT/Wi-Fi, Vx60 or A920 terminals&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_Request</name>
            <choiceReferences>ReasonforRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shop_Brand_Location1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varBillingLocation</elementReference>
            </defaultValue>
            <fieldText>Shop Brand &amp; Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Connection_Type1</name>
            <choiceReferences>ConnectionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Connection Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Use2</name>
            <choiceReferences>Use</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Options2</name>
        <label>Additional Options</label>
        <locationX>795</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateVATOnlyWorkOrder1</targetReference>
        </connector>
        <fields>
            <name>Display_Vat_Option2</name>
            <dataType>Boolean</dataType>
            <fieldText>Display Vat Option</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipping2</name>
            <dataType>Boolean</dataType>
            <fieldText>Tipping</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Auths2</name>
            <dataType>Boolean</dataType>
            <fieldText>Pre Auths</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Cash_Refund2</name>
            <dataType>Boolean</dataType>
            <fieldText>No Cash Refund</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Large_Font2</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Large Font</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Capture_Nationality2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Capture Nationality</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Till_Link_New_Business_Only2</name>
            <dataType>Boolean</dataType>
            <fieldText>Till Link (New Business Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Auto_Batch2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Auto Batch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Options3</name>
        <label>Additional Options</label>
        <locationX>649</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payments_Terminal1</targetReference>
        </connector>
        <fields>
            <name>Display_Vat_Option3</name>
            <dataType>Boolean</dataType>
            <fieldText>Display Vat Option</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipping3</name>
            <dataType>Boolean</dataType>
            <fieldText>Tipping</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Auths3</name>
            <dataType>Boolean</dataType>
            <fieldText>Pre Auths</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Cash_Refund3</name>
            <dataType>Boolean</dataType>
            <fieldText>No Cash Refund</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Large_Font3</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Large Font</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Capture_Nationality3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Capture Nationality</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Till_Link_New_Business_Only3</name>
            <dataType>Boolean</dataType>
            <fieldText>Till Link (New Business Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Auto_Batch3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Auto Batch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Card_Options</name>
        <label>Card Options</label>
        <locationX>795</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Acquiring_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Card_Options_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Card Options - At Least one &#39;Yes&#39; must be selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visa</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Visa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mastercard</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mastercard</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amex</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Diners</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diners</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>JCB</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>JCB</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Planet_Union_Pay</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Planet Union Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Third_Party_Union_Pay</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Third Party Union Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alipay</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Alipay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WeChat_Pay</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WeChat Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Card_Options1</name>
        <label>Card Options</label>
        <locationX>977</locationX>
        <locationY>823</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Acquiring_Work_Order1</targetReference>
        </connector>
        <fields>
            <name>Visa2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Visa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mastercard2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mastercard</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amex2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Diners2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diners</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>JCB2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>JCB</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Planet_Union_Pay2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Planet Union Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Third_Party_Union_Pay2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Third Party Union Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alipay1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Alipay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WeChat_Pay1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WeChat Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Card_Options_Integrated</name>
        <label>Card Options Integrated</label>
        <locationX>624</locationX>
        <locationY>1029</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Integrated_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Card_Options_Integrated1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Card Options&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; - You must select at least one &#39;Yes&#39;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visa1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Visa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mastercard1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mastercard</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amex1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Diners1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diners</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>JCB1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>JCB</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Planet_Union_Pay1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Planet Union Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Third_Party_Union_Pay1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Third Party Union Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alipay2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Alipay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WeChat_Pay2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WeChat Pay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>1217</locationX>
        <locationY>479</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Contact1</targetReference>
        </connector>
        <fields>
            <name>Salutation1</name>
            <choiceReferences>Salutation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Position1</name>
            <choiceReferences>Position</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_Other_Please_Specify</name>
            <dataType>String</dataType>
            <fieldText>If Other Please Specify</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&#39;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!If_Other_Please_Specify} != &quot;Other&quot;</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone1</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&#39;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Material_Order</name>
        <label>Create New Stationery Order?</label>
        <locationX>949</locationX>
        <locationY>249</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Material_Order_Dec</targetReference>
        </connector>
        <fields>
            <name>Create_New_Material_Order1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create New Stationery Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Material_Order2</name>
        <label>Create New Stationery Order?</label>
        <locationX>1634</locationX>
        <locationY>479</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Material_Order_Dec1</targetReference>
        </connector>
        <fields>
            <name>Create_New_Stationery_Order</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create New Stationery Order?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Stationery_Order1</name>
        <label>Create New Stationery Order?</label>
        <locationX>651</locationX>
        <locationY>1151</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Material_Order_Dec2</targetReference>
        </connector>
        <fields>
            <name>Create_New_Stationery_Order2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create New Stationery Order?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Integrated_Work_Order</name>
        <label>Integrated Work Order</label>
        <locationX>299</locationX>
        <locationY>956</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Integrated_Payments_Terminal</targetReference>
        </connector>
        <fields>
            <name>Installation_Date2</name>
            <dataType>Date</dataType>
            <fieldText>Installation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product3</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solution_Type2</name>
            <choiceReferences>SolutionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solution Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Printer_Type</name>
            <choiceReferences>PrinterType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Printer Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Web_Services2</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Web Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority2</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Store_ID</name>
            <dataType>String</dataType>
            <fieldText>Store ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description4</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manual_Work_Order</name>
        <label>Manual Work Order</label>
        <locationX>375</locationX>
        <locationY>1146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateManualWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Installation_Date3</name>
            <dataType>Date</dataType>
            <fieldText>Installation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product4</name>
            <choiceReferences>Product</choiceReferences>
            <choiceReferences>Default_VAT_Product</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Default_VAT_Product</defaultSelectedChoiceReference>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority5</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description5</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Material_Order</name>
        <label>New Stationery Order</label>
        <locationX>1401</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Materal_Order</targetReference>
        </connector>
        <fields>
            <name>NewMaterialOrderText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;New Stationery Order&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority3</name>
            <choiceReferences>MaterialOrderPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Shop</name>
        <label>New Shop</label>
        <locationX>552</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateShop</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccountName</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>GBS</stringValue>
            </defaultValue>
            <fieldText>Account ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Leave Blank if Not Known</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>OwningCountry</choiceReferences>
            <choiceReferences>DefaultCountry1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultCountry1</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>+44</stringValue>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Stationery_Order</name>
        <label>New Stationery Order</label>
        <locationX>1915</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Materal_Order1</targetReference>
        </connector>
        <fields>
            <name>NewStationeryOrder</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;New Stationery Order&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority4</name>
            <choiceReferences>MaterialOrderPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Stationery_Order1</name>
        <label>New Stationery Order</label>
        <locationX>1028</locationX>
        <locationY>1157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Materal_Order2</targetReference>
        </connector>
        <fields>
            <name>NewStationeryOrder1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;New Stationery Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority6</name>
            <choiceReferences>MaterialOrderPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date2</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description6</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Planet_App2</name>
        <label>Planet App</label>
        <locationX>834</locationX>
        <locationY>882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Planet_App_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Planet_App_Activation_Code</name>
            <dataType>String</dataType>
            <fieldText>Planet App Activation Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Work_Order_Type</name>
        <label>Select Work Order Type</label>
        <locationX>1075</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Work_Order_Type</targetReference>
        </connector>
        <fields>
            <name>WorkOrderType1</name>
            <choiceReferences>WorkOrderType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VAT_Only_Work_Order</name>
        <label>VAT Only Work Order</label>
        <locationX>606</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Dependent_Picklist_Values</targetReference>
        </connector>
        <fields>
            <name>Installation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Installation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product1</name>
            <choiceReferences>Product</choiceReferences>
            <choiceReferences>Default_VAT_Product</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Default_VAT_Product</defaultSelectedChoiceReference>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solution_Type</name>
            <choiceReferences>VAT_Solution_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solution Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TerminalTypeandComms</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Terminal_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Comms_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Terminal Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varTerminalType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Comms Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varCommsType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Web_Services1</name>
            <choiceReferences>WebServices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Web Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>You may not order more than 8 terminals.</errorMessage>
                <formulaExpression>{!Quantity} &lt; 9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Priority1</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LookupAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountSegment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcquiringWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBackEndSystem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCompanySector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIKA</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIKA_NKA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIndustry</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIntegratedWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varManualWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNKA</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwningCountry</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShopAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShopContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTerminalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTFCurrentProvider</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVATOnlyWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
