unpackaged/main/default/flows/Opportunity_Add_Hardware_List_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_new_Hardware</name>
        <label>Navigate to new Hardware</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Hardware__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>hardwareRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_new_Hardware_0</name>
        <label>Navigate to new Hardware</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Hardware__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>hardwareRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Rental</name>
        <choiceText>Rental</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rental</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sale</name>
        <choiceText>Sale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terminal_Managed_Services</name>
        <choiceText>Terminal Managed Services Per Terminal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terminal Managed Services Per Terminal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terminal_Rental_fee</name>
        <choiceText>Terminal Rental Fee Per Terminal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terminal Rental Fee Per Terminal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terminal_Service_Support</name>
        <choiceText>Service &amp;amp; Support Recurring Fee Per Terminal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service &amp; Support Recurring Fee Per Terminal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terminal_SIM_Rental</name>
        <choiceText>SIM Rental Per Terminal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SIM Rental Per Terminal</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Applicable_Fees</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Charges__c</picklistField>
        <picklistObject>Hardware__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hardware_Item</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Item__c</picklistField>
        <picklistObject>Hardware__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hardware_Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Region__c</picklistField>
        <picklistObject>Hardware__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Add Hardware List View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Add Hardware List View</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Hardware_Record</name>
        <label>Create Hardware Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>hardwareRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_new_Hardware_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>Region_Item_Dependent_Fields.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Managed_Services_Terminal_Fee__c</field>
            <value>
                <elementReference>Monthly_Terminal_Managed_Services_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Terminal_Rental_Fee__c</field>
            <value>
                <elementReference>Monthly_Terminal_Rental_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Terminal_Service_Support_Fee__c</field>
            <value>
                <elementReference>Monthly_Terminal_Service_Support_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P2PE_license_fee_per_device__c</field>
            <value>
                <elementReference>P2PE_License_Fee_Per_Device1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region_Item_Dependent_Fields.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIM_Rental_Fee__c</field>
            <value>
                <elementReference>Monthly_SIM_Rental_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Price__c</field>
            <value>
                <elementReference>Sale_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_up_fee_per_SIM__c</field>
            <value>
                <elementReference>Set_up_fee_per_SIM1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_license_fee_per_device__c</field>
            <value>
                <elementReference>Software_License_Fee_per_Device1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_PED_Docking_unit_per_device__c</field>
            <value>
                <elementReference>Terminal_PED_Docking_per_device</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_PED_Purchase_unit_per_device__c</field>
            <value>
                <elementReference>Terminal_PED_Purchase_per_device</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_PED_Set_up_fee_per_device__c</field>
            <value>
                <elementReference>Terminal_PED_Set_up_fee_per_device1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_legacy_terminal__c</field>
            <value>
                <elementReference>What_legacy_terminal</elementReference>
            </value>
        </inputAssignments>
        <object>Hardware__c</object>
    </recordCreates>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Hardware_Options</name>
        <label>Select Hardware Options</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Hardware_Record</targetReference>
        </connector>
        <fields>
            <name>Region_Item_Dependent_Fields</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Hardware__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Region__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_legacy_terminal</name>
            <dataType>String</dataType>
            <fieldText>What legacy terminal?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region_Item_Dependent_Fields.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Legacy Terminal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Hardware_Options_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Hardware_Options_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rental_or_Sale</name>
                    <choiceReferences>Rental</choiceReferences>
                    <choiceReferences>Sale</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rental or Sale</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Hardware_Options_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sale_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Sale Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rental_or_Sale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Sale</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Recurring_Fees</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select Applicable Recurring Fees:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rental_or_Sale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Rental</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Hardware_Options_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Hardware_Options_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SIM_Rental_Per_Terminal</name>
                    <dataType>Boolean</dataType>
                    <fieldText>SIM Rental Per Terminal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Service_Support_Recurring_Fee_Per_Terminal</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Service &amp; Support Recurring Fee Per Terminal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Hardware_Options_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rental_Fee_Per_Terminal</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Rental Fee Per Terminal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Managed_Services_Per_Terminal</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Managed Services Per Terminal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rental_or_Sale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Rental</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_One_Off_Fees</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select Applicable One-Off Fees:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rental_or_Sale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Rental</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Hardware_Options_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Hardware_Options_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Terminal_PED_Docking_unit_per_device</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Terminal / PED Docking per device</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>P2PE_license_fee_per_device</name>
                    <dataType>Boolean</dataType>
                    <fieldText>P2PE license fee per device</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Terminal_PED_Set_up_fee_per_device</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Terminal/PED Set up fee per device</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Hardware_Options_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Terminal_PED_Purchase_unit_per_device</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Terminal / PED Purchase per device</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Software_license_fee_per_device</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Software license fee per device</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Set_up_fee_per_SIM</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Set up fee per SIM</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rental_or_Sale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Rental</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_SIM_Rental_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly SIM Rental Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SIM_Rental_Per_Terminal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Terminal_Rental_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly Terminal Rental Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rental_Fee_Per_Terminal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Terminal_Service_Support_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly Terminal Service &amp; Support Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Service_Support_Recurring_Fee_Per_Terminal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_Terminal_Managed_Services_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly Terminal Managed Services Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Managed_Services_Per_Terminal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>P2PE_License_Fee_Per_Device1</name>
            <dataType>Currency</dataType>
            <fieldText>P2PE License Fee Per Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>P2PE_license_fee_per_device</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Software_License_Fee_per_Device1</name>
            <dataType>Currency</dataType>
            <fieldText>Software License Fee per Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Software_license_fee_per_device</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Terminal_PED_Docking_per_device</name>
            <dataType>Currency</dataType>
            <fieldText>Terminal / PED Docking per device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Terminal_PED_Docking_unit_per_device</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Terminal_PED_Purchase_per_device</name>
            <dataType>Currency</dataType>
            <fieldText>Terminal / PED Purchase per device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Terminal_PED_Purchase_unit_per_device</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Terminal_PED_Set_up_fee_per_device1</name>
            <dataType>Currency</dataType>
            <fieldText>Terminal / PED Set up fee per device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Terminal_PED_Set_up_fee_per_device</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Set_up_fee_per_SIM1</name>
            <dataType>Currency</dataType>
            <fieldText>Set up fee per SIM</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Set_up_fee_per_SIM</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_new_Hardware</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Hardware added successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Hardware_Options</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>hardwareRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
