unpackaged/main/default/flows/Opportunity_Submit_for_Approval_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Acquiring_Fees_Hospitality_for_Approval</name>
        <label>Submit Acquiring Fees (Hospitality) for Approval</label>
        <locationX>1816</locationX>
        <locationY>622</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>DCC_Payments_Acquiring_Hospitalit_261121</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Acquiring_Fees_Retail_for_Approval_0</name>
        <label>Submit Acquiring Fees (Retail) for Approval</label>
        <locationX>1818</locationX>
        <locationY>754</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>DCC_Payments_Acquiring_Approval_060122</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Acquiring_Gateway_Hospitality_for_Approval</name>
        <label>Submit Acquiring &amp; Gateway (Hospitality) for Approval</label>
        <locationX>1666</locationX>
        <locationY>819</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Acquiring_Gateway_hospitality_261121</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Acquiring_Gateway_Retail_for_Approval</name>
        <label>Submit Acquiring &amp; Gateway (Retail) for Approval</label>
        <locationX>1668</locationX>
        <locationY>970</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Acquiring_Gateway_Approval_retail_050122</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Acquiring_Gateway_TF_Hospitality_for_Approval</name>
        <label>Submit Acquiring, Gateway &amp; TF (Hospitality) for Approval</label>
        <locationX>1236</locationX>
        <locationY>1242</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Acquiring_Gateway_TF_Hospitality_050122</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Acquiring_Gateway_TF_Retail_for_Approval</name>
        <label>Submit Acquiring, Gateway &amp; TF (Retail) for Approval</label>
        <locationX>1386</locationX>
        <locationY>1242</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Acquiring_Gateway_TF_Retail_060123</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Acquiring_Tax_Free_Hospitality_for_Approval</name>
        <label>Submit Acquiring &amp; Tax Free (Hospitality) for Approval</label>
        <locationX>1812</locationX>
        <locationY>1076</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Acquiring_TF_Hospitality_050122</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Acquiring_Tax_Free_Retail_for_Approval</name>
        <label>Submit Acquiring &amp; Tax Free (Retail) for Approval</label>
        <locationX>1818</locationX>
        <locationY>1220</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Acquiring_TF_Approval_Retail_060123</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Gateway_for_Approval</name>
        <label>Submit Gateway for Approval</label>
        <locationX>1404</locationX>
        <locationY>525</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Gateway_Opportunity_1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Indirect_for_Approval</name>
        <label>Submit Indirect for Approval</label>
        <locationX>1546</locationX>
        <locationY>1241</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Indirect_Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Tax_Free_for_Approval</name>
        <label>Submit Tax Free for Approval</label>
        <locationX>1421</locationX>
        <locationY>699</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TF_Opportunity_Approval_120522</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assign true to varAcquiringFees, indicating that the Opportunity has acquiring Fees records that require approval.</description>
        <name>Flag_Opp_for_Acquiring_Fees</name>
        <label>Flag Opp for Acquiring Fees</label>
        <locationX>887</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>varAcquiringFees</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Acquiring_Fees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign true to varCharges, indicating that the Opportunity has Charges records that require approval.</description>
        <name>Flag_Opp_for_Charges</name>
        <label>Flag Opp for Charges</label>
        <locationX>892</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varCharges</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Charges_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign true to varCharges, indicating that the Opportunity has Charges records that require approval.</description>
        <name>Flag_Opp_for_Partners_0</name>
        <label>Flag Opp for Partners</label>
        <locationX>897</locationX>
        <locationY>1299</locationY>
        <assignmentItems>
            <assignToReference>varPartnerProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Approval_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign true to varTaxFree, indicating that the Opportunity has Tax Free records that require approval.</description>
        <name>Flag_Opp_for_Tax_Free</name>
        <label>Flag Opp for Tax Free</label>
        <locationX>891</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>varTaxFree</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Tax_Free_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Charges_Require_Approval</name>
        <label>Charges Require Approval?</label>
        <locationX>612</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Charges_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Charges_Records.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly Gateway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Opp_for_Charges</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fees_Require_Approval</name>
        <label>Fees Require Approval?</label>
        <locationX>607</locationX>
        <locationY>844</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Acquiring_Fees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Acquiring_Fees.Fees_Require_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Opp_for_Acquiring_Fees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Acquiring_Fees</name>
        <label>Has Acquiring Fees?</label>
        <locationX>139</locationX>
        <locationY>736</locationY>
        <defaultConnector>
            <targetReference>Has_Tax_Free</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Acquiring_Fees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Acquiring_Fees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Charges</name>
        <label>Has Charges?</label>
        <locationX>149</locationX>
        <locationY>1099</locationY>
        <defaultConnector>
            <targetReference>Has_Partner_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Charges_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Charges_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Partner_Products</name>
        <label>Has Partner Products?</label>
        <locationX>154</locationX>
        <locationY>1306</locationY>
        <defaultConnector>
            <targetReference>Which_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Records_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Opp_for_Partners_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Tax_Free</name>
        <label>Has Tax Free?</label>
        <locationX>146</locationX>
        <locationY>907</locationY>
        <defaultConnector>
            <targetReference>Has_Charges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tax_Free</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Tax_Free_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Moving_to_Proposal_Submitted</name>
        <label>Moving to Proposal Submitted?</label>
        <locationX>496</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Stage Discussions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Sign-Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hoist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Acquiring_Fees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Free_Requires_Approval</name>
        <label>Tax Free Requires Approval?</label>
        <locationX>609</locationX>
        <locationY>1016</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Tax_Free_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Head_of_Retail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Tax_Free_Records.TF_NC_Per_Form__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Tax_Free_Records.TF_Annual_Net_Commission__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>150000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Tax_Free_Records.TF_Rebate_of_GC__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Opp_for_Head_of_Retail_Approval</targetReference>
            </connector>
            <label>Yes - Head of Retail</label>
        </rules>
        <rules>
            <name>Yes_Finance_Approver</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Tax_Free_Records.TF_NC_Per_Form__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Tax_Free_Records.TF_Annual_Net_Commission__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Tax_Free_Records.TF_Rebate_of_GC__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>65.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Opp_for_Tax_Free</targetReference>
            </connector>
            <label>Yes - Finance Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vertical</name>
        <label>Vertical</label>
        <locationX>1291</locationX>
        <locationY>1101</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hospitality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Gateway_TF_Hospitality_for_Approval</targetReference>
            </connector>
            <label>Hospitality</label>
        </rules>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Gateway_TF_Retail_for_Approval</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vertical_0</name>
        <label>Vertical</label>
        <locationX>1630</locationX>
        <locationY>701</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hospitality_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Fees_Hospitality_for_Approval</targetReference>
            </connector>
            <label>Hospitality</label>
        </rules>
        <rules>
            <name>Retail_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Fees_Retail_for_Approval_0</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vertical_0_0</name>
        <label>Vertical</label>
        <locationX>1493</locationX>
        <locationY>894</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hospitality_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Gateway_Hospitality_for_Approval</targetReference>
            </connector>
            <label>Hospitality</label>
        </rules>
        <rules>
            <name>Retail_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Gateway_Retail_for_Approval</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vertical_0_0_0</name>
        <label>Vertical</label>
        <locationX>1661</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hospitality_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Tax_Free_Hospitality_for_Approval</targetReference>
            </connector>
            <label>Hospitality</label>
        </rules>
        <rules>
            <name>Retail_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Company_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Acquiring_Tax_Free_Retail_for_Approval</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide which approval process to submit Opp to, based on attached products.</description>
        <name>Which_Approval_Process</name>
        <label>Which Approval Process?</label>
        <locationX>1228</locationX>
        <locationY>856</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_if_no_Approval_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approval not Required</defaultConnectorLabel>
        <rules>
            <name>Gateway_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAcquiringFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaxFree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Gateway_for_Approval</targetReference>
            </connector>
            <label>Gateway Only</label>
        </rules>
        <rules>
            <name>Tax_Free_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaxFree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAcquiringFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Tax_Free_for_Approval</targetReference>
            </connector>
            <label>Tax Free Only</label>
        </rules>
        <rules>
            <name>Acquiring_Fees_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcquiringFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaxFree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vertical_0</targetReference>
            </connector>
            <label>Acquiring Fees Only</label>
        </rules>
        <rules>
            <name>Acquiring_Gateway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcquiringFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaxFree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vertical_0_0</targetReference>
            </connector>
            <label>Acquiring &amp; Gateway</label>
        </rules>
        <rules>
            <name>Acquiring_Tax_Free</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcquiringFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaxFree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vertical_0_0_0</targetReference>
            </connector>
            <label>Acquiring &amp; Tax Free</label>
        </rules>
        <rules>
            <name>Acquiring_Fees_Gateway_Tax_Free</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcquiringFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCharges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaxFree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vertical</targetReference>
            </connector>
            <label>Acquiring Fees, Gateway &amp; Tax Free</label>
        </rules>
        <rules>
            <name>Indirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartnerProducts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Indirect_for_Approval</targetReference>
            </connector>
            <label>Indirect</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - Submit for Approval (New) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Submit for Approval (New)</label>
    <loops>
        <name>Loop_Over_Acquiring_Fees</name>
        <label>Loop Over Acquiring Fees</label>
        <locationX>405</locationX>
        <locationY>783</locationY>
        <collectionReference>Get_Acquiring_Fees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fees_Require_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Tax_Free</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Charges_Records</name>
        <label>Loop over Charges Records</label>
        <locationX>412</locationX>
        <locationY>1144</locationY>
        <collectionReference>Get_Charges_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Charges_Require_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Partner_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Tax_Free_Records</name>
        <label>Loop Over Tax Free Records</label>
        <locationX>409</locationX>
        <locationY>959</locationY>
        <collectionReference>Get_Tax_Free</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tax_Free_Requires_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Charges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Acquiring_Fees</name>
        <label>Get Acquiring Fees</label>
        <locationX>663</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tax_Free</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Acquiring_Fees__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Charges_Records</name>
        <label>Get Charges Records</label>
        <locationX>890</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Records_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Charges__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Records_0</name>
        <label>Get Partner Records</label>
        <locationX>1000</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Acquiring_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Indirect_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Free</name>
        <label>Get Tax Free</label>
        <locationX>779</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Charges_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TF_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Opp_for_Head_of_Retail_Approval</name>
        <label>Mark Opp for Head of Retail Approval</label>
        <locationX>1037</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>Flag_Opp_for_Tax_Free</targetReference>
        </connector>
        <inputAssignments>
            <field>Head_of_Retail_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If the opp doesn&#39;t require approval, mark it as approved.</description>
        <name>Update_Opp_if_no_Approval_Required</name>
        <label>Update Opp if no Approval Required</label>
        <locationX>1069</locationX>
        <locationY>1243</locationY>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Moving_to_Proposal_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAcquiringFees</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCharges</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPartnerProducts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTaxFree</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
