unpackaged/main/default/flows/OPPORTUNITY_SFL_UpdateTotalPanEuroOppValue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SET_Add_Opp_Value_to_Total</name>
        <label>SET_Add_Opp_Value_to_Total</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_currency_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_currency_CalcTotalOppValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Related_Opp_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>var_currency_CalcTotalOppValue</name>
        <dataType>Currency</dataType>
        <expression>{!LOOP_Related_Opp_Records.Total_Opportunity_Value_Converted__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OPPORTUNITY_SFL_UpdateTotalPanEuroOppValue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPPORTUNITY_SFL_UpdateTotalPanEuroOppValue</label>
    <loops>
        <name>LOOP_Related_Opp_Records</name>
        <label>LOOP_Related_Opp_Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>coll_sObj_Related_Opportunity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SET_Add_Opp_Value_to_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Related_Opportunity_Records</name>
        <label>GET_Related_Opportunity_Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Related_Opp_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>coll_sObj_Related_Opportunity_Records</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Opportunity</name>
        <label>UPDATE_Parent_Opportunity</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Pan_Euro_Opp_Value__c</field>
            <value>
                <elementReference>var_currency_Total</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Related_Opportunity_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>coll_sObj_Related_Opportunity_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_currency_Total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
