unpackaged/main/default/flows/Opportunity_Populate_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Sets the approvers for current Opportunity from the Opportunity Approval Matrix.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Populate Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Populate Approvers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the Approval Matrix records corresponding to parent Account&#39;s region</description>
        <name>Get_Approval_Matrix_Record</name>
        <label>Get Approval Matrix Record</label>
        <locationX>501</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Cluster_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vertical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Company_Sector__c</elementReference>
            </value>
        </filters>
        <object>Opportunity_Approval_Matrix__c</object>
        <outputAssignments>
            <assignToReference>RegionBusinessApproverId</assignToReference>
            <field>Business_Approver__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegionFinanceApproverId</assignToReference>
            <field>Finance_Approver__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Opportunity</name>
        <label>Update Current Opportunity</label>
        <locationX>639</locationX>
        <locationY>474</locationY>
        <inputAssignments>
            <field>Business_Approver__c</field>
            <value>
                <elementReference>RegionBusinessApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Approver__c</field>
            <value>
                <elementReference>RegionFinanceApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>34</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>Get_Approval_Matrix_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Approver__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Finance_Approver__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RegionBusinessApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RegionFinanceApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
