unpackaged/main/default/flows/OPPORTUNITY_SFL_Proposal_Signed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Submit for Approval</description>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>308</locationX>
        <locationY>278</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Proposal_Signed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Check whether the approval status is pending or approved to stop the loop.</description>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approved</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_text_Prior_Approval_Status</elementReference>
                </rightValue>
            </conditions>
            <label>Pending</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>{!$Flow.InterviewGuid}+{!$Flow.InterviewStartTime}</interviewLabel>
    <label>OPPORTUNITY_SFL_Proposal_Signed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Approval Process Name</description>
        <name>OpportunityOnProposalSigned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Opportunity_On_Proposal_Signed</stringValue>
        </value>
    </variables>
    <variables>
        <name>PendingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text_Prior_Approval_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
