unpackaged/main/default/flows/PaymentCardCharge_Interchange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>AdjustedPaymentsGC</name>
        <dataType>Currency</dataType>
        <expression>(({!varPaymentsAnnualValue}*{!varVisaMCIntlofTotal}*({!varVisaMCIntl})) + ({!varPaymentsAnnualValue}*{!varVisaMCDomesticofTotal}*({!varVisaMCDomestic})) + ({!varPaymentsAnnualValue}*{!varAlipayofTotal}*({!varAlipay} - {!varChineseWalletCharge})) + ({!varPaymentsAnnualValue}*{!varWeChatofTotal}*({!varWeChat}-{!varChineseWalletCharge})) + ({!varPaymentsAnnualValue}*{!varAmexofTotal}*({!varAmex} - {!varAmexCharge})) +  ({!varPaymentsAnnualValue}*{!JCBofTotal}*({!varJCB} - {!varJCBCharge})) + ({!varPaymentsAnnualValue}*{!varUnionPayofTotal}*({!varUnionPay} - {!varUnionPayCharge})))/10000</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PaymentCardCharge Interchange++ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PaymentCardCharge Interchange++</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>245</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPaymentCardCharge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAmex</assignToReference>
            <field>AMEX__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAmexofTotal</assignToReference>
            <field>AMEX_of_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAlipay</assignToReference>
            <field>Alipay__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAlipayofTotal</assignToReference>
            <field>Alipay_of_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunity.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varJCB</assignToReference>
            <field>JCB__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>JCBofTotal</assignToReference>
            <field>JCB_of_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwningCountry</assignToReference>
            <field>Owning_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPaymentsAnnualValue</assignToReference>
            <field>Payments_Annual_Value__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProduct</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnionPay</assignToReference>
            <field>Union_Pay__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnionPayofTotal</assignToReference>
            <field>Union_Pay_of_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVisaMCDomestic</assignToReference>
            <field>VISA_MC_Domestic_EEA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVisaMCDomesticofTotal</assignToReference>
            <field>VISA_MC_Domestic_EEA_of_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVisaMCIntl</assignToReference>
            <field>VISA_MC_Intl__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVisaMCIntlofTotal</assignToReference>
            <field>VISA_MC_Intl_of_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWeChat</assignToReference>
            <field>WeChat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWeChatofTotal</assignToReference>
            <field>WeChat_of_Total__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPaymentCardCharge</name>
        <label>GetPaymentCardCharge</label>
        <locationX>407</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owning_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwningCountry</elementReference>
            </value>
        </filters>
        <object>Payment_Card_Charge__c</object>
        <outputAssignments>
            <assignToReference>varAmexCharge</assignToReference>
            <field>Amex__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChineseWalletCharge</assignToReference>
            <field>Chinese_Wallets__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPaymentCardCharge.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varJCBCharge</assignToReference>
            <field>JCB__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUnionPayCharge</assignToReference>
            <field>UnionPay__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVisaMCDomesticCharge</assignToReference>
            <field>Visa_MC_Domestic_EEA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVisaMCIntlCharge</assignToReference>
            <field>Visa_MC_Intl__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>UpdateOpportunity</label>
        <locationX>544</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payments_Annual_GP__c</field>
            <value>
                <elementReference>AdjustedPaymentsGC</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JCBofTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varAlipay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varAlipayofTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varAmex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varAmexCharge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varAmexofTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varChineseWalletCharge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varJCB</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varJCBCharge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOwningCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPaymentCardCharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Card_Charge__c</objectType>
    </variables>
    <variables>
        <name>varPaymentsAnnualValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUnionPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varUnionPayCharge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varUnionPayofTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varVisaMCDomestic</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varVisaMCDomesticCharge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varVisaMCDomesticofTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varVisaMCIntl</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varVisaMCIntlCharge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varVisaMCIntlofTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varWeChat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>varWeChatofTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
</Flow>
