unpackaged/main/default/flows/planet_intelligence_survey_15237423_70b7_4546_9301_fea98ea1efa3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_025cf310_5ea6_408a_a2be_7943aa1bad03</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_03a6e9d1_c636_41a3_a998_fa5cf6389e12</name>
        <choiceText>I forward Planet Intelligence to internal contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I forward Planet Intelligence to internal contacts</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_07f8c0a3_2366_491c_b697_19637ecc7c97</name>
        <choiceText>To benchmark my company performance vs market</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To benchmark my company performance vs market</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0a5fc83e_a6e0_4e7b_85e0_15dbac66810d</name>
        <choiceText>Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0eb26160_6cae_495e_9cfb_394f1a93b321</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_120bf9bd_c855_4cdb_9763_29651b13ae7a</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1bd9df4b_6e92_4f24_b879_e5f29e1fc4ff</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1ec5da11_0d5e_4d6b_8303_36e1a33d92f0</name>
        <choiceText>Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_23e7d356_281d_4119_af70_4b3c168e64f2</name>
        <choiceText>Very Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2ad008d3_6ff8_4a51_8e5c_4ba732dff431</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2e2227dc_637d_4bb6_9f68_05bbdfbd28ea</name>
        <choiceText>Very Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_30652812_8232_4d3c_acd8_187f66d082ea</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c230f63_31be_41fc_9b20_687747a1c08a</name>
        <choiceText>Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f9fdc5c_143f_4859_9669_0fd4305cbc01</name>
        <choiceText>Sometimes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5840a4f0_d990_43e6_9c6e_a9ff826b31a0</name>
        <choiceText>To brief my teams</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To brief my teams</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_608d2c69_99aa_441b_bc96_bfcf7e33e9f4</name>
        <choiceText>Never</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62bf782f_a16c_4968_ad23_520e0d042d79</name>
        <choiceText>Not Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_656d1916_d19f_48e6_b498_decd665395c6</name>
        <choiceText>Never</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6cb250bd_1ce1_4df3_a85d_9914449c1449</name>
        <choiceText>The report is too long</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The report is too long</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_70191b7f_5c66_4411_bcbf_360e56ce733d</name>
        <choiceText>To add content to internal presentations (budget reviews, marketing reviews, retail reviews...)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To add content to internal presentations (budget reviews, marketing reviews, retail reviews...)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_78358721_fb01_4fb0_906c_cb4061c697c2</name>
        <choiceText>Sometimes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_84e0a3ad_7868_484f_81a9_3544e6f65d1c</name>
        <choiceText>Not Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_892f13d8_d529_4984_b86b_a86101962ce2</name>
        <choiceText>Every Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8f30cfc6_dc2d_49e5_bc8c_fd2fff77f817</name>
        <choiceText>The content is not of interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The content is not of interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9129a3a3_9881_4d7b_92b3_c60232d8940a</name>
        <choiceText>Very Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a4d8fb6c_477e_4fe3_8084_43b2bf91bdec</name>
        <choiceText>Not Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a54fdabe_3c53_413a_be3b_6e130195d247</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_acb50f05_00a1_4f65_acfb_4fc0c8674f9d</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b14c17cd_3821_48f0_819e_3554c142ed59</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b1e15dd1_3265_4c6f_8060_744652c4edb5</name>
        <choiceText>Every Month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b767071d_0e5a_4535_a7aa_eac519529d19</name>
        <choiceText>Not Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b8312f51_3adb_4176_ac28_11e7eecf8e91</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bb994f7a_3c04_4468_bc94_e5effc6da87f</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c8ff329b_50e9_48db_b022_5648f5f76155</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d21340ce_7efa_46c3_a0f3_bb301bd18fce</name>
        <choiceText>Very Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d367975c_8194_4576_812b_478e129a48bf</name>
        <choiceText>Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d4608800_8069_4b75_bf9d_fcc1f50b4c02</name>
        <choiceText>Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d953214a_eda1_4e2b_8cef_d95de81e3293</name>
        <choiceText>Very Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e936851b_9e05_41a9_bafd_c1641851ec34</name>
        <choiceText>Not Interesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interesting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f136d0bc_518e_4aa9_b68c_f36a28627ec8</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <interviewLabel>Planet Intelligence Survey</interviewLabel>
    <label>Planet Intelligence Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>planet_intelligence_survey_15237423_70b7_4546_9301_fea98ea1efa3_2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>BI_Survey_1598706660795</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_23f208b7_ca2e_4fc8_ba26_3fbe8493d3c4</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a68854aa_8458_4b1d_bfba_7bfac45f210b</name>
            <choiceReferences>c_892f13d8_d529_4984_b86b_a86101962ce2</choiceReferences>
            <choiceReferences>c_3f9fdc5c_143f_4859_9669_0fd4305cbc01</choiceReferences>
            <choiceReferences>c_608d2c69_99aa_441b_bc96_bfcf7e33e9f4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Do you open Planet Intelligence reports?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_06160265_328e_4ed4_b4f4_aab06d752536</name>
            <choiceReferences>c_8f30cfc6_dc2d_49e5_bc8c_fd2fff77f817</choiceReferences>
            <choiceReferences>c_6cb250bd_1ce1_4df3_a85d_9914449c1449</choiceReferences>
            <choiceReferences>c_0eb26160_6cae_495e_9cfb_394f1a93b321</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;If you rarely or never open Planet Intelligence, is it because...&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_a68854aa_8458_4b1d_bfba_7bfac45f210b</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>c_892f13d8_d529_4984_b86b_a86101962ce2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c79f04c1_56ab_4cd0_a0b2_ff5bb8d12ddb</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Since you selected &#39;Other&#39;, please provide the details.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_06160265_328e_4ed4_b4f4_aab06d752536</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_0eb26160_6cae_495e_9cfb_394f1a93b321</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_23f208b7_ca2e_4fc8_ba26_3fbe8493d3c4</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b9420efd_7568_4c91_8940_148766724174</name>
            <choiceReferences>c_5840a4f0_d990_43e6_9c6e_a9ff826b31a0</choiceReferences>
            <choiceReferences>c_07f8c0a3_2366_491c_b697_19637ecc7c97</choiceReferences>
            <choiceReferences>c_70191b7f_5c66_4411_bcbf_360e56ce733d</choiceReferences>
            <choiceReferences>c_03a6e9d1_c636_41a3_a998_fa5cf6389e12</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What is your primary use of Planet Intelligence content?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select one or more</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</name>
        <label>Page 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c6d1e478_da3c_4a51_9d59_3cc264c3881e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7620648e_9f54_44b2_815e_3d577142d496</name>
            <choiceReferences>c_a54fdabe_3c53_413a_be3b_6e130195d247</choiceReferences>
            <choiceReferences>c_acb50f05_00a1_4f65_acfb_4fc0c8674f9d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;In the future would you like more content on Planet innovations?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6aea4a94_dfd6_4cdc_aa01_d52d100bc1b9</name>
            <choiceReferences>c_120bf9bd_c855_4cdb_9763_29651b13ae7a</choiceReferences>
            <choiceReferences>c_30652812_8232_4d3c_acd8_187f66d082ea</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Payments Trends?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1c980266_96f7_4da5_9756_3fa59ed50c7d</name>
            <choiceReferences>c_bb994f7a_3c04_4468_bc94_e5effc6da87f</choiceReferences>
            <choiceReferences>c_1bd9df4b_6e92_4f24_b879_e5f29e1fc4ff</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Source market economic trends?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_957b2719_9537_4b95_9e42_890d45b5cd1b</name>
            <choiceReferences>c_2ad008d3_6ff8_4a51_8e5c_4ba732dff431</choiceReferences>
            <choiceReferences>c_f136d0bc_518e_4aa9_b68c_f36a28627ec8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Hospitality Business trends and innovations?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c1b70343_d200_4d4d_97e9_6051400eff9c</name>
            <choiceReferences>c_b14c17cd_3821_48f0_819e_3554c142ed59</choiceReferences>
            <choiceReferences>c_025cf310_5ea6_408a_a2be_7943aa1bad03</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Industry leader interviews?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3270a1b4_a979_47a6_921c_0268e44ffeb7</name>
            <choiceReferences>c_c8ff329b_50e9_48db_b022_5648f5f76155</choiceReferences>
            <choiceReferences>c_b8312f51_3adb_4176_ac28_11e7eecf8e91</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Post Covid market recovery?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c17f4bfa_4a32_4f50_b4a8_67ed11bec1aa</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Other?  Please specify below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a61cf838_c4af_49fc_a898_36431f510bb4</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_274ed2e5_ec22_4e95_b620_4f0049d81e5d</name>
            <choiceReferences>c_23e7d356_281d_4119_af70_4b3c168e64f2</choiceReferences>
            <choiceReferences>c_d4608800_8069_4b75_bf9d_fcc1f50b4c02</choiceReferences>
            <choiceReferences>c_a4d8fb6c_477e_4fe3_8084_43b2bf91bdec</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Do you find following sections interesting? Market performance?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5bba3dca_fa3c_44c8_93e1_45da2a7eb6bb</name>
            <choiceReferences>c_9129a3a3_9881_4d7b_92b3_c60232d8940a</choiceReferences>
            <choiceReferences>c_1ec5da11_0d5e_4d6b_8303_36e1a33d92f0</choiceReferences>
            <choiceReferences>c_84e0a3ad_7868_484f_81a9_3544e6f65d1c</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Top Nationalities performance?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_43a28e0c_1e4c_46a2_8702_579c0e0cd110</name>
            <choiceReferences>c_2e2227dc_637d_4bb6_9f68_05bbdfbd28ea</choiceReferences>
            <choiceReferences>c_d367975c_8194_4576_812b_478e129a48bf</choiceReferences>
            <choiceReferences>c_b767071d_0e5a_4535_a7aa_eac519529d19</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Arrivals forecasts?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_32e97819_0005_4475_8712_9b92fa51ccf5</name>
            <choiceReferences>c_d953214a_eda1_4e2b_8cef_d95de81e3293</choiceReferences>
            <choiceReferences>c_3c230f63_31be_41fc_9b20_687747a1c08a</choiceReferences>
            <choiceReferences>c_62bf782f_a16c_4968_ad23_520e0d042d79</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Business Trends focus?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_30a63db1_9750_4ee6_b313_4e5c5198a548</name>
            <choiceReferences>c_d21340ce_7efa_46c3_a0f3_bb301bd18fce</choiceReferences>
            <choiceReferences>c_0a5fc83e_a6e0_4e7b_85e0_15dbac66810d</choiceReferences>
            <choiceReferences>c_e936851b_9e05_41a9_bafd_c1641851ec34</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Holiday Calendar?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a61cf838_c4af_49fc_a898_36431f510bb4</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b7687117_73b5_417b_826a_3b8fc8429998</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Could you suggest additional content of interest?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a1f16c7b_37cc_4e6a_ba65_94b335a32ea1</name>
            <choiceReferences>c_b1e15dd1_3265_4c6f_8060_744652c4edb5</choiceReferences>
            <choiceReferences>c_78358721_fb01_4fb0_906c_cb4061c697c2</choiceReferences>
            <choiceReferences>c_656d1916_d19f_48e6_b498_decd665395c6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Do you receive Planet Intelligence every month?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c6d1e478_da3c_4a51_9d59_3cc264c3881e</name>
        <label>Page 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4713ae0a_217c_4b19_846b_43cce58edbc6</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please add any suggestions below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Thank you&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; for your feedback!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fintrax--c.documentforce.com/file-asset-public/Planet_Letter_New?oid=00D24000000ac79&amp;amp;v=1&quot; alt=&quot;Planet Letter New&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Planet Intelligence Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
