unpackaged/main/default/flows/POS_Solution_Units_Delivered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Fetch_Selected_POS_Solutions</name>
        <label>Fetch Selected POS Solutions</label>
        <locationX>179</locationX>
        <locationY>376</locationY>
        <actionName>POS_Solution_GetFlowRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delivery_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listOfIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Selected_POS_Solutions</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Temp_ULH_Obj_to_Collection</name>
        <label>Assign Temp ULH Obj to Collection</label>
        <locationX>827</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Unit_Legacy_History_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_ULH_Object</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Unit_to_Temp_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unit_to_Temp_Object</name>
        <label>Assign Unit to Temp Object</label>
        <locationX>984</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Unit_Records_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Unit_Object</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_POS_Solutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Temp_Unit_Object</name>
        <label>Assign Values to Temp Unit Object</label>
        <locationX>497</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Temp_Unit_Object.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_POS_Solutions.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Unit_Object.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Unit_Legacy_History_Obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History_Obj</name>
        <label>Assign Values to Unit Legacy History Obj</label>
        <locationX>668</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Temp_ULH_Object.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_ULH_Object.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_POS_Solutions.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_ULH_Object.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_POS_Solutions.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_ULH_Object.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_ULH_Object.Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tracking_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_ULH_Object.Courier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_The_Courier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Temp_ULH_Obj_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TNT</name>
        <choiceText>TNT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TNT</stringValue>
        </value>
    </choices>
    <choices>
        <name>UPS</name>
        <choiceText>UPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPS</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Any_POS_Solution_Selected</name>
        <label>Any POS Solution Selected?</label>
        <locationX>170</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>No_POS_Solutions_Selected_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Selected_POS_Solutions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SelectCourier</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Courier__c</picklistField>
        <picklistObject>Unit_Legacy_History__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>POS Solution - Units Delivered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POS Solution - Units Delivered</label>
    <loops>
        <name>Loop_through_POS_Solutions</name>
        <label>Loop through POS Solutions</label>
        <locationX>326</locationX>
        <locationY>518</locationY>
        <collectionReference>Selected_POS_Solutions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Temp_Unit_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Unit_Legacy_History_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Unit_Legacy_History_Entries</name>
        <label>Create Unit Legacy History Entries</label>
        <locationX>327</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Update_Units</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Unit_Legacy_History_Entries</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Units</name>
        <label>Update Units</label>
        <locationX>486</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Unit_Records_to_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Delivery_Details</name>
        <label>Delivery Details</label>
        <locationX>182</locationX>
        <locationY>517</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_POS_Solutions</targetReference>
        </connector>
        <fields>
            <name>Tracking_Number</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_The_Courier</name>
            <choiceReferences>TNT</choiceReferences>
            <choiceReferences>UPS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Courier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>483</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Whoops! It looks like something has gone wrong. Here&#39;s the error:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_POS_Solutions_Selected_Error_Screen</name>
        <label>No POS Solutions Selected Error Screen</label>
        <locationX>2</locationX>
        <locationY>223</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Selection_Error_Message</name>
            <fieldText>&lt;p&gt;You haven&#39;t selected any POS Solutions. Please go back and select at least one POS Solution.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>663</locationX>
        <locationY>371</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Units Marked as Delivered.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomFooter</name>
            <extensionName>c:callListViewFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Any_POS_Solution_Selected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>POS_Solutions_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>Selected_POS_Solutions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>Temp_POS_Solution_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>Temp_ULH_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit_Legacy_History__c</objectType>
    </variables>
    <variables>
        <name>Temp_Unit_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>Unit_Legacy_History_Entries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit_Legacy_History__c</objectType>
    </variables>
    <variables>
        <name>Unit_Records_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
