unpackaged/main/default/flows/POS_Solution_Replace_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_New_Unit_Legacy_History</name>
        <label>Add New Unit Legacy History</label>
        <locationX>1102</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_Unit_by_Serial_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Unit_to_Update.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Temp_Legacy_History_Obj_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Old_Unit_Legacy_History</name>
        <label>Add Old Unit Legacy History</label>
        <locationX>1431</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_POS_Solution_Unit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Transit to Planet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Unit_Legacy_History_Obj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_Unit_to_Update.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Temp_Legacy_History_Obj_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Values_to_POS_Solution</name>
        <label>Assign New Values to POS Solution</label>
        <locationX>1226</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>Temp_POS_Solution_Obj.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_Unit_by_Serial_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_POS_Solution_Obj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_New_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temp_Legacy_History_Obj_to_Collection</name>
        <label>Assign Temp Legacy History Obj to Collection</label>
        <locationX>1278</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>Unit_Legacy_History_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Unit_Legacy_History_Obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Unit_Legacy_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temp_Legacy_History_Obj_to_Collection_0</name>
        <label>Assign Temp Legacy History Obj to Collection</label>
        <locationX>942</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>Unit_Legacy_History_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Unit_Legacy_History_Obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Units_to_Update_to_Collection</name>
        <label>Assign Units to Update to Collection</label>
        <locationX>1506</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>Units_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Unit_to_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Units_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Old_Unit_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Old_Unit_Legacy_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_New_Unit</name>
        <label>Assign Values to New Unit</label>
        <locationX>1363</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>New_Unit_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_Unit_by_Serial_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Unit_to_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Unit_to_Update.Owning_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Owning_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Units_to_Update_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Old_Unit</name>
        <label>Assign Values to Old Unit</label>
        <locationX>1058</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>Old_Unit_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Unit_to_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Unit_to_Update.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Transit to Planet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Values_to_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Old_Unit_0</name>
        <label>Assign Values to Old Unit</label>
        <locationX>1054</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>Old_Unit_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Unit_to_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Unit_to_Update.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Transit to Planet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Values_to_POS_Solution</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Fault</name>
        <choiceText>Fault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fault</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Value</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoLongerRequired</name>
        <choiceText>No Longer Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoLongerRequired</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Search_Result</name>
        <choiceText>{!Search_for_Unit_by_Serial_Number.Serial_Number__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Search_for_Unit_by_Serial_Number.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes_Value</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Reason_for_Replacing</name>
        <label>Reason for Replacing</label>
        <locationX>883</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Old_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Longer Required</defaultConnectorLabel>
        <rules>
            <name>Faulty_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Replacement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fault</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Old_Unit_0</targetReference>
            </connector>
            <label>Faulty Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Found</name>
        <label>Unit Found</label>
        <locationX>518</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>No_Unit_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Unit_by_Serial_Number.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Select_Unit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Available_Units</name>
        <dataType>String</dataType>
        <displayField>Serial_Number__c</displayField>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Stock</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_POS_Solution_Unit.Unit_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_POS_Solution_Unit.Unit_Subtype__c</elementReference>
            </value>
        </filters>
        <limit>5</limit>
        <object>Unit__c</object>
        <sortField>Serial_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unit_Subtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Unit_Subtype__c</picklistField>
        <picklistObject>Unit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unit_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Unit_Type__c</picklistField>
        <picklistObject>Unit__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>POS Solution - Replace Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POS Solution - Replace Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ULH_Entries</name>
        <label>Create ULH Entries</label>
        <locationX>351</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Unit_Legacy_History_Entries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_POS_Solution</name>
        <label>Get Current POS Solution</label>
        <locationX>176</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POS_Solution_Unit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>POS_Solution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POS_Solution_Unit</name>
        <label>Get POS Solution Unit</label>
        <locationX>176</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Replacement_Reason</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Unit_by_Serial_Number</name>
        <label>Search for Unit by Serial Number</label>
        <locationX>350</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Serial_Number_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_POS_Solution</name>
        <label>Update POS Solution</label>
        <locationX>521</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>Update_Units</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Temp_POS_Solution_Obj</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Units</name>
        <label>Update Units</label>
        <locationX>349</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>Create_ULH_Entries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Units_to_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>524</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Unit_Found</name>
        <label>No Unit Found</label>
        <locationX>733</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Unit_Found_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sorry, no units were found, or the units are not listed as being in stock. Please search for a different unit, or check the status of the unit you are searching for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Replacement_Reason</name>
        <label>Reason for Replacement</label>
        <locationX>181</locationX>
        <locationY>561</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_for_Replacement_Unit_0</targetReference>
        </connector>
        <fields>
            <name>Reason_for_Replacement</name>
            <choiceReferences>Fault</choiceReferences>
            <choiceReferences>NoLongerRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Replacement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_for_Replacement_Unit_0</name>
        <label>Search for Replacement Unit</label>
        <locationX>183</locationX>
        <locationY>706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_for_Unit_by_Serial_Number</targetReference>
        </connector>
        <fields>
            <name>Enter_Serial_Number_0</name>
            <dataType>String</dataType>
            <fieldText>Enter Serial Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Unit</name>
        <label>Select Unit</label>
        <locationX>731</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_for_Replacing</targetReference>
        </connector>
        <fields>
            <name>Returned_Unit</name>
            <fieldText>&lt;p&gt;Found Unit:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Unit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Unit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Serial_Number_Label</name>
                    <fieldText>&lt;p&gt;Unit Serial Number:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Serial_Number_Value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Search_for_Unit_by_Serial_Number.Serial_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Unit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Type_Label</name>
                    <fieldText>&lt;p&gt;Unit Type:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Type_Value</name>
                    <fieldText>&lt;p&gt;{!Search_for_Unit_by_Serial_Number.Unit_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Unit_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Subtype_Label</name>
                    <fieldText>&lt;p&gt;Unit Subtype:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Subtype_Value</name>
                    <fieldText>&lt;p&gt;{!Search_for_Unit_by_Serial_Number.Unit_Subtype__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Unit_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Status_Label</name>
                    <fieldText>&lt;p&gt;Unit Status:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Status_Value</name>
                    <fieldText>&lt;p&gt;{!Search_for_Unit_by_Serial_Number.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>497</locationX>
        <locationY>62</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Unit Successfully Replaced.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Current_POS_Solution</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>New_Unit_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>Old_Unit_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Temp_POS_Solution_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>POS_Solution__c</objectType>
    </variables>
    <variables>
        <name>Temp_Unit_Legacy_History_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit_Legacy_History__c</objectType>
    </variables>
    <variables>
        <name>Unit_Legacy_History_Entries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit_Legacy_History__c</objectType>
    </variables>
    <variables>
        <name>Units_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
