unpackaged/main/default/flows/POS_Solution_Assign_Unit_Single.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_New_Values_to_Unit</name>
        <label>Assign New Values to Unit</label>
        <locationX>1871</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>varSelectedUnit.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUnit.Unit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUnit.OB_Ticket_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OB_Ticket_Number_S</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POS_Solution_to_Passport_Scanner</name>
        <label>Assign POS Solution to Passport Scanner</label>
        <locationX>2636</locationX>
        <locationY>1132</locationY>
        <assignmentItems>
            <assignToReference>varSelectedUnit.POS_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POS_Solution_to_Printer</name>
        <label>Assign POS Solution to Printer</label>
        <locationX>2629</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>varSelectedUnit.POS_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Unit_Id</name>
        <label>Assign Selected Unit Id</label>
        <locationX>1891</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>varSelectedUnitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_Unit_by_Serial_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUnit.OB_Ticket_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OB_Ticket_Number_I</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Unit_values_from_Serial_Number_Search</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unit_values_from_Serial_Number_Search</name>
        <label>Assign Unit values from Serial Number Search</label>
        <locationX>1890</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>varSelectedUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUnit.Unit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_Unit_by_Serial_Number.Unit_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUnit.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_POS_Solution</name>
        <label>Assign Values to POS Solution</label>
        <locationX>2616</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_POS_Solution_0</name>
        <label>Assign Values to POS Solution</label>
        <locationX>2620</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Pinpad_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_POS_Solution_0_0</name>
        <label>Assign Values to POS Solution</label>
        <locationX>2622</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Base_Station_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_POS_Solution_0_0_0</name>
        <label>Assign Values to POS Solution</label>
        <locationX>2624</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.SIM_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_POS_Solution_0_0_0_0</name>
        <label>Assign Values to POS Solution</label>
        <locationX>2624</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_POS_Solution.Tablet_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>2364</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_POS_Solution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History_0</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>2364</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_POS_Solution_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History_0_0</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>2368</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_POS_Solution_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History_0_0_0</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>2372</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_POS_Solution_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History_0_0_0_0</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>2373</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_POS_Solution_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History_0_0_0_0_0</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>2382</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_POS_Solution_to_Printer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History_0_0_0_0_0_0</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>2375</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_POS_Solution_to_Passport_Scanner</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Unit_Search_Result</name>
        <choiceText>{!Search_for_Unit_by_Serial_Number.Serial_Number__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Search_for_Unit_by_Serial_Number.Id</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Available_Units_in_Stock</name>
        <label>Available Units in Stock</label>
        <locationX>1528</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>No_Units_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Units in Stock</defaultConnectorLabel>
        <rules>
            <name>Units_in_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Available_Units</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_from_Available_Unit</targetReference>
            </connector>
            <label>Units in Stock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Search</name>
        <label>Type of Search</label>
        <locationX>1360</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Get_Available_Units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From List</defaultConnectorLabel>
        <rules>
            <name>By_Serial_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unit_Serial_Number</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Search_for_Unit_by_Serial_Number</targetReference>
            </connector>
            <label>By Serial Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Unit</name>
        <label>Type of Unit</label>
        <locationX>2067</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_Unit_Legacy_History_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Base Station</defaultConnectorLabel>
        <rules>
            <name>Terminal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUnit.Unit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Unit_Legacy_History</targetReference>
            </connector>
            <label>Terminal</label>
        </rules>
        <rules>
            <name>Pinpad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUnit.Unit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pinpad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Unit_Legacy_History_0</targetReference>
            </connector>
            <label>Pinpad</label>
        </rules>
        <rules>
            <name>SIM_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUnit.Unit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Unit_Legacy_History_0_0_0</targetReference>
            </connector>
            <label>SIM Card</label>
        </rules>
        <rules>
            <name>Tablet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUnit.Unit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tablet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Unit_Legacy_History_0_0_0_0</targetReference>
            </connector>
            <label>Tablet</label>
        </rules>
        <rules>
            <name>Printer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUnit.Unit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Printer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Unit_Legacy_History_0_0_0_0_0</targetReference>
            </connector>
            <label>Printer</label>
        </rules>
        <rules>
            <name>Passport_Scanner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUnit.Unit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passport Scanner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Unit_Legacy_History_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Passport Scanner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Found</name>
        <label>Unit Found</label>
        <locationX>1516</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>No_Units_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Unit_by_Serial_Number.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Select_Returned_Unit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Search for and assign a unit to POS Solution record.</description>
    <dynamicChoiceSets>
        <name>Available_Units</name>
        <dataType>String</dataType>
        <displayField>Serial_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Type_Selection.topValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Type_Selection.middleValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputAssignments>
            <assignToReference>varSelectedUnitId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedUnitType</assignToReference>
            <field>Unit_Type__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>POS Solution - Assign Unit (Single) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POS Solution - Assign Unit (Single)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Unit_Legacy_History_Entry</name>
        <label>Create Unit Legacy History Entry</label>
        <locationX>1050</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>varUnitLegacyHistory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Available_Units</name>
        <label>Get Available Units</label>
        <locationX>1372</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_Units_in_Stock</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Type_Selection.topValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Type_Selection.middleValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>1032</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_for_Unit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_POS_Solution.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_POS_Solution</name>
        <label>Get Current POS Solution</label>
        <locationX>883</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>POS_Solution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Unit_by_Serial_Number</name>
        <label>Search for Unit by Serial Number</label>
        <locationX>1367</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Serial_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_POS_Solution</name>
        <label>Update POS Solution</label>
        <locationX>1382</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Selected_Unit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_Current_POS_Solution</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Unit</name>
        <label>Update Selected Unit</label>
        <locationX>1217</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>Create_Unit_Legacy_History_Entry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>varSelectedUnit</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>882</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Units_Found</name>
        <label>No Units Found</label>
        <locationX>1698</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Units_Found_Message</name>
            <fieldText>&lt;p&gt;Sorry, no units were found, or the units are not listed as being in stock. Please search for a different unit, or check the status of the unit you are searching for.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_for_Unit</name>
        <label>Search for Unit</label>
        <locationX>1196</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_Search</targetReference>
        </connector>
        <fields>
            <name>Search_for_Unit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Search_for_Unit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Search_by_Serial_No</name>
                    <fieldText>&lt;p&gt;Search Unit by Serial Number:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Serial_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Unit Serial Number:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Unit_Type_Selection.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Search_for_Unit_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Search_for_Unit_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_from_List</name>
                    <fieldText>&lt;p&gt;Or select from list:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Type_Selection</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Unit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Unit_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Unit_Subtype__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Select Unit Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Select Unit Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>varUnitTypeSelection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>varUnitSubtypeSelection</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Unit_Serial_Number</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_from_Available_Unit</name>
        <label>Select from Available Unit</label>
        <locationX>1713</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Values_to_Unit</targetReference>
        </connector>
        <fields>
            <name>Select_from_Available_Unit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_from_Available_Unit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_from_Available_Unit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Unit_Type</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Unit Type: {!Unit_Type_Selection.topValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_from_Available_Unit_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Unit_Subtype</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Unit Subtype: {!Unit_Type_Selection.middleValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_from_Available_Unit_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_from_Available_Units</name>
            <choiceReferences>Available_Units</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select from Available Units</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OB_Ticket_Number_S</name>
            <dataType>String</dataType>
            <fieldText>OB Ticket Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Returned_Unit</name>
        <label>Select Returned Unit</label>
        <locationX>1696</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Unit_Id</targetReference>
        </connector>
        <fields>
            <name>Unit_Title</name>
            <fieldText>&lt;p&gt;Unit:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Returned_Unit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Returned_Unit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Serial_No_Label</name>
                    <fieldText>&lt;p&gt;Unit Serial Number:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Serial_No_Value</name>
                    <fieldText>&lt;p&gt;{!Search_for_Unit_by_Serial_Number.Serial_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Returned_Unit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Type_Label</name>
                    <fieldText>&lt;p&gt;Unit Type:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Type_Value</name>
                    <fieldText>&lt;p&gt;{!Search_for_Unit_by_Serial_Number.Unit_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Returned_Unit_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Subtype_Label</name>
                    <fieldText>&lt;p&gt;Unit Subtype:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Subtype_Value</name>
                    <fieldText>&lt;p&gt;{!Search_for_Unit_by_Serial_Number.Unit_Subtype__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Returned_Unit_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Status_Label</name>
                    <fieldText>&lt;p&gt;Unit Status:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_Status_Value</name>
                    <fieldText>&lt;p&gt;{!Search_for_Unit_by_Serial_Number.Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OB_Ticket_Number_I</name>
            <dataType>String</dataType>
            <fieldText>OB Ticket Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>888</locationX>
        <locationY>813</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_qMessage</name>
            <fieldText>&lt;p&gt;Unit assigned successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>878</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Get_Current_POS_Solution</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>varSelectedUnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedUnitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUnitLegacyHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit_Legacy_History__c</objectType>
    </variables>
    <variables>
        <name>varUnitSerialNoInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUnitSubtypeSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUnitTypeSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
