unpackaged/main/default/flows/Shop_Visits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>VisitType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <expression>{!varAccountId.Name}</expression>
    </formulas>
    <formulas>
        <name>EndDate_Time</name>
        <dataType>DateTime</dataType>
        <expression>{!Start} + (15/24/60)</expression>
    </formulas>
    <formulas>
        <name>Shop_Address</name>
        <dataType>String</dataType>
        <expression>{!varAccountId.BillingAddress}</expression>
    </formulas>
    <interviewLabel>Shop Visits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shop Visits</label>
    <loops>
        <name>LoopAccount</name>
        <label>LoopAccount</label>
        <locationX>357</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>varAccountId</assignNextValueToReference>
        <collectionReference>CollVarAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateEvent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateEvent</name>
        <label>CreateEvent</label>
        <locationX>580</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LoopAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation__c</field>
            <value>
                <elementReference>Activation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deliver_Materials__c</field>
            <value>
                <elementReference>Deliver_Materials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndDate_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forms_Rebranded__c</field>
            <value>
                <elementReference>Forms_Rebranded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hit_Rate__c</field>
            <value>
                <elementReference>Hit_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Solutions_Rebranded__c</field>
            <value>
                <elementReference>IT_Solutions_Rebranded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Store_Collateral_Rebranded__c</field>
            <value>
                <elementReference>In_Store_Collateral_Rebranded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation__c</field>
            <value>
                <elementReference>Installation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Shop_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Match_Rate__c</field>
            <value>
                <elementReference>Match_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121o0000006wib</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Account_Name} Shop Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>359</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>Shop Visits created for the selected records.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shop_Visit</name>
        <label>Shop Visit</label>
        <locationX>221</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopAccount</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <dataType>DateTime</dataType>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>VisitType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Deliver_Materials</name>
            <dataType>Boolean</dataType>
            <fieldText>Deliver Materials</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Activation</name>
            <dataType>Boolean</dataType>
            <fieldText>Activation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Match_Rate</name>
            <dataType>Boolean</dataType>
            <fieldText>Match Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Installation</name>
            <dataType>Boolean</dataType>
            <fieldText>Installation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hit_Rate</name>
            <dataType>Boolean</dataType>
            <fieldText>Hit Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>In_Store_Collateral_Rebranded</name>
            <dataType>Boolean</dataType>
            <fieldText>In-Store Collateral Rebranded</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Forms_Rebranded</name>
            <dataType>Boolean</dataType>
            <fieldText>Forms Rebranded</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IT_Solutions_Rebranded</name>
            <dataType>Boolean</dataType>
            <fieldText>IT Solutions Rebranded</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other</name>
            <dataType>Boolean</dataType>
            <fieldText>Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Shop_Visit</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollVarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
