unpackaged/main/default/flows/Subscription_Fee_Add_On_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_On_Assignment</name>
        <label>Add On Assignment</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varAddOn.Subscription_Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubscriptionFees.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Click_Collect_Widget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickandCollectFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Cegid_Retail_Y2_connector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CegidRetailY2connectorFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Number_Of_Associates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Of_Associates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.SPOS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPOS_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Per_Independently_Managed_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Per_Independently_Managed_Brand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Per_DC_Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Per_DC_Implementation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Per_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Per_Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.For_Magento_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForMangento2Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Web_Content_Management_CMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WebContentManagementFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.PCI_Proxy_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCIProxyOptionsPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Conversion_CVX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConversionCVXFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.CVX_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CVX_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.CVX_Monthly_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CVX_Monthly_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Credit_Card_Check_CCC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditCardCheckCCCFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.CCC_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCC_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.CCC_Monthly_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCC_Monthly_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Payload_Filter_Calls_CLX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayloadFilterCallsCLXFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.CLX_Volume_Per_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CLX_Volume_Per_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.CLX_Monthly_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CLX_Monthly_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.PCI_Proxy_Fixed_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCI_Proxy_Fixed_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.X3_D_Secure_Authentification_Only_AOX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3DSecureAuthentificationOnlyFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.AOX_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AOX_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.AOX_Monthly_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AOX_Monthly_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Receiver_RCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceiverRCVFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.RCV_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RCV_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.RCV_Monthly_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RCV_Monthly_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Shared_Domain_Certification_SDC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharedDomainCertificationSDCFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.SDC_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDC_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.SDC_Monthly_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDC_Monthly_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.StoreFront_APIs_For_Other_Channels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreFrontAPIsForOtherChannelsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Distance_Selling_Checkout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistanceSellingCheckoutFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Webfront__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WebfrontFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Additional_Domain_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalDomainNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Base__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BaseFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Base_Fixed_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Base_Monthly_Fixed_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Marketplace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketplaceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Marketplace_Fixed_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketplace_Monthly_Fixed_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Tokenisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TokenisationFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Tokenisation_Fixed_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tokenisation_Monthly_Fixed_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessingFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Processing_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Processing_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Processing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_Processing_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddOn.Processing_Prepaid_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Processing_Prepaid_Package</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Add_On_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subscription_Fee_Assignment</name>
        <label>Subscription Fee Assignment</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Click_Collect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Click_Collect_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.OMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OMS_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Smart_POS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smart_POS_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Digital_Commerce__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Digital_Commerce_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.PCI_Proxy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCI_Proxy_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Payment_Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Gateway_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Support_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SupportLevelPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Predicted_GMV_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Predicted_GMV_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscriptionFees.Predicted_GMV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Predicted_GMV_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Subscription_and_AddOn_Records</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>DigitalCommerceOptionsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Digital_Commerce_Options__c</picklistField>
        <picklistObject>Add_On__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCIProxyOptionsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PCI_Proxy_Option__c</picklistField>
        <picklistObject>Add_On__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportLevelPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Support_Level__c</picklistField>
        <picklistObject>Subscription_Fees__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AdditionalDomainNameFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Additional_Domain_Name},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>BaseFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Base},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>CegidRetailY2connectorFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Cegid_Retail_Y2_connector_Checkbox},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>ClickandCollectFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Click_Collect_Checkbox},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>ConversionCVXFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Conversion_CVX},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>CreditCardCheckCCCFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Credit_Card_Check_CCC},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>DistanceSellingCheckoutFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Distance_Selling_Checkout},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>ForMangento2Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!For_Magento_2_Checkbox},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>MarketplaceFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Marketplace},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>PayloadFilterCallsCLXFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Payload_Filter_Calls_CLX},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>ProcessingFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Processing},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>ReceiverRCVFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Receiver_RCV},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>SharedDomainCertificationSDCFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Shared_Domain_Certification_SDC},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>StoreFrontAPIsForOtherChannelsFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!StoreFront_APIs_For_Other_Channels},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>TokenisationFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Tokenisation},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>WebContentManagementFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Web_Content_Management_CMS_Checkbox},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>WebfrontFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Webfront},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>X3DSecureAuthentificationOnlyFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!X3_D_Secure_Authentification_Only_AOX},TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Subscription Fee &amp; Add On Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Fee &amp; Add On Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Add_On_Records</name>
        <label>Create Add On Records</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Record_Created_Screen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Add_On</targetReference>
        </faultConnector>
        <inputReference>varAddOn</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription_and_AddOn_Records</name>
        <label>Create Subscription Records</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Add_On_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Subscription_Fees</targetReference>
        </faultConnector>
        <inputReference>varSubscriptionFees</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Message_Add_On</name>
        <label>Error Message Add On</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText2</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Error on creation of Add On Records.

{!$Flow.FaultMessage}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Subscription_Fees</name>
        <label>Error Message Subscription Fees</label>
        <locationX>704</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageText1</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Error on creation of Susbcription Fee Records.

{!$Flow.FaultMessage}



&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Error_Message</name>
        <label>Opportunity Error Message</label>
        <locationX>968</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpportunityErrorMessage</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Error while getting opportunity records.

{!$Flow.FaultMessage}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Configuration_Screen</name>
        <label>Product Configuration Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Subscription_Fee_Assignment</targetReference>
        </connector>
        <fields>
            <name>Product_Configuration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Configuration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClickandCollectAddOn</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Click &amp;amp; Collect Add Ons&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>C_C_Widget_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>C&amp;C Widget</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cegid_Retail_Y2_connector_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Cegid Retail Y2 connector</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Click_Collect_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Configuration_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Configuration_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SmartPOSText</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Smart POS&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Number_Of_Associates</name>
                    <dataType>Number</dataType>
                    <fieldText>Number Of Associates</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>SPOS_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>SPOS Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_Of_Associates</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>830.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Smart_POS_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Configuration_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Configuration_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DigitalCommerceText</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Digital Commerce Add Ons&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Per_Independently_Managed_Brand</name>
                    <dataType>Number</dataType>
                    <fieldText>Per Independently Managed Brand</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>StoreFront_APIs_For_Other_Channels</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>StoreFront APIs For Other Channels</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Distance_Selling_Checkout</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Distance Selling Checkout</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Webfront</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Webfront</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_Domain_Name</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Additional Domain Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Per_DC_Implementation</name>
                    <dataType>Number</dataType>
                    <fieldText>Per DC Implementation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Distance_Selling_Checkout</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>StoreFront_APIs_For_Other_Channels</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Webfront</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Additional_Domain_Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Per_Website</name>
                    <dataType>Number</dataType>
                    <fieldText>Per Website</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Webfront</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Additional_Domain_Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DCAddOnText</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Digital Commerce Add Ons &lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>For_Magento_2_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>For Magento 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Web_Content_Management_CMS_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Web Content Management (CMS)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Digital_Commerce_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Configuration_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Configuration_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SupportLevelText</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Support Level For Proximis Products&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Support_Level</name>
                    <choiceReferences>SupportLevelPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Support Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Click_Collect_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OMS_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Smart_POS_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Digital_Commerce_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Configuration_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Configuration_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PredictedGMVText</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;GMV &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;For Proximis Products&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Predicted_GMV_Value</name>
                    <dataType>Number</dataType>
                    <fieldText>Predicted GMV Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Enter_Predicted_GMV_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Enter Predicted GMV Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Predicted_GMV_Value</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.75E8</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Click_Collect_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OMS_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Smart_POS_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Digital_Commerce_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Configuration_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Configuration_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PCI_Proxy</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;PCI Proxy&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PCI_Proxy_Option</name>
                    <choiceReferences>PCIProxyOptionsPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>PCI Proxy Option</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PCI_Proxy_Fixed_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>PCI Proxy Fixed Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PCI_Proxy_Checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Conversion_CVX</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Conversion (CVX)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CVX_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>CVX Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Conversion_CVX</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CVX_Monthly_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>CVX Monthly Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Conversion_CVX</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X3_D_Secure_Authentification_Only_AOX</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>3-D Secure Authentification Only (AOX)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AOX_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>AOX Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X3_D_Secure_Authentification_Only_AOX</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AOX_Monthly_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>AOX Monthly Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X3_D_Secure_Authentification_Only_AOX</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Credit_Card_Check_CCC</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Credit Card Check (CCC)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CCC_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>CCC Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Credit_Card_Check_CCC</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CCC_Monthly_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>CCC Monthly Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Credit_Card_Check_CCC</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Receiver_RCV</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Receiver (RCV)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RCV_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>RCV Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Receiver_RCV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RCV_Monthly_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>RCV Monthly Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Receiver_RCV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Payload_Filter_Calls_CLX</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Payload Filter Calls (CLX)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CLX_Volume_Per_Month</name>
                    <dataType>Number</dataType>
                    <fieldText>CLX Volume Per Month</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Payload_Filter_Calls_CLX</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CLX_Monthly_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>CLX Monthly Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Payload_Filter_Calls_CLX</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Shared_Domain_Certification_SDC</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Shared Domain Certification (SDC)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SDC_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>SDC Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shared_Domain_Certification_SDC</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SDC_Monthly_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>SDC Monthly Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shared_Domain_Certification_SDC</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PCI_Proxy_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Configuration_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Configuration_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentGateway</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Payment Gateway&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Base</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Base</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Base_Monthly_Fixed_Cost</name>
                    <dataType>Number</dataType>
                    <fieldText>Base Monthly Fixed Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Base</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Marketplace</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Marketplace</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Marketplace_Monthly_Fixed_Cost</name>
                    <dataType>Number</dataType>
                    <fieldText>Marketplace Monthly Fixed Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Marketplace</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tokenisation</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Tokenisation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tokenisation_Monthly_Fixed_Cost</name>
                    <dataType>Number</dataType>
                    <fieldText>Tokenisation Monthly Fixed Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tokenisation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Processing</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Processing</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Processing_Prepaid_Package</name>
                    <dataType>Number</dataType>
                    <fieldText>Processing - Prepaid Package</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Processing</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monthly_Processing_Volume</name>
                    <dataType>Number</dataType>
                    <fieldText>Monthly Processing Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Processing</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monthly_Processing_Fee</name>
                    <dataType>Number</dataType>
                    <fieldText>Monthly Processing Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Processing</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Gateway_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Screen</name>
        <label>Product Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Configuration_Screen</targetReference>
        </connector>
        <fields>
            <name>Product_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProximisProducts1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Proximis Products &lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProximisProducts1</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Click_Collect_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Click &amp; Collect</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OMS_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>OMS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Smart_POS_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Smart POS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Digital_Commerce_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Digital Commerce</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataTransProducts1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Data Trans Products&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PCI_Proxy_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>PCI Proxy</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payment_Gateway_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Payment Gateway</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Created_Screen_0</name>
        <label>Record Created Screen</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordCreatedText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Subscription Fee And Add On Created Successfully!&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddOn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Add_On__c</objectType>
    </variables>
    <variables>
        <name>varSubscriptionFees</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Fees__c</objectType>
    </variables>
</Flow>
