unpackaged/main/default/flows/Tax_Free_Flag_Opportunity_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Approver</name>
        <label>Approver</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Head_of_Retail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TF_NC_Per_Form__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TF_Annual_Net_Commission__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>150000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TF_Rebate_of_GC__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Parent_Opportunity_for_Head_of_Retail_Approval</targetReference>
            </connector>
            <label>Head of Retail</label>
        </rules>
        <rules>
            <name>Business_Finance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TF_NC_Per_Form__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TF_Annual_Net_Commission__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TF_Rebate_of_GC__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>65.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Parent_Opportunity_for_Business_Finance_Approval</targetReference>
            </connector>
            <label>Business &amp; Finance</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tax Free - Flag Opportunity for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tax Free - Flag Opportunity for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Flag_Parent_Opportunity_for_Business_Finance_Approval</name>
        <label>Flag Parent Opportunity for Business &amp; Finance Approval</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TF_Requires_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Flag_Parent_Opportunity_for_Head_of_Retail_Approval</name>
        <label>Flag Parent Opportunity for Head of Retail Approval</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TF_Requires_Head_of_Retail_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approver</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TF_NC_Per_Form__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>TF_Annual_Net_Commission__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>50000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>TF_NC_Per_Form__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>65.0</numberValue>
            </value>
        </filters>
        <object>TF_Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
