unpackaged/main/default/flows/Terminal_Replacement_TID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Terminal Replacement TID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terminal Replacement TID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateTerminalReplacement</name>
        <label>updateTerminalReplacement</label>
        <locationX>377</locationX>
        <locationY>59</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Terminal_Replacement_TID__c</field>
            <value>
                <elementReference>Replacement_Terminal_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Terminal_Replacement__c</object>
    </recordUpdates>
    <screens>
        <name>Enter_Replacement_Terminal_ID</name>
        <label>Enter Replacement Terminal ID</label>
        <locationX>263</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateTerminalReplacement</targetReference>
        </connector>
        <fields>
            <name>Replacement_Terminal_Id</name>
            <dataType>String</dataType>
            <fieldText>Replacement Terminal Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>103</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Enter_Replacement_Terminal_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerminalReplacementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
