unpackaged/main/default/flows/training_survey_istp_b570bec5_f79a_4559_b7b2_3d45880c52d9.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_1b9097b0_d9be_41aa_bb95_5d0b83cdc0dd</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_20d970e9_d3bc_457a_9d3c_9d22eadf609d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2432135d_bf56_4ce0_96e8_f3446f8c67a0</name>
        <choiceText>Relevance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relevance</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2693e2f6_bc54_4468_95b1_ee0c24c6df50</name>
        <choiceText>Clienteling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clienteling</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2b472086_eddd_4a3b_ba13_f0d8ca65426f</name>
        <choiceText>How to Upsell and Cross sell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>How to Upsell and Cross sell</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2df2a3eb_43a8_4fcf_a061_d2172e772642</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_301cf25d_273b_44af_b587_3cbc21c5ff46</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_358c17c0_671e_4f16_9433_c2e76514fd06</name>
        <choiceText>Relevance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relevance</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_48d0125d_5b02_45d5_9b8e_bbf482adcf3b</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4baab17c_9cff_479a_9af1_31821bff8e17</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5360e0c7_365b_4b97_9a02_f727f77e3540</name>
        <choiceText>Using Tax Free &amp;amp; Payments as Selling Tools</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using Tax Free &amp; Payments as Selling Tools</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5583f2cd_9318_4761_a90b_782694cd74ae</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5e0418de_bf1a_4c37_9958_4f0b3b732acf</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6b1d29d2_bb43_4608_a3e0_18c6e805340d</name>
        <choiceText>Duration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duration</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73ce1867_2e9c_4aee_8757_ce9b773253bf</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_87cb239b_7a46_4e4a_bcac_1f5c00703ce8</name>
        <choiceText>Presentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91064b5f_b5d5_46a9_87f1_6ca3dab47b36</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9963c138_e879_4062_a9db_c79b4331c42e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9dd5854f_53fd_4153_ae91_493d564db046</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a4de5dec_fcca_4d25_b346_b0650e34b69f</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a5fa0692_5fbe_4ea1_b5ff_d05f7f9ea170</name>
        <choiceText>Understanding International Customers Behaviours and Expectations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Understanding International Customers Behaviours and Expectations</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bce19b4b_ed16_493b_b43a_9ed485bf3399</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c2aaa1f7_493f_4e30_84a5_e43e204d8664</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c4e0aeb9_091b_46fa_845c_afc9094b9711</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d2caff34_82fb_4bac_b546_e8b17e1eebe3</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_df804c5e_2ba4_4962_ab49_4cbd938fcdbd</name>
        <choiceText>Overall Presentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overall Presentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e6a9ee3d_3f6f_4edc_b9b2_43ef597d6742</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ee4cc484_27ec_4c16_983b_db3059b3d050</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_eec37cff_ec1c_47d8_80a8_ca783e2f2f10</name>
        <choiceText>Trainer Competence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trainer Competence</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f421990c_a752_4a5a_96b1_32072da9155d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f9e67a98_cff7_4bc2_a21c_7285aee3a248</name>
        <choiceText>Content Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Content Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_0a3dc99d_8e1b_4b50_832c_398333c8e833</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1c3b5aff_67da_4710_86e6_1d4f3948663f</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1c5d4a00_eb29_48fc_982a_57813f18710e</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_202596ca_c953_42d0_bca7_560ce4987c8a</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_45bc7e30_9a81_4bf0_91c4_7d2bda105313</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_6f37339a_1618_430b_8c22_75324dd2da54</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_777d5234_f758_4d27_b6a6_a471fa611d87</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_89f00f85_d4f1_4106_9ef0_042f4b857600</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_8cea41a4_58bc_4afc_8d7a_b05dcd209036</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_93f3ccfc_2d4f_4495_857a_203dfb4a2f78</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_a65a51ac_3f77_4c87_a457_40eb8e9d0a06</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_b494e70a_5695_4587_b1da_63943ba198bb</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_b9e28f66_3a50_4180_903b_1f5a3e123a94</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_cae7e7ab_4cd6_4618_bab7_86516b0887c1</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_cf682d42_7893_4ea6_b8fd_1cf2cae52b99</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_a66542f2_a8c1_4dc2_9380_7725d2b5f3f8</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_3e748557_4cf5_41ff_b6b4_1d3c927a15f5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ea5c0018_f9e4_447c_b069_5625112a81cd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_48d0125d_5b02_45d5_9b8e_bbf482adcf3b</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_e8ef5b96_b242_4bb7_9ccb_d6b51fe079c0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ea5c0018_f9e4_447c_b069_5625112a81cd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_2df2a3eb_43a8_4fcf_a061_d2172e772642</elementReference>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Training Survey: ISTP</interviewLabel>
    <label>Training Survey: ISTP</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>training_survey_istp_b570bec5_f79a_4559_b7b2_3d45880c52d9_2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>ISTP_Staff_Training_1598700723927</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</name>
        <label>Page 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ad38db71_9e91_45be_afa3_4eb6fcfc5524</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f8f16ebf_752d_4acc_b983_cb4c07313f6e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f8f16ebf_752d_4acc_b983_cb4c07313f6e</name>
            <choiceReferences>S_b494e70a_5695_4587_b1da_63943ba198bb</choiceReferences>
            <choiceReferences>S_8cea41a4_58bc_4afc_8d7a_b05dcd209036</choiceReferences>
            <choiceReferences>S_777d5234_f758_4d27_b6a6_a471fa611d87</choiceReferences>
            <choiceReferences>S_cae7e7ab_4cd6_4618_bab7_86516b0887c1</choiceReferences>
            <choiceReferences>S_45bc7e30_9a81_4bf0_91c4_7d2bda105313</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied were you with training documents and support material provided?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_1ff790a6_ce13_4cd5_8ce6_9d47820614ac</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f4e20661_b616_470d_bbf5_4a3ea5c26e38</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_072dadde_34b9_4a20_9a3e_0ac44c971d3a</name>
            <choiceReferences>c_5360e0c7_365b_4b97_9a02_f727f77e3540</choiceReferences>
            <choiceReferences>c_2693e2f6_bc54_4468_95b1_ee0c24c6df50</choiceReferences>
            <choiceReferences>c_a5fa0692_5fbe_4ea1_b5ff_d05f7f9ea170</choiceReferences>
            <choiceReferences>c_2b472086_eddd_4a3b_ba13_f0d8ca65426f</choiceReferences>
            <choiceReferences>c_5e0418de_bf1a_4c37_9958_4f0b3b732acf</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What topic of the training content did you find most valuable?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Please select one</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ba521018_d0d0_4f48_b079_4d1e4ac5a205</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Since you selected &#39;Other&#39; please enter the details below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_072dadde_34b9_4a20_9a3e_0ac44c971d3a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_5e0418de_bf1a_4c37_9958_4f0b3b732acf</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</name>
        <label>Page 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a0b32990_62c9_4f10_a1eb_d687a363e4c7</name>
            <choiceReferences>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</choiceReferences>
            <choiceReferences>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</choiceReferences>
            <choiceReferences>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</choiceReferences>
            <choiceReferences>c_5583f2cd_9318_4761_a90b_782694cd74ae</choiceReferences>
            <choiceReferences>c_4baab17c_9cff_479a_9af1_31821bff8e17</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Are you satisfied sufficient time was given to cover each training topic?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</name>
        <label>Page 12</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_413ee8e1_4a76_4de5_8a93_f4d27b4c81ac</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please enter your name.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f77827f4_23de_47a2_85fb_4111f78d12fc</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please enter your company&#39;s name.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8a4896f6_d9a4_47cd_b064_9c597dbcf57b</name>
        <label>Page 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_a66542f2_a8c1_4dc2_9380_7725d2b5f3f8</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_834d33b0_991f_42e3_bf12_0eb86126ab9a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_834d33b0_991f_42e3_bf12_0eb86126ab9a</name>
            <choiceReferences>c_91064b5f_b5d5_46a9_87f1_6ca3dab47b36</choiceReferences>
            <choiceReferences>c_1b9097b0_d9be_41aa_bb95_5d0b83cdc0dd</choiceReferences>
            <choiceReferences>c_20d970e9_d3bc_457a_9d3c_9d22eadf609d</choiceReferences>
            <choiceReferences>c_d2caff34_82fb_4bac_b546_e8b17e1eebe3</choiceReferences>
            <choiceReferences>c_a4de5dec_fcca_4d25_b346_b0650e34b69f</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How likely are you to recommend Planet Consultancy?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_872ec1db_5ade_488d_9d15_b86ea79ea25e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;It would be so kind if you could write a testimonial about the course in general. This is for the benefit of other future attendees:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ea5c0018_f9e4_447c_b069_5625112a81cd</name>
            <choiceReferences>c_48d0125d_5b02_45d5_9b8e_bbf482adcf3b</choiceReferences>
            <choiceReferences>c_2df2a3eb_43a8_4fcf_a061_d2172e772642</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please select &#39;Yes&#39; if we can show your testimonial on our website or marketing material&lt;/b&gt;&lt;b&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_91e61a05_a674_43ff_ba61_1e3e92814c72</name>
            <choiceReferences>c_73ce1867_2e9c_4aee_8757_ce9b773253bf</choiceReferences>
            <choiceReferences>c_c4e0aeb9_091b_46fa_845c_afc9094b9711</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please select &#39;Yes&#39; if we can use your name and company name with your testimonial.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b240b185_66b1_4d0b_b452_d8e898b28a3a</name>
            <choiceReferences>c_ee4cc484_27ec_4c16_983b_db3059b3d050</choiceReferences>
            <choiceReferences>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</choiceReferences>
            <choiceReferences>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</choiceReferences>
            <choiceReferences>c_9963c138_e879_4062_a9db_c79b4331c42e</choiceReferences>
            <choiceReferences>c_9dd5854f_53fd_4153_ae91_493d564db046</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How would you score&amp;nbsp;the quality of this training?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a61cf838_c4af_49fc_a898_36431f510bb4</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1ff790a6_ce13_4cd5_8ce6_9d47820614ac</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_1c04e30c_857e_47c1_8bc1_9a48a80d03a9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_1c04e30c_857e_47c1_8bc1_9a48a80d03a9</name>
            <choiceReferences>c_bce19b4b_ed16_493b_b43a_9ed485bf3399</choiceReferences>
            <choiceReferences>c_f421990c_a752_4a5a_96b1_32072da9155d</choiceReferences>
            <choiceReferences>c_c2aaa1f7_493f_4e30_84a5_e43e204d8664</choiceReferences>
            <choiceReferences>c_301cf25d_273b_44af_b587_3cbc21c5ff46</choiceReferences>
            <choiceReferences>c_e6a9ee3d_3f6f_4edc_b9b2_43ef597d6742</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied were you with the trainer&#39;s knowledge of their subject?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ad38db71_9e91_45be_afa3_4eb6fcfc5524</name>
        <label>Page 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c47cf25b_3a08_4471_945b_6fd880a86e09</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d5f7d1ec_e245_48ff_8ef1_3dcca2589c0c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_d5f7d1ec_e245_48ff_8ef1_3dcca2589c0c</name>
            <choiceReferences>S_cf682d42_7893_4ea6_b8fd_1cf2cae52b99</choiceReferences>
            <choiceReferences>S_6f37339a_1618_430b_8c22_75324dd2da54</choiceReferences>
            <choiceReferences>S_1c3b5aff_67da_4710_86e6_1d4f3948663f</choiceReferences>
            <choiceReferences>S_0a3dc99d_8e1b_4b50_832c_398333c8e833</choiceReferences>
            <choiceReferences>S_93f3ccfc_2d4f_4495_857a_203dfb4a2f78</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied are you that you will be able to apply what was learned during the management training?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c47cf25b_3a08_4471_945b_6fd880a86e09</name>
        <label>Page 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_fac284f2_de61_44fc_bb00_26bb4039b2d6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_092535b8_1d11_4ee0_9afd_2b42244df71c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_092535b8_1d11_4ee0_9afd_2b42244df71c</name>
            <choiceReferences>S_1c5d4a00_eb29_48fc_982a_57813f18710e</choiceReferences>
            <choiceReferences>S_202596ca_c953_42d0_bca7_560ce4987c8a</choiceReferences>
            <choiceReferences>S_b9e28f66_3a50_4180_903b_1f5a3e123a94</choiceReferences>
            <choiceReferences>S_a65a51ac_3f77_4c87_a457_40eb8e9d0a06</choiceReferences>
            <choiceReferences>S_89f00f85_d4f1_4106_9ef0_042f4b857600</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How effective overall would you consider this training?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a61cf838_c4af_49fc_a898_36431f510bb4</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed848508_22e4_44fc_a831_e04cfe20a443</name>
            <choiceReferences>c_2432135d_bf56_4ce0_96e8_f3446f8c67a0</choiceReferences>
            <choiceReferences>c_87cb239b_7a46_4e4a_bcac_1f5c00703ce8</choiceReferences>
            <choiceReferences>c_6b1d29d2_bb43_4608_a3e0_18c6e805340d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What is your score based on?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select one or more.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f4e20661_b616_470d_bbf5_4a3ea5c26e38</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ec768bb6_e96f_499f_beea_70077a4f07ff</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Was there a topic you would like to have had included in the content?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fac284f2_de61_44fc_bb00_26bb4039b2d6</name>
        <label>Page 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8a4896f6_d9a4_47cd_b064_9c597dbcf57b</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e7b6779e_0e1f_4bef_9403_8e7c0a970c42</name>
            <choiceReferences>c_f9e67a98_cff7_4bc2_a21c_7285aee3a248</choiceReferences>
            <choiceReferences>c_358c17c0_671e_4f16_9433_c2e76514fd06</choiceReferences>
            <choiceReferences>c_eec37cff_ec1c_47d8_80a8_ca783e2f2f10</choiceReferences>
            <choiceReferences>c_df804c5e_2ba4_4962_ab49_4cbd938fcdbd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please select what your score is based on:&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select one or more</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Thank you&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; for your feedback!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fintrax--c.documentforce.com/file-asset-public/Planet_Letter_New?oid=00D24000000ac79&amp;amp;v=1&quot; alt=&quot;Planet Letter New&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;ISTP Training Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_092535b8_1d11_4ee0_9afd_2b42244df71c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_1c04e30c_857e_47c1_8bc1_9a48a80d03a9_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_834d33b0_991f_42e3_bf12_0eb86126ab9a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d5f7d1ec_e245_48ff_8ef1_3dcca2589c0c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f8f16ebf_752d_4acc_b983_cb4c07313f6e_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
