unpackaged/main/default/flows/training_survey_mystery_shopping_eebc19fd_2e50_40c7_9911_cf3c91aed7ca.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_2432135d_bf56_4ce0_96e8_f3446f8c67a0</name>
        <choiceText>Level of detail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Level of detail</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4baab17c_9cff_479a_9af1_31821bff8e17</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5583f2cd_9318_4761_a90b_782694cd74ae</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6b1d29d2_bb43_4608_a3e0_18c6e805340d</name>
        <choiceText>Level of Insight gained to support the growth of your international customer experience</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Level of Insight gained to support the growth of your international customer experience</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_87cb239b_7a46_4e4a_bcac_1f5c00703ce8</name>
        <choiceText>Relevance of Areas Focussed on</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relevance of Areas Focussed on</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9963c138_e879_4062_a9db_c79b4331c42e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9dd5854f_53fd_4153_ae91_493d564db046</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ee4cc484_27ec_4c16_983b_db3059b3d050</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_45bc7e30_9a81_4bf0_91c4_7d2bda105313</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_777d5234_f758_4d27_b6a6_a471fa611d87</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_8cea41a4_58bc_4afc_8d7a_b05dcd209036</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_b494e70a_5695_4587_b1da_63943ba198bb</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_cae7e7ab_4cd6_4618_bab7_86516b0887c1</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Training Survey: Mystery Shopping</interviewLabel>
    <label>Training Survey: Mystery Shopping</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>training_survey_mystery_shopping_eebc19fd_2e50_40c7_9911_cf3c91aed7ca_2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>BI_Survey_1598706660795</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f8f16ebf_752d_4acc_b983_cb4c07313f6e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f8f16ebf_752d_4acc_b983_cb4c07313f6e</name>
            <choiceReferences>S_b494e70a_5695_4587_b1da_63943ba198bb</choiceReferences>
            <choiceReferences>S_8cea41a4_58bc_4afc_8d7a_b05dcd209036</choiceReferences>
            <choiceReferences>S_777d5234_f758_4d27_b6a6_a471fa611d87</choiceReferences>
            <choiceReferences>S_cae7e7ab_4cd6_4618_bab7_86516b0887c1</choiceReferences>
            <choiceReferences>S_45bc7e30_9a81_4bf0_91c4_7d2bda105313</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How likely are you to recommend Planet Consultancy?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a0b32990_62c9_4f10_a1eb_d687a363e4c7</name>
            <choiceReferences>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</choiceReferences>
            <choiceReferences>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</choiceReferences>
            <choiceReferences>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</choiceReferences>
            <choiceReferences>c_5583f2cd_9318_4761_a90b_782694cd74ae</choiceReferences>
            <choiceReferences>c_4baab17c_9cff_479a_9af1_31821bff8e17</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How confident are you that sales assistants will be able to apply what they learned from the Mystery Shop report?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</name>
        <label>Page 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ab69cd53_78ae_4125_a953_b23e44a3591e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please enter any additional comments.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b240b185_66b1_4d0b_b452_d8e898b28a3a</name>
            <choiceReferences>c_ee4cc484_27ec_4c16_983b_db3059b3d050</choiceReferences>
            <choiceReferences>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</choiceReferences>
            <choiceReferences>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</choiceReferences>
            <choiceReferences>c_9963c138_e879_4062_a9db_c79b4331c42e</choiceReferences>
            <choiceReferences>c_9dd5854f_53fd_4153_ae91_493d564db046</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied were you with the quality of data received from the Mystery Shopper report?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f4e20661_b616_470d_bbf5_4a3ea5c26e38</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed848508_22e4_44fc_a831_e04cfe20a443</name>
            <choiceReferences>c_2432135d_bf56_4ce0_96e8_f3446f8c67a0</choiceReferences>
            <choiceReferences>c_87cb239b_7a46_4e4a_bcac_1f5c00703ce8</choiceReferences>
            <choiceReferences>c_6b1d29d2_bb43_4608_a3e0_18c6e805340d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What is your score based on?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select one or more.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f4e20661_b616_470d_bbf5_4a3ea5c26e38</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ec768bb6_e96f_499f_beea_70077a4f07ff</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Was there any aspect of the customer experience you felt wasn’t captured in the Mystery Shop?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Thank you&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; for your feedback!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fintrax--c.documentforce.com/file-asset-public/Planet_Letter_New?oid=00D24000000ac79&amp;amp;v=1&quot; alt=&quot;Planet Letter New&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Mystery Shopping Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f8f16ebf_752d_4acc_b983_cb4c07313f6e_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
