unpackaged/main/default/flows/training_survey_istp_complete_11e8af10_cd49_4d35_a427_e2081f0befbc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_084481ad_fe8b_4a25_b571_0cda5042dcea</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0d0504b3_cf80_416f_9885_ce9be66cedf4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0d91369a_e571_4fbf_a9f0_63e6d34855f4</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1ff01667_9ec0_44ba_8085_75d3bcd450fe</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2432135d_bf56_4ce0_96e8_f3446f8c67a0</name>
        <choiceText>Quality/Standard of Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality/Standard of Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_34758be6_013c_4524_9f52_f24d26c46c7f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_35e6e354_42d0_4c70_bb6f_f1683039bf5d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3e32ac3e_a998_4b0d_a6f7_ee49e9a85eaa</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_41496800_3c53_4909_843b_d915e21d54a1</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4baab17c_9cff_479a_9af1_31821bff8e17</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5583f2cd_9318_4761_a90b_782694cd74ae</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5e83dc2d_3bca_4431_b26d_d8d4ec14ae36</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_68b9ef31_bd63_495a_b747_5c79e6b5217c</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6b1d29d2_bb43_4608_a3e0_18c6e805340d</name>
        <choiceText>Feedback from Management/Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feedback from Management/Staff</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7e3b0aab_df26_4f45_8ae1_3b81b3333227</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_877eb45b_d7fb_49b0_bd82_92a2896ac2c5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_87cb239b_7a46_4e4a_bcac_1f5c00703ce8</name>
        <choiceText>Impact on Store Sales Performance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impact on Store Sales Performance</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_96035bfb_64e2_4959_bfcd_df41f230747a</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9902250e_1c1a_4227_a11a_81007b96d6cd</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9963c138_e879_4062_a9db_c79b4331c42e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9dd5854f_53fd_4153_ae91_493d564db046</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9ec2f7f1_8c7c_4758_a541_41c87f29c720</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9ec6d935_fb83_4170_afae_5c4681d1171d</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a3bfc7c8_1de3_47f2_97ee_191a7d64fb1e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b20862a1_dc1d_467f_8911_8900065c45e4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d5bed4c0_5e39_4800_82ec_cf825ddf45f5</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e16540cc_e76e_47bb_8d7e_9942269ec973</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e5bd21ee_958f_4356_a705_754b3dbfc45a</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ee4cc484_27ec_4c16_983b_db3059b3d050</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f7adca2e_17ac_4d6e_8b94_0b0523ba8bd0</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f7b29f90_780e_4247_8157_433d6141fa74</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fd6d5740_79d5_4320_94ca_343197fe4a29</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_0a3dc99d_8e1b_4b50_832c_398333c8e833</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1c3b5aff_67da_4710_86e6_1d4f3948663f</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_45bc7e30_9a81_4bf0_91c4_7d2bda105313</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_6f37339a_1618_430b_8c22_75324dd2da54</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_777d5234_f758_4d27_b6a6_a471fa611d87</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_8cea41a4_58bc_4afc_8d7a_b05dcd209036</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_93f3ccfc_2d4f_4495_857a_203dfb4a2f78</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_b494e70a_5695_4587_b1da_63943ba198bb</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_cae7e7ab_4cd6_4618_bab7_86516b0887c1</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_cf682d42_7893_4ea6_b8fd_1cf2cae52b99</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_78a34c8d_14c6_4358_87ec_bb14e4e43a30</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_83f40e0a_76e6_43e0_ab82_24327136ea6d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_dcaa001e_2db0_46ad_a01b_93c8eff7e6e1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_1ff01667_9ec0_44ba_8085_75d3bcd450fe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_aa49e5c6_e7f5_474d_a1d4_a2425e95ba92</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_dcaa001e_2db0_46ad_a01b_93c8eff7e6e1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_41496800_3c53_4909_843b_d915e21d54a1</elementReference>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Training Survey: ISTP Complete</interviewLabel>
    <label>Training Survey: ISTP Complete</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>training_survey_istp_complete_11e8af10_cd49_4d35_a427_e2081f0befbc_2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>ISTP_Staff_Training_1598700723927</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</name>
        <label>Page 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ad38db71_9e91_45be_afa3_4eb6fcfc5524</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f8f16ebf_752d_4acc_b983_cb4c07313f6e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f8f16ebf_752d_4acc_b983_cb4c07313f6e</name>
            <choiceReferences>S_b494e70a_5695_4587_b1da_63943ba198bb</choiceReferences>
            <choiceReferences>S_8cea41a4_58bc_4afc_8d7a_b05dcd209036</choiceReferences>
            <choiceReferences>S_777d5234_f758_4d27_b6a6_a471fa611d87</choiceReferences>
            <choiceReferences>S_cae7e7ab_4cd6_4618_bab7_86516b0887c1</choiceReferences>
            <choiceReferences>S_45bc7e30_9a81_4bf0_91c4_7d2bda105313</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How confident are you that store management and sales staff will be able to apply what they learned from the programme?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</name>
        <label>Page 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a0b32990_62c9_4f10_a1eb_d687a363e4c7</name>
            <choiceReferences>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</choiceReferences>
            <choiceReferences>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</choiceReferences>
            <choiceReferences>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</choiceReferences>
            <choiceReferences>c_5583f2cd_9318_4761_a90b_782694cd74ae</choiceReferences>
            <choiceReferences>c_4baab17c_9cff_479a_9af1_31821bff8e17</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied were you with feedback from your staff who participated in the programme?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7e28be14_e0c8_4e78_8a55_8c544a00ce11</name>
        <label>Page 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_413ee8e1_4a76_4de5_8a93_f4d27b4c81ac</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please enter your name.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f77827f4_23de_47a2_85fb_4111f78d12fc</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please enter your company&#39;s name.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b240b185_66b1_4d0b_b452_d8e898b28a3a</name>
            <choiceReferences>c_ee4cc484_27ec_4c16_983b_db3059b3d050</choiceReferences>
            <choiceReferences>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</choiceReferences>
            <choiceReferences>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</choiceReferences>
            <choiceReferences>c_9963c138_e879_4062_a9db_c79b4331c42e</choiceReferences>
            <choiceReferences>c_9dd5854f_53fd_4153_ae91_493d564db046</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied were you with the overall ISTP programme?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_285c887c_2758_4ea9_8a78_f0a050e2f821_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_285c887c_2758_4ea9_8a78_f0a050e2f821</name>
            <choiceReferences>c_e5bd21ee_958f_4356_a705_754b3dbfc45a</choiceReferences>
            <choiceReferences>c_0d91369a_e571_4fbf_a9f0_63e6d34855f4</choiceReferences>
            <choiceReferences>c_7e3b0aab_df26_4f45_8ae1_3b81b3333227</choiceReferences>
            <choiceReferences>c_0d0504b3_cf80_416f_9885_ce9be66cedf4</choiceReferences>
            <choiceReferences>c_9ec6d935_fb83_4170_afae_5c4681d1171d</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;With the planning (debrief, management and staff interviews)?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e85cc134_9ec6_491a_9741_c90139723372_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_e85cc134_9ec6_491a_9741_c90139723372</name>
            <choiceReferences>c_68b9ef31_bd63_495a_b747_5c79e6b5217c</choiceReferences>
            <choiceReferences>c_f7adca2e_17ac_4d6e_8b94_0b0523ba8bd0</choiceReferences>
            <choiceReferences>c_fd6d5740_79d5_4320_94ca_343197fe4a29</choiceReferences>
            <choiceReferences>c_a3bfc7c8_1de3_47f2_97ee_191a7d64fb1e</choiceReferences>
            <choiceReferences>c_d5bed4c0_5e39_4800_82ec_cf825ddf45f5</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;With the implementation (Training, Mystery Shop)?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_1cb4855f_edf0_4d56_a616_3ce6b56c037f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_1cb4855f_edf0_4d56_a616_3ce6b56c037f</name>
            <choiceReferences>c_084481ad_fe8b_4a25_b571_0cda5042dcea</choiceReferences>
            <choiceReferences>c_34758be6_013c_4524_9f52_f24d26c46c7f</choiceReferences>
            <choiceReferences>c_96035bfb_64e2_4959_bfcd_df41f230747a</choiceReferences>
            <choiceReferences>c_b20862a1_dc1d_467f_8911_8900065c45e4</choiceReferences>
            <choiceReferences>c_e16540cc_e76e_47bb_8d7e_9942269ec973</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;With the reporting (mystery shop, store sales performance)?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e690f162_c925_4e2d_9bb0_cd7335f252b6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_e690f162_c925_4e2d_9bb0_cd7335f252b6</name>
            <choiceReferences>c_f7b29f90_780e_4247_8157_433d6141fa74</choiceReferences>
            <choiceReferences>c_35e6e354_42d0_4c70_bb6f_f1683039bf5d</choiceReferences>
            <choiceReferences>c_9902250e_1c1a_4227_a11a_81007b96d6cd</choiceReferences>
            <choiceReferences>c_877eb45b_d7fb_49b0_bd82_92a2896ac2c5</choiceReferences>
            <choiceReferences>c_3e32ac3e_a998_4b0d_a6f7_ee49e9a85eaa</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;With the Quarterly Refresher and Ongoing Support?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ad38db71_9e91_45be_afa3_4eb6fcfc5524</name>
        <label>Page 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_d5db75fd_9bd5_4617_b24b_b20f76468dbd</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d5f7d1ec_e245_48ff_8ef1_3dcca2589c0c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_d5f7d1ec_e245_48ff_8ef1_3dcca2589c0c</name>
            <choiceReferences>S_cf682d42_7893_4ea6_b8fd_1cf2cae52b99</choiceReferences>
            <choiceReferences>S_6f37339a_1618_430b_8c22_75324dd2da54</choiceReferences>
            <choiceReferences>S_1c3b5aff_67da_4710_86e6_1d4f3948663f</choiceReferences>
            <choiceReferences>S_0a3dc99d_8e1b_4b50_832c_398333c8e833</choiceReferences>
            <choiceReferences>S_93f3ccfc_2d4f_4495_857a_203dfb4a2f78</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How likely are you to recommend Planet Consultancy?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_49f112a1_29a0_4d10_8ea9_dcb026e3a2be</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please enter any additional comments below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b8036f98_8b23_48ec_a887_464b51adc7f8</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b4dd1a8c_10e0_43e8_af90_bafe8f53084d</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Was there a specific element you found most valuable?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f4e20661_b616_470d_bbf5_4a3ea5c26e38</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed848508_22e4_44fc_a831_e04cfe20a443</name>
            <choiceReferences>c_2432135d_bf56_4ce0_96e8_f3446f8c67a0</choiceReferences>
            <choiceReferences>c_87cb239b_7a46_4e4a_bcac_1f5c00703ce8</choiceReferences>
            <choiceReferences>c_6b1d29d2_bb43_4608_a3e0_18c6e805340d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What is your score based on?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select one or more.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d5db75fd_9bd5_4617_b24b_b20f76468dbd</name>
        <label>Page 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_78a34c8d_14c6_4358_87ec_bb14e4e43a30</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_62d21bf1_a7c3_46d9_9bec_cb28ef2520eb</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;It would be so kind if you could write a testimonial about the course in general. This is for the benefit of other future attendees:&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a67e3940_3c05_41da_8d2e_292989cb0fb5</name>
            <choiceReferences>c_5e83dc2d_3bca_4431_b26d_d8d4ec14ae36</choiceReferences>
            <choiceReferences>c_9ec2f7f1_8c7c_4758_a541_41c87f29c720</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;May we show your testimonial on our website or marketing material?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dcaa001e_2db0_46ad_a01b_93c8eff7e6e1</name>
            <choiceReferences>c_1ff01667_9ec0_44ba_8085_75d3bcd450fe</choiceReferences>
            <choiceReferences>c_41496800_3c53_4909_843b_d915e21d54a1</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;May we use your name and company name with your testimonial&amp;nbsp;?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_eaa1f8f4_b92e_48c8_8929_bc69a468c664</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_b8036f98_8b23_48ec_a887_464b51adc7f8</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_75da7cca_d0f8_46b0_8bed_0fe81dce10c7</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Was there anything you would like to have included in the programme?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f4e20661_b616_470d_bbf5_4a3ea5c26e38</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_eaa1f8f4_b92e_48c8_8929_bc69a468c664</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ec768bb6_e96f_499f_beea_70077a4f07ff</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Was there any specific aspect of the programme you felt wasn’t fully delivered?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Thank you&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; for your feedback!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fintrax--c.documentforce.com/file-asset-public/Planet_Letter_New?oid=00D24000000ac79&amp;amp;v=1&quot; alt=&quot;Planet Letter New&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;ISTP Training Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_1cb4855f_edf0_4d56_a616_3ce6b56c037f_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_285c887c_2758_4ea9_8a78_f0a050e2f821_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d5f7d1ec_e245_48ff_8ef1_3dcca2589c0c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e690f162_c925_4e2d_9bb0_cd7335f252b6_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e85cc134_9ec6_491a_9741_c90139723372_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f8f16ebf_752d_4acc_b983_cb4c07313f6e_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
