unpackaged/main/default/flows/training_survey_store_staff_cc09b5c1_dbaf_46d8_bdf1_2d245a137ec9.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_07980092_737a_4695_b286_62f0eb638a34</name>
        <choiceText>Using Tax Free &amp;amp; Payments as Selling Tools</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using Tax Free &amp; Payments as Selling Tools</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0d984942_c175_4350_b17a_7bc2832705a0</name>
        <choiceText>Duration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duration</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_11dd4be7_bacf_46d6_8e17_68ac9ca00757</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_196395ad_0c59_4638_9b9b_c2ade85a08c3</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1ee84bbc_a7f1_462e_9320_2f0c7682098e</name>
        <choiceText>Core (TF/DCC/Payments)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Core (TF/DCC/Payments)   </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_25ea3a60_9e4f_461b_940b_b699c4d6c03b</name>
        <choiceText>Relevance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relevance</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2753d1db_46ac_4b53_9504_5c70559458e4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_28cc2ad0_1c5f_405d_88dc_26e9f320e6ea</name>
        <choiceText>How to Upsell and Cross sell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>How to Upsell and Cross sell</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3cc723b7_6a08_4420_a5e2_0590ce955398</name>
        <choiceText>Clienteling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clienteling</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_44be6876_8911_43df_b3c4_1f470adb6fbe</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_47bbc3f5_9cab_4b0a_bca4_5c7ea311ce37</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4baab17c_9cff_479a_9af1_31821bff8e17</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4f02f989_894e_4da1_a314_ed1ceff6593b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_54c332d5_e4d4_4ce8_971e_be71a2dec20a</name>
        <choiceText>Overall Presentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overall Presentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5583f2cd_9318_4761_a90b_782694cd74ae</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_583ec3c7_026f_4908_b3ff_a63a3d5a0a0f</name>
        <choiceText>Support Material/Collateral Provided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Material/Collateral Provided </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6148b364_6fcb_435b_90f1_fed1b6483bd9</name>
        <choiceText>Relevance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relevance</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_680a73b6_9e3c_4fc1_9c7f_728ab323e034</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_795319a0_6dba_43a5_bb3e_4583f5fa9299</name>
        <choiceText>Presentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8435d5a6_846f_4043_aea2_41c502139ed8</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8836fb11_b70b_424c_91c3_c5e7f4357264</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9963c138_e879_4062_a9db_c79b4331c42e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9d4ec3c8_ff71_4716_a42d_a80e2d728171</name>
        <choiceText>Trainer Competence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trainer Competence</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9dd5854f_53fd_4153_ae91_493d564db046</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a159c1fc_f3ae_4e76_927f_1ceaf18c4984</name>
        <choiceText>Advanced (Cultural Training)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advanced (Cultural Training)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bb92b480_e3fe_4517_ba1b_315865a929f3</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf1d3d6f_16b2_4fc0_9e18_be3ff4594bcc</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c9db7592_7e2c_4764_85a6_71a57aa7eb8b</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d2608699_f509_480b_b657_87729b8223f4</name>
        <choiceText>Content Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Content Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d86aecbf_8ed7_4d0f_bab6_2804162a5826</name>
        <choiceText>Consultancy (cross-selling, up-selling, clienteling)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Consultancy (cross-selling, up-selling, clienteling)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5350251_f9cf_4ff3_bcb1_a25b9e5b1e95</name>
        <choiceText>Understanding International Customers Behaviours and Expectations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Understanding International Customers Behaviours and Expectations</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee4cc484_27ec_4c16_983b_db3059b3d050</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ef8c51ef_3346_4e15_907a_d3b652342268</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_170c9703_752f_4297_85d5_d99461100531</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1c3bb3e4_ccb7_4194_882f_cba691d94af6</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1c5d4a00_eb29_48fc_982a_57813f18710e</name>
        <choiceText>Not at All</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_202596ca_c953_42d0_bca7_560ce4987c8a</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_28db9cab_6476_44bb_bc3f_c4e0c5cea857</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_721c1971_6d39_4ded_9d0a_a96aef649e3e</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_89f00f85_d4f1_4106_9ef0_042f4b857600</name>
        <choiceText>Very</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_a65a51ac_3f77_4c87_a457_40eb8e9d0a06</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_b9e28f66_3a50_4180_903b_1f5a3e123a94</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_de281e26_a6e3_4d0b_aa2a_4ac89b45798d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_e30c319f_0f5f_47ba_9a70_c73774c5481a</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_c05a2c72_73d4_41e0_aa70_26779e80a65d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0da7f3e0_c4ab_4496_8a23_0e9096649b34</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_d86aecbf_8ed7_4d0f_bab6_2804162a5826</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_9b625ca4_bde3_4ed7_b65d_41a58d7b49e1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0da7f3e0_c4ab_4496_8a23_0e9096649b34</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>c_d86aecbf_8ed7_4d0f_bab6_2804162a5826</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Training Survey: Store Staff</interviewLabel>
    <label>Training Survey: Store Staff</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>training_survey_store_staff_cc09b5c1_dbaf_46d8_bdf1_2d245a137ec9_2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>ISTP_Staff_Training_1598700723927</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1b868f3d_ab1b_4c93_a9f8_349ad0bfe942</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cdbe42c4_d569_4e33_b7de_2aaa2c97b068</name>
            <choiceReferences>c_07980092_737a_4695_b286_62f0eb638a34</choiceReferences>
            <choiceReferences>c_3cc723b7_6a08_4420_a5e2_0590ce955398</choiceReferences>
            <choiceReferences>c_e5350251_f9cf_4ff3_bcb1_a25b9e5b1e95</choiceReferences>
            <choiceReferences>c_28cc2ad0_1c5f_405d_88dc_26e9f320e6ea</choiceReferences>
            <choiceReferences>c_bb92b480_e3fe_4517_ba1b_315865a929f3</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What topic of the training content did you find most valuable?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Select one</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d6b7d0e7_a1db_4e62_8f93_fcba4a454a18</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Since you selected &#39;Other&#39;, please provide more details&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_cdbe42c4_d569_4e33_b7de_2aaa2c97b068</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_bb92b480_e3fe_4517_ba1b_315865a929f3</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ad38db71_9e91_45be_afa3_4eb6fcfc5524</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a0b32990_62c9_4f10_a1eb_d687a363e4c7</name>
            <choiceReferences>c_fddf7db7_ec20_419b_9a14_4593d54a9f47</choiceReferences>
            <choiceReferences>c_f64a8eaa_ea23_4690_b0bb_30139cf4703f</choiceReferences>
            <choiceReferences>c_ac22c6d0_db17_4cab_b47f_375a2bfd5c94</choiceReferences>
            <choiceReferences>c_5583f2cd_9318_4761_a90b_782694cd74ae</choiceReferences>
            <choiceReferences>c_4baab17c_9cff_479a_9af1_31821bff8e17</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How would you score the trainers knowledge of their subject?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b5ceb41_0019_4949_8af9_55f3887b9a4d</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a61cf838_c4af_49fc_a898_36431f510bb4</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b240b185_66b1_4d0b_b452_d8e898b28a3a</name>
            <choiceReferences>c_ee4cc484_27ec_4c16_983b_db3059b3d050</choiceReferences>
            <choiceReferences>c_7508e64c_0b5e_41f8_a8d6_01884cd440e1</choiceReferences>
            <choiceReferences>c_94201ba1_7a0c_4e58_98a2_64591c3a9987</choiceReferences>
            <choiceReferences>c_9963c138_e879_4062_a9db_c79b4331c42e</choiceReferences>
            <choiceReferences>c_9dd5854f_53fd_4153_ae91_493d564db046</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied were you with the content of this training?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_969a4f5d_2ed4_49bc_8bd5_65c74307233e</name>
        <label>Page 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c6d1e478_da3c_4a51_9d59_3cc264c3881e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5ec5d21a_aa1e_4026_b9fa_ae466c390321</name>
            <choiceReferences>c_d2608699_f509_480b_b657_87729b8223f4</choiceReferences>
            <choiceReferences>c_6148b364_6fcb_435b_90f1_fed1b6483bd9</choiceReferences>
            <choiceReferences>c_9d4ec3c8_ff71_4716_a42d_a80e2d728171</choiceReferences>
            <choiceReferences>c_54c332d5_e4d4_4ce8_971e_be71a2dec20a</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please select what your score is based on:&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select one or more</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a61cf838_c4af_49fc_a898_36431f510bb4</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6a222436_5c41_4ac3_bcc1_021c9a2198fe</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cc0cd11f_93bc_45eb_b1ef_1f0f4d606d39</name>
            <choiceReferences>c_25ea3a60_9e4f_461b_940b_b699c4d6c03b</choiceReferences>
            <choiceReferences>c_795319a0_6dba_43a5_bb3e_4583f5fa9299</choiceReferences>
            <choiceReferences>c_0d984942_c175_4350_b17a_7bc2832705a0</choiceReferences>
            <choiceReferences>c_583ec3c7_026f_4908_b3ff_a63a3d5a0a0f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What is your score based on?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select one or more</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ad38db71_9e91_45be_afa3_4eb6fcfc5524</name>
        <label>Page 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c47cf25b_3a08_4471_945b_6fd880a86e09</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dd3c335a_378b_421a_85d1_3ff61f728e66</name>
            <choiceReferences>c_c9db7592_7e2c_4764_85a6_71a57aa7eb8b</choiceReferences>
            <choiceReferences>c_8435d5a6_846f_4043_aea2_41c502139ed8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Was there a topic you would like to have had included in the content?&lt;/b&gt;&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3a928bba_0c6f_4b81_a1a2_6654fb1249e8</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Which topic?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_dd3c335a_378b_421a_85d1_3ff61f728e66</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_c9db7592_7e2c_4764_85a6_71a57aa7eb8b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c47cf25b_3a08_4471_945b_6fd880a86e09</name>
        <label>Page 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_fac284f2_de61_44fc_bb00_26bb4039b2d6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_092535b8_1d11_4ee0_9afd_2b42244df71c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_092535b8_1d11_4ee0_9afd_2b42244df71c</name>
            <choiceReferences>S_1c5d4a00_eb29_48fc_982a_57813f18710e</choiceReferences>
            <choiceReferences>S_202596ca_c953_42d0_bca7_560ce4987c8a</choiceReferences>
            <choiceReferences>S_b9e28f66_3a50_4180_903b_1f5a3e123a94</choiceReferences>
            <choiceReferences>S_a65a51ac_3f77_4c87_a457_40eb8e9d0a06</choiceReferences>
            <choiceReferences>S_89f00f85_d4f1_4106_9ef0_042f4b857600</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Are you satisfied sufficient time was given to cover each training topic?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_e30c319f_0f5f_47ba_9a70_c73774c5481a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0da7f3e0_c4ab_4496_8a23_0e9096649b34</name>
            <choiceReferences>c_1ee84bbc_a7f1_462e_9320_2f0c7682098e</choiceReferences>
            <choiceReferences>c_a159c1fc_f3ae_4e76_927f_1ceaf18c4984</choiceReferences>
            <choiceReferences>c_d86aecbf_8ed7_4d0f_bab6_2804162a5826</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please select the training course attended.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Select one</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c6d1e478_da3c_4a51_9d59_3cc264c3881e</name>
        <label>Page 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6b43de9c_9a8c_46a2_a1b3_bf96a7cabde4_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_6b43de9c_9a8c_46a2_a1b3_bf96a7cabde4</name>
            <choiceReferences>c_47bbc3f5_9cab_4b0a_bca4_5c7ea311ce37</choiceReferences>
            <choiceReferences>c_bf1d3d6f_16b2_4fc0_9e18_be3ff4594bcc</choiceReferences>
            <choiceReferences>c_ef8c51ef_3346_4e15_907a_d3b652342268</choiceReferences>
            <choiceReferences>c_2753d1db_46ac_4b53_9504_5c70559458e4</choiceReferences>
            <choiceReferences>c_196395ad_0c59_4638_9b9b_c2ade85a08c3</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How likely are you to recommend Planet Consultancy?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3db53000_1fe1_4dae_b734_d87337e21020</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please enter any additional comments.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e301c522_496e_41cd_b26e_656e60b1c8f3</name>
        <label>Page 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_969a4f5d_2ed4_49bc_8bd5_65c74307233e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_1492fa7b_b78c_4500_93bc_1c9cbf11dc1d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_1492fa7b_b78c_4500_93bc_1c9cbf11dc1d</name>
            <choiceReferences>S_170c9703_752f_4297_85d5_d99461100531</choiceReferences>
            <choiceReferences>S_1c3bb3e4_ccb7_4194_882f_cba691d94af6</choiceReferences>
            <choiceReferences>S_721c1971_6d39_4ded_9d0a_a96aef649e3e</choiceReferences>
            <choiceReferences>S_de281e26_a6e3_4d0b_aa2a_4ac89b45798d</choiceReferences>
            <choiceReferences>S_28db9cab_6476_44bb_bc3f_c4e0c5cea857</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How effective overall would you consider this training?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fac284f2_de61_44fc_bb00_26bb4039b2d6</name>
        <label>Page 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_e301c522_496e_41cd_b26e_656e60b1c8f3</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_51393617_48f2_410c_9a75_d8e513115499_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_51393617_48f2_410c_9a75_d8e513115499</name>
            <choiceReferences>c_44be6876_8911_43df_b3c4_1f470adb6fbe</choiceReferences>
            <choiceReferences>c_8836fb11_b70b_424c_91c3_c5e7f4357264</choiceReferences>
            <choiceReferences>c_680a73b6_9e3c_4fc1_9c7f_728ab323e034</choiceReferences>
            <choiceReferences>c_4f02f989_894e_4da1_a314_ed1ceff6593b</choiceReferences>
            <choiceReferences>c_11dd4be7_bacf_46d6_8e17_68ac9ca00757</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How satisfied are you that you will be able to apply what was learned during the training?&lt;/b&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_c5d778c4_e4ec_475d_8eb7_f03910f897f7</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Thank you&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; for your feedback!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fintrax--c.documentforce.com/file-asset-public/Planet_Letter_New?oid=00D24000000ac79&amp;amp;v=1&quot; alt=&quot;Planet Letter New&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Store Staff Training Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_092535b8_1d11_4ee0_9afd_2b42244df71c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_1492fa7b_b78c_4500_93bc_1c9cbf11dc1d_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_51393617_48f2_410c_9a75_d8e513115499_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_6b43de9c_9a8c_46a2_a1b3_bf96a7cabde4_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a0b32990_62c9_4f10_a1eb_d687a363e4c7_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b240b185_66b1_4d0b_b452_d8e898b28a3a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
