unpackaged/main/default/flows/Unit_Ship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_Unit_Legacy_History</name>
        <label>Assign Values to Unit Legacy History</label>
        <locationX>316</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>UnitLegacyHistory.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitLegacyHistory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitLegacyHistory.Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tracking_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitLegacyHistory.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitLegacyHistory.Associated_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_POS_Solution_Account.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitLegacyHistory.Courier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Courier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Unit_Legacy_History</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TNT</name>
        <choiceText>TNT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TNT</stringValue>
        </value>
    </choices>
    <choices>
        <name>UPS</name>
        <choiceText>UPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPS</stringValue>
        </value>
    </choices>
    <interviewLabel>Unit Ship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit Ship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Unit_Legacy_History</name>
        <label>Create Unit Legacy History</label>
        <locationX>458</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Update_Parent_Unit_Status</targetReference>
        </connector>
        <inputReference>UnitLegacyHistory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_POS_Solution_Account</name>
        <label>Get POS Solution Account</label>
        <locationX>176</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Unit_Legacy_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>POS_Solution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Unit_Status</name>
        <label>Update Parent Unit Status</label>
        <locationX>601</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>In Store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <screens>
        <name>Ship_Unit</name>
        <label>Ship Unit</label>
        <locationX>176</locationX>
        <locationY>228</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_POS_Solution_Account</targetReference>
        </connector>
        <fields>
            <name>Tracking_Number</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Courier</name>
            <choiceReferences>TNT</choiceReferences>
            <choiceReferences>UPS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Courier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Delivery_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Expected Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>602</locationX>
        <locationY>227</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Unit Shipped Successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Ship_Unit</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UnitLegacyHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Unit_Legacy_History__c</objectType>
    </variables>
</Flow>
