unpackaged/main/default/flows/Update_Total_Pan_Euro_Opportunity_Value_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>For_Each_Related_Opportunity</name>
        <label>For Each Related Opportunity</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculationofTotalOpportunityValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Related_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_Record_Variable</name>
        <label>Parent Record Variable</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>ParentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalculationofTotalOpportunityValues</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_Over_Related_Opportunity_Record.Total_Opportunity_Value_Converted__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Total Pan Euro Opportunity Value New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Pan Euro Opportunity Value New</label>
    <loops>
        <name>Iterate_Over_Related_Opportunity_Record</name>
        <label>Iterate Over Related Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>RelatedOpportunityRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>For_Each_Related_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Opportunity_Records</name>
        <label>Get Related Opportunity Records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Related_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>RelatedOpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Opportunity_Value_Converted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Opportunity</name>
        <label>Update Parent Opportunity</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Pan_Euro_Opp_Value__c</field>
            <value>
                <elementReference>Total</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Record_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
